.profiles{'ng-controller' => 'ProfileEditCtrl', 'ng-init' => "getProfile(#{@profile.id})"}
  .user-profile
    -if @profile.covers.present? && @profile.user.chef == true
      #remove-image.btn.edit{"ng-click" => "removeProfileImages()"} remove image
    #remove-image.btn{"ng-click" => "removeProfileImages()"} remove image
    #profile-carousel.carousel.slide.hidden-phone
      .carousel-inner
        -if @profile.user.chef == true
          -if @profile.covers.present?
            -@profile.covers.each_with_index do |i, index|
              -if index == 0
                .item.active
                  = image_tag i.image
              -else
                .item
                  = image_tag i.image
          -else
            %p This is a default cover photo. <br> Replace by uploading cover images!
            .item.active.default
              =image_tag "Food 9.jpg"
        -else
          .item.active.default
            =image_tag "Food 9.jpg"
    -if @profile.covers.count > 1
      %a.carousel-control.left.hidden-phone{"data-slide" => "prev", :href => "#profile-carousel"} ‹
      %a.carousel-control.right.hidden-phone{"data-slide" => "next", :href => "#profile-carousel"} ›
        
    .container
      -if @profile.user.chef == false 
        .row.user-overview
          .span5.user-profile-overview
            %table
              %tr
                -if @profile.avatar.present?
                  %td.profile-photo
                    =image_tag @profile.avatar.image 
                -else
                  %td.profile-photo
                    =image_tag "Foodie-Default-Profile-Image.png"
                %td.user-title
                  %h1#default-text{'ng-show'=>'profile.name=="" || profile.name==nil'} #{@profile.user.first_name} #{@profile.user.last_name}
                  %h1
                    {{profile.name}}
                  %h2#default-text{'ng-show'=>'profile.blurb=="" || profile.blurb==nil'} #{@profile.blurb}
                  %h2 
                    {{profile.blurb}}   

            .profile-summary-logistics-container
              .profile-summary-logistics
                %h3#default-text{'ng-show'=>'profile.location.neighborhood=="" || profile.location.neighborhood==nil'} Your Neighborhood
                %h3
                  {{profile.location.neighborhood}}
                %h3#default-text{'ng-show'=>'profile.location.city=="" || profile.location.city==nil || profile.location.state=="" || profile.location.state==nil || profile.location.zipcode=="" || profile.location.zipcode==nil'} Your City, State and Zipcode       
                %h3{'ng-hide' => 'profile.location.zipcode=="" || profile.location.zipcode==nil'} {{profile.location.city + ','}} {{profile.location.state}} {{profile.location.zipcode}}
                %ul.nav.profile-button-group
                  %li
                    %button.btn.btn-inverse{'data-toggle' => 'pill', 'ng-click' => 'appear = "events"'} Events
                  %li
                    %button.btn.btn-inverse{'data-toggle' => 'pill', 'ng-click' => 'appear = "campaigns"'} Campaigns
                  %li
                    %button.btn.btn-inverse{'data-toggle' => 'pill', 'ng-click' => 'appear = "following"'} Following
          .span1.edit-button
            %button.btn.btn-inverse{'ng-click' => 'appear="edit"'} Edit
          .span6
            .user-events{'ng-show' => 'appear == "events"'}
              %h1 Events
              %ul.nav.nav-tabs
                %li.active
                  %a{"data-toggle" => "tab", :href => "#upcoming-events"} Upcoming
                %li
                  %a{"data-toggle" => "tab", :href => "#past-events"} Past
                %li
                  %a{"data-toggle" => "tab", :href => "#followed-events"} Following
              #myTabContent.tab-content
                #upcoming-events.tab-pane.fade.active.in
                  %table.events-table
                    %tr 
                      %td name
                      %td host
                      %td date/time
                      %td location
                      %td # friends going
                      %td # seats left @ $price
                    %tr.current-user-rank
                      %td name
                      %td host
                      %td date/time
                      %td location
                      %td # friends going
                      %td # seats left @ $price
                    %tr 
                      %td name
                      %td host
                      %td date/time
                      %td location
                      %td # friends going
                      %td # seats left @ $price
                #past-events.tab-pane.fade
                  %table.events-table
                    %tr 
                      %td name
                      %td host
                      %td date/time
                      %td event feedback link
                      %td next event link
                    %tr 
                      %td name
                      %td host
                      %td date/time
                      %td event feedback link
                      %td next event link
                    %tr 
                      %td name
                      %td host
                      %td date/time
                      %td event feedback link
                      %td next event link
                #followed-events.tab-pane.fade
                  %table.events-table
                    %tr 
                      %td name
                      %td host
                      %td date/time
                      %td # friends going
                      %td # seats left @ $price
                    %tr 
                      %td name
                      %td host
                      %td date/time
                      %td # friends going
                      %td # seats left @ $price
                    %tr 
                      %td name
                      %td host
                      %td date/time
                      %td # friends going
                      %td # seats left @ $price
            .user-campaigns{'ng-show' => 'appear == "campaigns"'}
              %h1 Campaigns
              %ul.nav.nav-tabs
                %li.active
                  %a{"data-toggle" => "tab", :href => "#joined-campaigns"} Joined
                %li
                  %a{"data-toggle" => "tab", :href => "#started-campaigns"} Started
              #myTabContent.tab-content
                #joined-campaigns.tab-pane.fade.active.in
                  %table.campaigns-table
                    %tr 
                      %td host
                      %td X people to tilt
                      %td status/days left
                    %tr.current-user-rank
                      %td host
                      %td X people to tilt
                      %td status/days left
                    %tr 
                      %td host
                      %td X people to tilt
                      %td status/days left
                #started-campaigns.tab-pane.fade
                  %table.campaigns-table
                    %tr 
                      %td host
                      %td X people to tilt
                      %td status/days left
                    %tr 
                      %td host
                      %td X people to tilt
                      %td status/days left
                    %tr 
                      %td host
                      %td X people to tilt
                      %td status/days left

            .user-following{'ng-show' => 'appear == "following"'}
              %h1 Following
              %ul.nav.nav-tabs
                %li.active
                  %a{"data-toggle" => "tab", :href => "#business-following"} Businesses
                %li
                  %a{"data-toggle" => "tab", :href => "#foodie-following"} Foodies
              #myTabContent.tab-content
                #business-following.tab-pane.fade.active.in
                  %table.following-table
                    %tr 
                      %td 
                        =link_to image_tag("Chef-Default-Profile-Image.png"), "#"
                      %td Name
                      %td Number of Followers
                      %td
                        %a.sb.heart.circle.no-border.no-shadow.orange.black.profile-follow{'ng-controller'=>'HeartCtrl', 'ng-init' => "wah='#{'yomomma'}'", 'ng-click' => 'follow()'}
                    %tr.current-user-rank
                      %td 
                        =link_to image_tag("Chef-Default-Profile-Image.png"), "#"
                      %td Name
                      %td Number of Followers
                      %td
                        %a.sb.heart.circle.no-border.no-shadow.orange.black.profile-follow{'ng-controller'=>'HeartCtrl', 'ng-init' => "wah='#{'yomomma'}'", 'ng-click' => 'follow()'}
                    %tr 
                      %td 
                        =link_to image_tag("Chef-Default-Profile-Image.png"), "#"
                      %td Name
                      %td Number of Followers
                      %td
                        %a.sb.heart.circle.no-border.no-shadow.orange.black.profile-follow{'ng-controller'=>'HeartCtrl', 'ng-init' => "wah='#{'yomomma'}'", 'ng-click' => 'follow()'}
                #foodie-following.tab-pane.fade
                  %table.following-table
                    %tr 
                      %td 
                        =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                      %td Name
                      %td Number of Followers
                      %td
                        %a.sb.heart.circle.no-border.no-shadow.orange.black.profile-follow{'ng-controller'=>'HeartCtrl', 'ng-init' => "wah='#{'yomomma'}'", 'ng-click' => 'follow()'}
                    %tr 
                      %td 
                        =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                      %td Name
                      %td Number of Followers
                      %td
                        %a.sb.heart.circle.no-border.no-shadow.orange.black.profile-follow{'ng-controller'=>'HeartCtrl', 'ng-init' => "wah='#{'yomomma'}'", 'ng-click' => 'follow()'}
                    %tr 
                      %td 
                        =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                      %td Name
                      %td Number of Followers
                      %td
                        %a.sb.heart.circle.no-border.no-shadow.orange.black.profile-follow{'ng-controller'=>'HeartCtrl', 'ng-init' => "wah='#{'yomomma'}'", 'ng-click' => 'follow()'}

            %form.user-summary-edit.clearfix{'ng-show' => "appear=='edit'", :name => 'profile_edit'}
              %button.close{"ng-click" => "appear=''", :type => "button"} close
              
              -#%input#profile-name{'ng-model'=>'profile.name', :type=>"text", :placeholder =>"Your Name", :required => "required", :name => "profile_name", 'ng-class' => "{error: profile_edit.profile_name.$invalid}"}

              %input#email{'ng-model'=>'profile.email', :name => "profile_email", 'ng-class' => "{error: profile_edit.profile_email.$invalid}", :type => "email", :required => 'required', :placeholder => "complete sign up process by providing your email"}

              %textarea#profile-blurb{:rows => "2", 'ng-model'=>'profile.blurb', :type=>"text", :placeholder =>"You, in the length of a tweet", :maxlength => "140", :name => "profile_blurb", 'ng-class' => "{error: profile_edit.profile_blurb.$invalid}"}

              %select#neighborhoods{'ng-model'=>'profile.neighborhood', :name => "profile_neighborhood", 'ng-class' => "{error: profile_edit.profile_neighborhood.$invalid}"}

              %input#profile-city{'ng-model'=>'profile.city', :type=>"text", :placeholder =>"Your City", :name => "profile_city", 'ng-class' => "{error: profile_edit.profile_city.$invalid}"}

              %select#state{'ng-model'=>'profile.state', :name => "profile_state", 'ng-class' => "{error: profile_edit.profile_state.$invalid}"}

              %input#profile-zip{'ng-model' => 'profile.zip', :type=>"text", :placeholder =>"Your Zip", :name => "profile_zip", :maxlength => "5", 'ng-pattern' => '/^[0-9]{5}$/', 'ng-class' => "{error: profile_edit.profile_zip.$invalid}"}
              
              .help-block{'ng-show' => 'profile_edit.profile_zip.$error.pattern'} Please enter a valid zip code
              .help-block{'ng-show' => 'profile_edit.profile_email.$error.email'} Please enter a valid email

              .help-block{'ng-show' => 'profile_edit.profile_email.$error.required'} All fields are required

              .clearfix
                %button.btn#profile-images-button{'ng-click'=> 'uploadAvatarImage()'} Change Profile Picture
              %button.btn.btn-warning#submit{'ng-disabled' => 'profile_edit.$invalid', 'ng-click' => 'saved = true'} Save Changes
              .help-block{'ng-show' => "saved"} Saved! (feel free to continue to make edits and save again)

      -else
        .row.user-overview
          .span5.user-profile-overview
            %table
              %tr
                -if @profile.avatar.present?
                  %td.profile-photo
                    =image_tag @profile.avatar.image 
                -else
                  %td.profile-photo
                    =image_tag "Chef-Default-Profile-Image.png"
                %td.user-title
                  %h1#default-text{'ng-show'=>'profile.bizName=="" || profile.bizName==nil'} Your Business's Name
                  %h1
                    {{profile.bizName}}
                  %h2#default-text{'ng-show'=>'profile.blurb=="" || profile.blurb==nil'} Blurb
                  %h2 
                    {{profile.blurb}}   

            .profile-summary-logistics-container
              .profile-summary-logistics
                %h3#default-text{'ng-show'=>'profile.location.neighborhood=="" || profile.location.neighborhood==nil'} Your Neighborhood
                %h3
                  {{profile.location.neighborhood}}
                %h3#default-text{'ng-show'=>'profile.location.address1=="" || profile.location.address1==nil'} Your Address
                %h3
                  {{profile.location.address1}}
                %h3#default-text{'ng-show'=>'profile.location.city=="" || profile.location.city==nil || profile.state=="" || profile.location.state==nil || profile.location.zipcode=="" || profile.location.zipcode==nil'} Your City, State and Zipcode       
                %h3{'ng-hide' => 'profile.location.zipcode=="" || profile.location.zipcode==nil'} {{profile.location.city + ','}} {{profile.location.state}} {{profile.location.zipcode}}
                %ul.nav.profile-button-group
                  %li
                    %button.btn.btn-inverse{'data-toggle' => 'pill', 'ng-click' => 'appear = "news"'} News
                  %li
                    %button.btn.btn-inverse{'data-toggle' => 'pill', 'ng-click' => 'appear = "story"'} Story
                  %li
                    %button.btn.btn-inverse{'data-toggle' => 'pill', 'ng-click' => 'appear = "events"'} Events
                  %li
                    %button.btn.btn-inverse{'data-toggle' => 'pill', 'ng-click' => 'appear = "following"'} Followers
          .span1.edit-button
            %button.btn.btn-inverse{'ng-click' => 'appear="edit"'} Edit
          .span6
            .user-news{'ng-show' => 'appear == "news"'}
              %button.close{"ng-click" => "appear=''", :type => "button"} close
              %h1 News
              .pre-edit{'ng-hide' => 'edit == "news"'}
                %h3#default-text{'ng-show'=>'profile.news=="" || profile.news==nil'} Have news on your business to share? Tell your fans so that they can know the latest!
                %h3
                  {{profile.news}}
                %button.btn.btn-inverse.edit{'ng-click' => 'edit = "news"'} Update News
              .edit-form{'ng-show' => 'edit == "news"'}
                %form{:name => 'edit_news'}
                  %textarea.clearfix{:rows => 3, :placeholder => 'Write the latest news on your business here!', :name => 'news', :required => "required", 'ng-model' => 'profile.news', 'ng-class' => "{error: edit_news.news.$invalid}"}
                  .help-block{'ng-show' => 'edit_news.news.$error.required'} Required
                  %button.btn.btn-warning.edit{'ng-disabled' => 'edit_news.$invalid', 'ng-click' => "editProfile(profile);edit='';appear='news'"} Save Changes

            .user-story{'ng-show' => 'appear == "story"'}
              %button.close{"ng-click" => "appear=''", :type => "button"} close
              %h1 Your Story
              .pre-edit{'ng-hide' => 'edit == "story"'}
                %h3#default-text{'ng-show'=>'profile.story=="" || profile.story==nil'} Oops, you've yet to tell everyone your story! Hit the edit button to write up an interesting story on your business!
                %h3
                  {{profile.story}}
                %button.btn.btn-inverse.edit{'ng-click' => 'edit = "story"'} Update Story              
              .edit-form{'ng-show' => 'edit == "story"'}
                %form{:name => 'edit_story'}
                  %textarea.clearfix{:rows => 3, :placeholder => 'Write up an interesting story on your business!', :name => 'story', :required => "required", 'ng-model' => 'profile.story', 'ng-class' => "{error: edit_story.story.$invalid}"}
                  .help-block{'ng-show' => 'edit_story.story.$error.required'} Required
                  %button.btn.btn-warning.edit{'ng-disabled' => 'edit_story.$invalid', 'ng-click' => 'editProfile(profile);edit="";appear="story"'} Save Changes

            .user-events{'ng-show' => 'appear == "events"'}
              %button.close{"ng-click" => "appear=''", :type => "button"} close
              %h1 Events
              %ul.nav.nav-tabs
                %li.active
                  %a{"data-toggle" => "tab", :href => "#upcoming-events"} Upcoming
                %li
                  %a{"data-toggle" => "tab", :href => "#past-events"} Past
              #myTabContent.tab-content
                #upcoming-events.tab-pane.fade.active.in
                  -if @profile.future_host_events.count > 0
                    %table.events-table
                      %tr
                        %td Name
                        %td When
                        %td Status
                        %td Total
                        %td Follows
                        %td 
                        -#%td Shares  
                      -for event in @profile.future_host_events
                        %tr
                          %td 
                            %a{:href => event_path(event)} 
                              =event.title
                          %td 
                            =event.date.strftime("%b %e")
                          %td 
                            ="#{event.guests_count} of #{event.people_limit} filled @ $#{"%g" % (event.cost)}"
                          %td 
                            ="$#{"%g" % (event.guests_count*event.cost)}"
                          %td 
                            =event.follows.count
                          %td.link
                            %a{:href => edit_event_path(event)}
                              Edit
                          -#%td 
                            =# shared
                  -else
                    Looks like you have no upcoming events. Create one today!
                  .user-events-button
                    %a.button.btn.btn-inverse.edit{:href=>"/events/new"} Create an Event 
                #past-events.tab-pane.fade
                  -if @profile.past_host_events.count >0
                    %table.events-table
                      %tr 
                        %td Name
                        %td When
                        %td Status
                        %td Revenue
                        -#%td event feedback stats(?)
                      -for event in @profile.past_host_events
                        %tr 
                          %td
                            %a{:href => event_path(event)} 
                              =event.title
                          %td
                            =event.date.strftime("%b %e")
                          %td
                            ="#{event.guests_count} of #{event.people_limit} filled @ $#{"%g" % (event.cost)}"
                          %td
                            ="$#{"%g" % (event.guests_count*event.cost)}"
                          -#%td event feedback stats(?)
                  -else
                    %p
                    Looks like you have no past events.
            .user-following{'ng-show' => 'appear == "following"'}
              %button.close{"ng-click" => "appear=''", :type => "button"} close
              %h1 Your Followers
              %ul.nav.nav-tabs
                %li.active
                  %a{"data-toggle" => "tab", :href => "#foodie-following"} Foodies
                %li
                  %a{"data-toggle" => "tab", :href => "#business-following"} Businesses
              #myTabContent.tab-content
                #foodie-following.tab-pane.fade.active.in
                  -if @profile.follows.count > 0
                    %table.following-table
                      -for follow in @profile.follows
                        -if follow.user.chef == false
                          %tr 
                            %td
                              -if follow.user.profile.avatar.present?
                                =image_tag(follow.user.profile.avatar)
                              -else
                                =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                            %td
                              %a{:href=>"/profiles/#{follow.user.profile.id}"}
                                ="#{follow.user.first_name} #{follow.user.last_name}"
                            -#%td Number of Followers
                            -#%td
                              %a.sb.heart.circle.no-border.no-shadow.black.orange.profile-follow{'ng-controller'=>'HeartCtrl', 'ng-init' => "wah='#{'yomomma'}'", 'ng-click' => 'follow()'}
                #business-following.tab-pane.fade
                  %table.following-table
                    -for follow in @profile.follows
                      -if follow.user.chef == true
                        %tr 
                          %td
                            -if follow.user.profile.avatar.present?
                              =image_tag(follow.user.profile.avatar)
                            -else
                              =link_to image_tag("Chef-Default-Profile-Image.png"), "#"
                          %td
                            %a{:href=>"/profiles/#{follow.user.profile.id}"}
                              ="#{follow.user.first_name} #{follow.user.last_name}"
                          -#%td Number of Followers
                          -#%td
                            %a.sb.heart.circle.no-border.no-shadow.black.orange.profile-follow{'ng-controller'=>'HeartCtrl', 'ng-init' => "wah='#{'yomomma'}'", 'ng-click' => 'follow()'}

            %form.user-summary-edit.clearfix{:name => "profile_edit", 'ng-show' => "appear=='edit'", :id => "profile_edit"}
              %button.close{"ng-click" => "appear=''", :type => "button"} close

              %input#email{'ng-model'=>'profile.email', :name => "profile_email", 'ng-class' => "{error: profile_edit.profile_email.$invalid}", :type => "email", :required => 'required', :placeholder => "email"}

              %input#profile-name{'ng-model'=>'profile.bizName', :type=>"text", :placeholder =>"Your Business's Name", :required => "required", :name => "profile_bizName", 'ng-class' => "{error: profile_edit.profile_bizName.$invalid}"}

              %textarea#profile-blurb{:rows => "2", 'ng-model'=>'profile.blurb', :type=>"text", :placeholder =>"You, in the length of a tweet (you can add more under 'Our Story')", :maxlength => "140", :name => "profile_blurb", :required => "required", 'ng-class' => "{error: profile_edit.profile_blurb.$invalid}"}

              %select#neighborhoods{'ng-model'=>'profile.location.neighborhood', :name => "profile_neighborhood", :required => "required", 'ng-class' => "{error: profile_edit.profile_neighborhood.$invalid}"}

              %input#profile-address{'ng-model'=>'profile.location.address1', :type=>"text", :placeholder =>"Your Business Address", :required => "required", :name => "profile_address", 'ng-class' => "{error: profile_edit.profile_address.$invalid}"}

              %input#profile-city{'ng-model'=>'profile.location.city', :type=>"text", :placeholder =>"Your City", :required => "required", :name => "profile_city", 'ng-class' => "{error: profile_edit.profile_city.$invalid}"}

              %select#state{'ng-model'=>'profile.location.state', :required => "required", :name => "profile_state", 'ng-class' => "{error: profile_edit.profile_state.$invalid}"}

              %input#profile-zip{'ng-model' => 'profile.location.zipcode', :type=>"text", :placeholder =>"Your Zip", :required => "required", :name => "profile_zip", :maxlength => "5", 'ng-pattern' => '/^[0-9]{5}$/', 'ng-class' => "{error: profile_edit.profile_zip.$invalid}"}
              
              .help-block{'ng-show' => 'profile_edit.profile_zip.$error.pattern'} Please enter a valid zip code
              .help-block{'ng-show' => 'profile_edit.profile_email.$error.email'} Please enter a valid email

              .help-block{'ng-show' => 'profile_edit.profile_bizName.$error.required || profile_edit.profile_blurb.$error.required || profile_edit.profile_address.$error.required || profile_edit.profile_city.$error.required || profile_edit.profile_state.$error.required || profile_edit.profile_zip.$error.required || profile_edit.profile_neighborhood.$error.required || profile_edit.profile_email.$error.required'} All fields are required

              .clearfix
                %button.btn#profile-images-button{'ng-click'=> 'uploadAvatarImage()'} Add Logo
                %button.btn#cover-images-button{'ng-click'=> 'uploadProfileImages()'} Upload Background Images
                %button.btn#yelp-connect{'ng-click' => 'yelp=true'} Connect Yelp
                %input#yelp{'ng-model'=>'profile.yelpId', :name => "profile_yelp", 'ng-class' => "{error: profile_edit.profile_yelp.$invalid}", :form => "profile_edit", 'ng-show' => 'yelp', :type => "url", :placeholder => 'Please enter your Yelp URL'}
                .help-block{'ng-show' => 'profile_edit.profile_yelp.$error.url'} Please enter a valid Yelp URL
                %span#yelp-explanation <a data-toggle = "tooltip" id = "why-yelp" title = "So guests know how great you already are and can easily leave you reviews!">Why?</a>
              %button.btn.btn-warning#submit{'ng-disabled' => 'profile_edit.$invalid', 'ng-click' => 'editProfile(profile);saved=true'} Save Changes
              .help-block{'ng-show' => "saved"} Saved! (feel free to continue to make edits and save again and be sure to add news and a story (buttons are on the left)!)

                
