-if @profile.user.chef == false
  =content_for :title, "#{@profile.user.first_name} #{@profile.user.last_name}'s Profile"
-else
  =content_for :title, "#{@profile.biz_name}'s Profile"

.profiles{'ng-controller' => 'ProfileShowCtrl'}
  .user-profile
    #profile-carousel.carousel.slide.hidden-phone
      .carousel-inner
        -if @profile.user.chef == true
          -if @profile.covers.present?
            -@profile.covers.each_with_index do |i, index|
              -if index == 0
                .active.item
                  =image_tag i.image
              -else
                .item
                  =image_tag i.image
        -else
          .active.item
            =image_tag "Food 6.jpg"
    -if @profile.user.chef == true
      -if @profile.covers.count > 1
        %a.carousel-control.left.hidden-phone{"data-slide" => "prev", :href => "#profile-carousel"} ‹
        %a.carousel-control.right.hidden-phone{"data-slide" => "next", :href => "#profile-carousel"} ›   
    .container
      -if @profile.user.chef == false 
        .row.user-overview{'ng-init' => "appear='events'"}
          .span5.user-profile-overview
            %table
              %tr
                -if @profile.avatar.present?
                  %td.profile-photo
                    =image_tag @profile.avatar.image 
                -else
                  %td.profile-photo
                    =image_tag "Foodie-Default-Profile-Image.png"
                %td.user-title
                  %h1
                    #{@profile.user.first_name} #{@profile.user.last_name}
                  -if @profile.blurb.present?
                    %h2 
                      =@profile.blurb 
                  -#-if @profile.neighborhood.present?
                    %h3 
                      =@profile.neighborhood
            .profile-summary-logistics-container
              .profile-summary-logistics
                %ul.nav.profile-button-group
                  -#%li
                    %button.btn.btn-inverse{'ng-click' => 'appear = "badges"', 'ng-class' => '{"badges": "btn-warning"}[appear]'} Badges
                  %li
                    %button.btn.btn-inverse{'ng-click' => 'appear = "events"', 'ng-class' => '{"events": "btn-warning"}[appear]'} Events
                  %li
                    %button.btn.btn-inverse{'ng-click' => 'appear = "campaigns"', 'ng-class' => '{"campaigns": "btn-warning"}[appear]'} Campaigns
                  -#
                    %li
                      %button.btn.btn-inverse{'ng-click' => 'appear = "followers"', 'ng-class' => '{"followers": "btn-warning"}[appear]'} Followers
                  %li
                    %button.btn.btn-inverse{'ng-click' => 'appear = "following"', 'ng-class' => '{"following": "btn-warning"}[appear]'} Following
                
            %table.user-social-stats{'ng-controller' => 'HeartCtrl', 'ng-init' => "follows=#{@profile.follows.count}; following = '#{is_user_there_and_following('Profile', @profile.id)}'"}
              %tr.icons
                -#%td
                  %a.sb.yelp.circle.no-border.no-shadow.black{:href=>"#"}
                %td
                  -if user_signed_in?
                    %a.sb.heart.circle.no-border.no-shadow{'ng-click' => "addFollower('Profile',#{@profile.id},#{user_signed_in?},follows)", "data-toggle" => "tooltip", :title => "Click to follow this person!", "data-placement" => "right", 'ng-class' => '{true: "red", false: "black"}[following]'}
                  -else
                    %a.sb.heart.circle.no-border.no-shadow.black{:href => "#sign_up_foodie", "data-toggle" => "tooltip", :"data-toggle" =>"modal", :title => "Please sign in or sign up in order to follow!", "data-placement" => "right"}
                %td{'ng-click' => 'appear = "following"'}
                  %a.sb.heart.circle.no-border.no-shadow.gray
              %tr.user-stats
                -#%td 190
                %td
                  {{follows}}
                %td
                  =@profile.user.events_followed.count+@profile.user.users_followed.count
              %tr.user-stat-labels
                -#%td points
                %td followers
                %td following
            
          -if current_user
            -if current_user.id == @profile.user_id
              .span1.edit-button
                %a.btn.btn-inverse{:href=>"/profiles/#{@profile.user_id}/edit"} Edit
            -else
              .span1
          -else
            .span1
          .span6
            -#.badges{'ng-show' => 'appear == "badges"'}
              %h1 Badges
              %table.badges-table
                %tr
                  %td.single-badge
                    =image_tag "Favicon.png"
                  %td.single-badge
                    =image_tag "Favicon.png"
                  %td.single-badge
                    =image_tag "Favicon.png"
                  %td.single-badge
                    =image_tag "Favicon.png"
                  %td.single-badge
                    =image_tag "Favicon.png"
                %tr
                  %td.single-badge
                    =image_tag "Favicon.png"
                  %td.single-badge
                    =image_tag "Favicon.png"
                  %td.single-badge
                    =image_tag "Favicon.png"

            .user-events{'ng-show' => 'appear == "events"'}
              %button.close{"ng-click" => "appear=''", :type => "button"} close
              %h1 Events
              -if @profile.user.events_attended.count + @profile.user.events_followed.count > 0
                %table.events-table
                  %tr.heading
                    %td Event
                    %td Host
                    %td When
                    -#%td Where
                    -#%td Friends
                    -#
                      %td Status
                      %td Price
                  -for event in @profile.user.events_attended
                    %tr.current-user-rank
                      %td 
                        %a{:href => event_path(event)} 
                          =event.title
                      %td
                        =event.host.profile.biz_name
                      %td
                        =event.date.strftime("%b %e")
                      -#%td
                        ="#{event.location.address1}, #{event.location.neighborhood}"
                      -#%td
                        %td 
                          ="#{event.seats_left} seats left"
                        %td 
                          ="$#{"%g" % event.cost}"
                  -for event in @profile.user.events_followed
                    %tr.current-user-rank
                      %td 
                        %a{:href => event_path(event)} 
                          =event.title
                      %td
                        =event.host.profile.biz_name
                      %td
                        =event.date.strftime("%b %e")
                      -#%td
                        ="#{event.location.address1}, #{event.location.neighborhood}"
                      -#%td
                        %td 
                          ="#{event.seats_left} seats left"
                        %td 
                          ="$#{"%g" % event.cost}"
              -else
                %h3 No events yet!
              -#
                %ul.nav.nav-tabs
                  %li.active
                    %a{"data-toggle" => "tab", :href => "#upcoming-events"} Upcoming
                  %li
                    %a{"data-toggle" => "tab", :href => "#past-events"} Past
                  %li
                    %a{"data-toggle" => "tab", :href => "#followed-events"} Following
                #myTabContent.tab-content
                  #upcoming-events.tab-pane.fade.active.in
                    -if @profile.user.future_events.count > 0
                      %table.events-table
                        %tr.heading
                          %td Name
                          %td Host
                          %td When
                          -#
                            %td Status
                          %td Price
                        -for event in @profile.user.future_events
                          %tr
                            %td 
                              %a{:href => event_path(event)} 
                                =event.title
                            %td
                              =event.host.profile.biz_name
                            %td
                              =event.date.strftime("%b %e")
                            -#
                              %td 
                                ="#{event.seats_left} seats left"
                            %td
                              ="$#{"%g" % event.cost}"
                    -else
                      %h3 No upcoming events.
                  #past-events.tab-pane.fade
                    -if @profile.user.past_events.count > 0
                      %table.events-table
                        %tr.heading
                          %td Name
                          %td Host
                          %td When
                          %td Price
                        -for event in @profile.user.past_events
                          %tr
                            %td 
                              %a{:href => event_path(event)} 
                                =event.title
                            %td
                              =event.host.profile.biz_name
                            %td
                              =event.date.strftime("%b %e")
                            %td
                              ="$#{"%g" % event.cost}"
                    -else
                      %h3 No past events.
                  #followed-events.tab-pane.fade
                    -if @profile.user.events_followed.count > 0
                      %table.events-table
                        %tr.heading 
                          %td Name
                          %td Host
                          %td When
                          -#
                            %td Status
                          %td Price
                        -for event in @profile.user.events_followed
                          %tr 
                            -if event.upcoming?
                              %td
                                =event.title
                              %td
                                TBD...
                              %td
                              %td
                            -else
                              %td 
                                %a{:href => event_path(event)} 
                                  =event.title
                              %td
                                =event.host.profile.biz_name
                              %td
                                =event.date.strftime("%b %e")
                              -#%td 
                                ="#{event.seats_left} seats left"
                              %td
                                ="$#{"%g" % event.cost}"
                    -else
                      No events followed.

            .user-campaigns{'ng-show' => 'appear == "campaigns"'}
              %button.close{"ng-click" => "appear=''", :type => "button"} close
              %h1 Campaigns
              -if @profile.user.campaigns_followed.count + @profile.user.campaigns_started.count > 0
                %table.campaigns-table
                  %tr.heading
                    %td Business
                    %td Status
                    %td Days Left
                  -for campaign in @profile.user.campaigns_followed
                    %tr
                      %td 
                        %a{:href => campaign_path(campaign)} 
                          =campaign.biz_name
                      %td
                        =campaign.status
                      -if !campaign.expired?
                        %td
                          =campaign.days_left
                      -else
                        %td
                  -for campaign in @profile.user.campaigns_started
                    %tr
                      %td 
                        %a{:href => campaign_path(campaign)} 
                          =campaign.biz_name
                      %td
                        =campaign.status
                      -if !campaign.expired?
                        %td
                          =campaign.days_left
                      -else
                        %td
              -else
                No campaigns yet!
              -#
                %ul.nav.nav-tabs
                  %li.active
                    %a{"data-toggle" => "tab", :href => "#joined-campaigns"} Supporting
                  %li
                    %a{"data-toggle" => "tab", :href => "#started-campaigns"} Started
                #myTabContent.tab-content
                  #joined-campaigns.tab-pane.fade.active.in
                    -if @profile.user.campaigns_followed.count > 0
                      %table.campaigns-table
                        %tr.heading
                          %td Business
                          %td Status
                          %td Days Left
                        -for campaign in @profile.user.campaigns_followed
                          %tr
                            %td 
                              %a{:href => campaign_path(campaign)} 
                                =campaign.biz_name
                            %td
                              =campaign.status
                            -if !campaign.expired?
                              %td
                                =campaign.days_left
                            -else
                              %td
                    -else
                      No campaigns supported.
                  #started-campaigns.tab-pane.fade
                    -if @profile.user.campaigns_started
                      %table.campaigns-table
                        %tr.heading
                          %td Business
                          %td Status
                          %td Days Left
                        -for campaign in @profile.user.campaigns_started
                          %tr 
                            %td
                              %a{:href => campaign_path(campaign)} 
                                =campaign.biz_name
                            %td
                              =campaign.status
                            -if !campaign.expired?
                              %td
                                =campaign.days_left
                            -else
                              %td
                    -else
                      No campaigns started.

            .user-following{'ng-show' => 'appear == "following"'}
              %button.close{"ng-click" => "appear=''", :type => "button"} close
              %h1 Following
              -if @profile.user.followers.count > 0
                %table.following-table
                  -for follower in @profile.user.followers
                    %tr 
                      %td 
                        -if follower.profile.avatar.present?
                          =image_tag follower.profile.avatar.image
                        -elsif follower.chef==false
                          =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                        -else
                          =link_to image_tag("Chef-Default-Profile-Image.png"), "#"
                      %td 
                        %a{:href=>"/profiles/#{follower.profile.id}"}
                          ="#{follower.first_name} #{follower.last_name}"
                      -#%td
                        =follower.profile.follows.count
                      %td
                        %a.sb.heart.circle.no-border.no-shadow{'ng-controller'=>'HeartCtrl','ng-init' => "following = '#{is_user_there_and_following('Profile', follower.profile.id)}'", 'ng-click' => "follow('Profile',#{follower.profile.id},#{user_signed_in?})", 'ng-class' => '{true: "red", false: "black"}[following]'}
              -else
                %h3 No followers yet!
              -#
                %ul.nav.nav-tabs
                  %li.active
                    %a{"data-toggle" => "tab", :href => "#events-following"} Events
                  %li
                    %a{"data-toggle" => "tab", :href => "#business-following"} Businesses
                  %li
                    %a{"data-toggle" => "tab", :href => "#foodie-following"} Foodies
                #myTabContent.tab-content
                  #events-following.tab-pane.fade.active.in
                    -if @profile.user.events_followed.count > 0
                      %table.events-table
                        %tr.heading 
                          %td Name
                          %td Host
                          %td When
                          -#
                            %td Status
                          %td Price
                        -for event in @profile.user.events_followed
                          %tr 
                            %td 
                              %a{:href => event_path(event)} 
                                =event.title
                            %td
                              =event.host.profile.biz_name
                            %td
                              =event.date.strftime("%b %e")
                            -#
                              %td 
                                ="#{event.seats_left} seats left"
                            %td
                              ="$#{"%g" % event.cost}"
                    -else
                      No events followed.
                  #business-following.tab-pane.fade
                    -if @profile.user.businesses_followed.count > 0
                      %table.following-table
                        -for business in @profile.user.businesses_followed
                          %tr
                            %td
                              -if business.profile.avatar.present?
                                =image_tag business.profile.avatar.image
                              -else
                                =image_tag("Chef-Default-Profile-Image.png")
                            %td
                              %a{:href=>"/profiles/#{business.profile.id}"}
                                =business.profile.biz_name
                            -#%td 
                              =business.profile.follows.count
                            %td
                              -if user_signed_in?
                                %a.sb.heart.circle.no-border.no-shadow{'ng-controller'=>'HeartCtrl','ng-init' => "following = '#{is_user_there_and_following('Profile', business.profile.id)}'", 'ng-click' => "follow('Profile',#{business.profile.id},#{user_signed_in?})", 'ng-class' => '{true: "red", false: "black"}[following]'}
                              -else
                                %a.sb.heart.circle.no-border.no-shadow.black{:href => "#sign_up_foodie", "data-toggle" => "tooltip", :"data-toggle" =>"modal", :title => "Please sign in or sign up in order to follow!", "data-placement" => "right"}
                    -else
                      No businesses followed.
                  #foodie-following.tab-pane.fade
                    -if @profile.user.foodies_followed.count > 0
                      %table.following-table
                        -for foodie in @profile.user.foodies_followed
                          %tr 
                            %td
                              -if foodie.profile.avatar.present?
                                =image_tag foodie.profile.avatar.image
                              -else
                                =image_tag("Foodie-Default-Profile-Image.png")
                            %td
                              %a{:href=>"/profiles/#{foodie.profile.id}"}
                                ="#{foodie.first_name} #{foodie.last_name}"
                            -#%td
                              =foodie.profile.follows.count
                            %td
                              -if user_signed_in?
                                %a.sb.heart.circle.no-border.no-shadow{'ng-controller'=>'HeartCtrl','ng-init' => "following = '#{is_user_there_and_following('Profile', foodie.profile.id)}'", 'ng-click' => "follow('Profile',#{foodie.profile.id},#{user_signed_in?})", 'ng-class' => '{true: "red", false: "black"}[following]'}
                              -else
                                %a.sb.heart.circle.no-border.no-shadow.black{:href => "#sign_up_foodie", "data-toggle" => "tooltip", :"data-toggle" =>"modal", :title => "Please sign in or sign up in order to follow!", "data-placement" => "right"}
                    -else
                      No foodies followed.
            -#
              .user-followers{'ng-show' => 'appear == "followers"'}
                %button.close{"ng-click" => "appear=''", :type => "button"} close
                %h1 Followers
                %ul.nav.nav-tabs
                  %li.active
                    %a{"data-toggle" => "tab", :href => "#business-followers"} Businesses
                  %li
                    %a{"data-toggle" => "tab", :href => "#foodie-followers"} Foodies
                #myTabContent.tab-content
                  #business-followers.tab-pane.fade.active.in
                    -if @profile.user.business_followers.count > 0
                      %table.following-table
                        -for business in @profile.user.business_followers
                          %tr
                            %td 
                              -if business.profile.avatar.present?
                                =image_tag business.profile.avatar.image
                              -else
                                =image_tag("Chef-Default-Profile-Image.png")
                            %td
                              %a{:href=>"/profiles/#{business.profile.id}"}
                                =business.profile.biz_name
                            -#%td
                              =business.profile.follows.count
                            %td
                              -if user_signed_in?
                                %a.sb.heart.circle.no-border.no-shadow{'ng-controller'=>'HeartCtrl','ng-init' => "following = '#{is_user_there_and_following('Profile', business.profile.id)}'", 'ng-click' => "follow('Profile',#{business.profile.id},#{user_signed_in?})", 'ng-class' => '{true: "red", false: "black"}[following]'}
                              -else
                                %a.sb.heart.circle.no-border.no-shadow.black{:href => "#sign_up_foodie", "data-toggle" => "tooltip", :"data-toggle" =>"modal", :title => "Please sign in or sign up in order to follow!", "data-placement" => "right"}
                    -else
                      No business followers.
                  #foodie-followers.tab-pane.fade
                    -if @profile.user.foodie_followers.count > 0
                      %table.following-table
                        -for foodie in @profile.user.foodie_followers
                          %tr 
                            %td 
                              -if foodie.profile.avatar.present?
                                =image_tag foodie.profile.avatar.image
                              -else
                                =image_tag("Foodie-Default-Profile-Image.png")
                            %td 
                              %a{:href=>"/profiles/#{foodie.profile.id}"}
                                ="#{foodie.first_name} #{foodie.last_name}"
                            -#%td
                              =foodie.profile.follows.count
                            %td
                              -if user_signed_in?
                                %a.sb.heart.circle.no-border.no-shadow{'ng-controller'=>'HeartCtrl','ng-init' => "following = '#{is_user_there_and_following('Profile', foodie.profile.id)}'", 'ng-click' => "follow('Profile',#{foodie.profile.id},#{user_signed_in?})", 'ng-class' => '{true: "red", false: "black"}[following]'}
                              -else
                                %a.sb.heart.circle.no-border.no-shadow.black{:href => "#sign_up_foodie", "data-toggle" => "tooltip", :"data-toggle" =>"modal", :title => "Please sign in or sign up in order to follow!", "data-placement" => "right"}
                    -else
                      No foodie followers.

      -else
        .row.user-overview{'ng-init' => "appear='events'"}
          .span5.user-profile-overview
            %table
              %tr
                -if @profile.avatar.present?
                  %td.profile-photo
                    =image_tag @profile.avatar.image 
                -else
                  %td.profile-photo
                    =image_tag "Chef-Default-Profile-Image.png"
                %td.user-title
                  %h1
                    =@profile.biz_name 
                  %h2 
                    =@profile.blurb 
            .profile-summary-logistics-container
              .profile-summary-logistics
                -if @profile.location.present?
                  %h3 
                    #{@profile.location.address1} <br> #{@profile.location.city}, #{@profile.location.state} #{@profile.location.zipcode}
                  %a.business-website{:href => "#{@profile.website}"} Visit #{@profile.biz_name}'s Website

                %ul.nav.profile-button-group-chef
                  %li
                    %button.btn.btn-inverse{'ng-click' => 'appear = "news"', 'ng-class' => '{"news": "btn-warning"}[appear]'} News
                  %li
                    %button.btn.btn-inverse{'ng-click' => 'appear = "story"', 'ng-class' => '{"story": "btn-warning"}[appear]'} Story
                  %li
                    %button.btn.btn-inverse{'ng-click' => 'appear = "events"', 'ng-class' => '{"events": "btn-warning"}[appear]'} Events
                  -#
                    %li
                      %button.btn.btn-inverse{'ng-click' => 'appear = "followers"', 'ng-class' => '{"followers": "btn-warning"}[appear]'} Followers
                  -if @profile.follows.count > 0
                    %li
                      %button.btn.btn-inverse{'ng-click' => 'appear = "following"', 'ng-class' => '{"following": "btn-warning"}[appear]'} Following
            %table.user-social-stats{'ng-controller' => 'HeartCtrl', 'ng-init' => "follows=#{@profile.follows.count}; following = '#{is_user_there_and_following('Profile', @profile.id)}'"}
              %tr.icons
                %td
                  -if user_signed_in?
                    %a.sb.heart.circle.no-border.no-shadow{'ng-click' => "addFollower('Profile',#{@profile.id},#{user_signed_in?},follows)", "data-toggle" => "tooltip", :title => "Click to follow this business!", "data-placement" => "right", 'ng-class' => '{true: "red", false: "black"}[following]'}
                  -else
                    %a.sb.heart.circle.no-border.no-shadow.black{:href => "#sign_up_foodie", "data-toggle" => "tooltip", :"data-toggle" =>"modal", :title => "Please sign in or sign up in order to follow!", "data-placement" => "right"}
                -if @profile.yelp_id.present?  
                  %td
                    %a.sb.yelp.circle.no-border.no-shadow.black{:href=>"#{get_yelp_link(@profile)}",:target=>"_blank"} 
                %td
                  %a.sb.facebook.circle.no-border.no-shadow.black{:href => "#"}
              %tr.user-stats
                %td
                  %a.followers {{follows}}
                -if @profile.yelp_id.present?
                  %td
                    %img.yelp-rating{:src => "#{get_yelp_rating_img_url(@profile)}",:target=>"_blank"}
                %td{:rowspan => "2"} share
              %tr.user-stat-labels
                %td
                  %a.followers followers
                -if @profile.yelp_id.present?  
                  %td
                    %a{:href=>"#{get_yelp_link(@profile)}",:target=>"_blank"} #{get_review_count(@profile)} reviews
          -if current_user
            -if current_user.id == @profile.user_id
              .span1.edit-button
                %a.btn.btn-inverse{:href=>"/profiles/#{@profile.user_id}/edit"} Edit
            -else
              .span1
          -else
            .span1
          .span6
            .user-news{'ng-show' => 'appear == "news"'}
              %button.close{"ng-click" => "appear=''", :type => "button"} close
              %h1 News
              %h3 
                - if @profile.news != nil
                  - n = @profile.news.split("\n")
                  -for i in 0..n.length-1
                    = simple_format n[i]
                -else
                  No news! Stay tuned for more.

            .user-story{'ng-show' => 'appear == "story"'}
              %button.close{"ng-click" => "appear=''", :type => "button"} close
              %h1 Host Story
              %h3 
                - if @profile.story !=nil
                  - n = @profile.story.split("\n")
                  -for i in 0..n.length-1
                    = simple_format n[i]

            .user-events{'ng-show' => 'appear == "events"'}
              %button.close{"ng-click" => "appear=''", :type => "button"} close
              %h1 Events
              -if @profile.host_events.count > 0
                %table.events-table
                  %tr.heading
                    %td Name
                    %td When
                    -if current_user.present?
                      -if current_user.profile.id==@profile.id || current_user.id==1
                        %td Status
                        %td Total
                    %td Follows
                    %td 
                    -#%td Shares  
                  -for event in @profile.host_events
                    %tr
                      %td 
                        %a{:href => event_path(event)} 
                          =event.title
                      %td 
                        =event.date.strftime("%b %e")
                      -if current_user.present?
                        -if current_user.profile.id==@profile.id || current_user.id==1
                          %td 
                            ="#{event.guests_count} of #{event.people_limit} filled @ $#{"%g" % (event.cost)}"
                          %td 
                            ="$#{"%g" % (event.guests_count*event.cost)}"
                      %td 
                        =event.follows.count
                      %td.link
                        %a{:href => edit_event_path(event)}
                          Edit
                      -#%td 
                        =# shared
              -else
                %h3 No upcoming events! <a href = "/campaigns/new">Request one?</a>
              -#
                %ul.nav.nav-tabs
                  %li.active
                    %a{"data-toggle" => "tab", :href => "#upcoming-events"} Upcoming
                  %li
                    %a{"data-toggle" => "tab", :href => "#past-events"} Past
                #myTabContent.tab-content
                  #upcoming-events.tab-pane.fade.active.in
                    -if @profile.future_host_events.count > 0
                      %table.events-table
                        %tr.heading
                          %td Name
                          %td When
                          -#
                            %td Status
                          %td Price
                          -#%td Shares  
                        -for event in @profile.future_host_events
                          %tr
                            %td 
                              %a{:href => event_path(event)} 
                                =event.title
                            %td 
                              =event.date.strftime("%b %e")
                            -#
                              %td 
                                ="#{event.guests_count} of #{event.people_limit} filled"
                            %td 
                              ="$#{"%g" % event.cost}"
                            -#%td 
                              =# shared
                    -else
                      %h3
                        ="Looks like #{@profile.biz_name} has no upcoming events."
                  #past-events.tab-pane.fade
                    -if @profile.past_host_events.count > 0
                      %table.events-table
                        %tr.heading
                          %td Name
                          %td When
                          %td Price
                          -#%td Shares  
                        -for event in @profile.past_host_events
                          %tr
                            %td 
                              %a{:href => event_path(event)} 
                                =event.title
                            %td 
                              =event.date.strftime("%b %e")
                            %td 
                              ="$#{"%g" % event.cost}"
                            -#%td 
                              =# shared
                    -else
                      ="Looks like #{@profile.biz_name} has no past events."
            -#
              .user-followers{'ng-show' => 'appear == "followers"'}
                %button.close{"ng-click" => "appear=''", :type => "button"} close
                %h1 Followers
                %ul.nav.nav-tabs
                  %li.active
                    %a{"data-toggle" => "tab", :href => "#foodie-followers"} Foodies
                  %li
                    %a{"data-toggle" => "tab", :href => "#business-followers"} Businesses
                #myTabContent.tab-content
                  #foodie-followers.tab-pane.fade.active.in
                    -if @profile.user.foodie_followers.count > 0
                      %table.following-table
                        -for foodie in @profile.user.foodie_followers
                          %tr 
                            %td 
                              -if foodie.profile.avatar.present?
                                =image_tag foodie.profile.avatar.image
                              -else
                                =image_tag("Foodie-Default-Profile-Image.png")
                            %td
                              %a{:href=>"/profiles/#{foodie.profile.id}"}
                                ="#{foodie.first_name} #{foodie.last_name}"
                            -#%td
                              =foodie.profile.follows.count
                            %td
                              -if user_signed_in?
                                %a.sb.heart.circle.no-border.no-shadow{'ng-controller'=>'HeartCtrl','ng-init' => "following = '#{is_user_there_and_following('Profile', foodie.profile.id)}'", 'ng-click' => "follow('Profile',#{foodie.profile.id},#{user_signed_in?})", 'ng-class' => '{true: "red", false: "black"}[following]'}
                              -else
                                %a.sb.heart.circle.no-border.no-shadow.black{:href => "#sign_up_foodie", "data-toggle" => "tooltip", :"data-toggle" =>"modal", :title => "Please sign in or sign up in order to follow!", "data-placement" => "right"}
                    -else
                      No foodie followers.
                  #business-followers.tab-pane.fade
                    -if @profile.user.business_followers.count > 0
                      %table.following-table
                        -for business in @profile.user.business_followers
                          %tr 
                            %td 
                              -if business.profile.avatar.present?
                                =image_tag business.profile.avatar.image
                              -else
                                =image_tag("Foodie-Default-Profile-Image.png")
                            %td
                              %a{:href=>"/profiles/#{business.profile.id}"}
                                =business.profile.biz_name
                            -#%td
                              =business.profile.follows.count
                            %td
                              -if user_signed_in?
                                %a.sb.heart.circle.no-border.no-shadow{'ng-controller'=>'HeartCtrl','ng-init' => "following = '#{is_user_there_and_following('Profile', business.profile.id)}'", 'ng-click' => "follow('Profile',#{business.profile.id},#{user_signed_in?})", 'ng-class' => '{true: "red", false: "black"}[following]'}
                              -else
                                %a.sb.heart.circle.no-border.no-shadow.black{:href => "#sign_up_foodie", "data-toggle" => "tooltip", :"data-toggle" =>"modal", :title => "Please sign in or sign up in order to follow!", "data-placement" => "right"}
                    -else
                      No business followers.

            .user-following{'ng-show' => 'appear == "following"'}
              %button.close{"ng-click" => "appear=''", :type => "button"} close
              %h1 Following
              -if @profile.user.users_followed.count > 0
                %table.following-table
                  -for user in @profile.user.users_followed
                    %tr 
                      %td
                        -if user.profile.avatar.present?
                          =image_tag user.profile.avatar.image
                        -elsif user.chef==false
                          =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                        -else
                          =link_to image_tag("Chef-Default-Profile-Image.png"), "#"
                      %td
                        %a{:href=>"/profiles/#{user.profile.id}"}
                          ="#{user.first_name} #{user.last_name}"
                      -#%td
                        =user.profile.follows.count
                      %td
                        %a.sb.heart.circle.no-border.no-shadow{'ng-controller'=>'HeartCtrl','ng-init' => "following = '#{is_user_there_and_following('Profile', user.profile.id)}'", 'ng-click' => "follow('Profile',#{user.profile.id},#{user_signed_in?})", 'ng-class' => '{true: "red", false: "black"}[following]'}
              -else
                No users followed!
              -#
                %ul.nav.nav-tabs
                  %li.active
                    %a{"data-toggle" => "tab", :href => "#business-following"} Businesses
                  %li
                    %a{"data-toggle" => "tab", :href => "#foodie-following"} Foodies
                #myTabContent.tab-content
                  #business-following.tab-pane.fade.active.in
                    -if @profile.user.businesses_followed.count > 0
                      %table.following-table
                        -for business in @profile.user.businesses_followed
                          %tr
                            %td
                              -if business.profile.avatar.present?
                                =image_tag business.profile.avatar.image
                              -else
                                =image_tag("Chef-Default-Profile-Image.png")
                            %td 
                              %a{:href=>"/profiles/#{business.profile.id}"}
                                =business.profile.biz_name
                            -#%td 
                              =business.profile.follows.count
                            %td
                              -if user_signed_in?
                                %a.sb.heart.circle.no-border.no-shadow{'ng-controller'=>'HeartCtrl','ng-init' => "following = '#{is_user_there_and_following('Profile', business.profile.id)}'", 'ng-click' => "follow('Profile',#{business.profile.id},#{user_signed_in?})", 'ng-class' => '{true: "red", false: "black"}[following]'}
                              -else
                                %a.sb.heart.circle.no-border.no-shadow.black{:href => "#sign_up_foodie", "data-toggle" => "tooltip", :"data-toggle" =>"modal", :title => "Please sign in or sign up in order to follow!", "data-placement" => "right"}
                    -else
                      No businesses followed.
                  #foodie-following.tab-pane.fade
                    -if @profile.user.foodies_followed.count > 0
                      %table.following-table
                        -for foodie in @profile.user.foodies_followed
                          %tr
                            %td
                              -if foodie.profile.avatar.present?
                                =image_tag foodie.profile.avatar.image
                              -else
                                =image_tag("Foodie-Default-Profile-Image.png")
                            %td
                              %a{:href=>"/profiles/#{foodie.profile.id}"}
                                ="#{foodie.first_name} #{foodie.last_name}"
                            -#%td
                              =foodie.profile.follows.count
                            %td
                              -if user_signed_in?
                                %a.sb.heart.circle.no-border.no-shadow{'ng-controller'=>'HeartCtrl','ng-init' => "following = '#{is_user_there_and_following('Profile', foodie.profile.id)}'", 'ng-click' => "follow('Profile',#{foodie.profile.id},#{user_signed_in?})", 'ng-class' => '{true: "red", false: "black"}[following]'}
                              -else
                                %a.sb.heart.circle.no-border.no-shadow.black{:href => "#sign_up_foodie", "data-toggle" => "tooltip", :"data-toggle" =>"modal", :title => "Please sign in or sign up in order to follow!", "data-placement" => "right"}
                    -else
                      No foodies followed.