%h1 Listing guests

%table
  %tr
    %th First name
    %th Last name
    %th Email
    %th Ticket
    %th Event
    %th Foodie
    %th Token
    %th
    %th
    %th

  - @guests.each do |guest|
    %tr
      %td= guest.first_name
      %td= guest.last_name
      %td= guest.email
      %td= guest.ticket_id
      %td= guest.event_id
      %td= guest.foodie_id
      %td= guest.token
      %td= link_to 'Show', guest
      %td= link_to 'Edit', edit_guest_path(guest)
      %td= link_to 'Destroy', guest, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Guest', new_guest_path
