%p#notice= notice

%p
  %b First name:
  = @guest.first_name
%p
  %b Last name:
  = @guest.last_name
%p
  %b Email:
  = @guest.email
%p
  %b Ticket:
  = @guest.ticket_id
%p
  %b Event:
  = @guest.event_id
%p
  %b User:
  = @guest.user_id
%p
  %b Token:
  = @guest.token

= link_to 'Edit', edit_guest_path(@guest)
\|
= link_to 'Back', guests_path
