%body.container.home
  .navbar.navbar-fixed-top
    = render "layouts/header"
    
%h2 Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  %div
    = f.label :email
    %br/
    = f.email_field :email, :autofocus => true
  - if f.object.password_required?
    %div
      = f.label :password
      %br/
      = f.password_field :password
    %div
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation
  %div
    <input type = "radio", checked = "", name = "user[kind]", value = "Investor"> Investor
    %br/
    <input type = "radio", checked = "", name = "user[kind]", value = "Entrepreneur"> Entrepreneur
    %br/
    %br/
  %div= f.submit "Sign up"
= render "devise/shared/links"