%body.container.devise
  .navbar.navbar-fixed-top
    = render "layouts/headerAbbrev"

  .devisecontainer
    %h1 Sign up
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!
      %div
        = f.text_field :first_name, :placeholder => "first name"
      %div
        = f.text_field :last_name, :placeholder => "last name"
      %div
        = f.email_field :email, :autofocus => true, :placeholder => "email"
      - if f.object.password_required?
        %div
          = f.password_field :password, :placeholder => "password"
        %div
          = f.password_field :password_confirmation, :placeholder => "retype password"
      %div
        <input type = "radio", checked = "", name = "user[kind]", value = "Foodie"> Foodie
        %br/
        <input type = "radio", checked = "", name = "user[kind]", value = "Food Business"> Food Business
        %br/
        %br/
      %button.usersignup.btn.btn-warning Sign Up
    = render "devise/shared/links"