%p#notice= notice

%p
  %b User:
  = @user_answer.user_id
%p
  %b Survey question:
  = @user_answer.survey_question_id
%p
  %b Text:
  = @user_answer.text

= link_to 'Edit', edit_user_answer_path(@user_answer)
\|
= link_to 'Back', user_answers_path
