= form_for @user do |f|
  Just one more step. Please confirm your name and email address!
  %p
  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :email
    = f.text_field :email   
  I am an
  .field
    =f.label :kind do
      %input#optionsRadios1{:checked => "", :name => "user[kind]", :type => "radio", :value => "Investor"}/
      Investor
      %input#optionsRadios2{:checked => "", :name => "user[kind]", :type => "radio", :value => "Entrepreneur"}/
      Entrepreneur
  .actions
    = f.submit 'Confirm'