%body.container.users
  .navbar.navbar-fixed-top 
    = render "layouts/header"

  .userProfile
    .profilePic.span4
      =image_tag "Favicon.png"
    .userInfo.span4
      .userName Neeharika Bhartiya
      .userLocation Nopa, San Francisco
      .userBlurb Gimme that recipe!
      %table.userStats
        %tr.Numbers
          %td.points.first 59
          %td.following 43
          %td.followers.last 54
        %tr.Labels
          %td.points.first points
          %td.following following
          %td.follower.last followers
    .userActivity.span3
      activity stream
  .userEvents.span11
    %h2 Events (2)
    = render "layouts/singleevent"
    = render "layouts/singleevent"     
  .restaurantsFollowed.span11
    %h2 Restaurants Followed (2)
    = render "layouts/usercard"
    = render "layouts/usercard"
