%body.container.users
  .navbar.navbar-fixed-top 
    = render "layouts/header"

  %table.userProfile
    %tr
      %td.profilePic
        =image_tag "Favicon.png"
      %td.userInfo
        %h1.userName Neeharika Bhartiya
        %p.userLocation Nopa, San Francisco
        %p.userBlurb Gimme that recipe!
        %table.userStats
          %tr.Numbers
            %td.points.first 59
            %td.following 43
            %td.followers.last 54
          %tr.Labels
            %td.points.first points
            %td.following following
            %td.follower.last followers
  .userEvents
    %h2 Events (3)
    = render "layouts/singleevent"
    = render "layouts/singleevent"     
    = render "layouts/singleevent"
  .restaurantsFollowed
    %h2 Restaurants Followed (4)
    = render "layouts/usercard"
    = render "layouts/usercard"
    = render "layouts/usercard"
    = render "layouts/usercard"
