-# temporary
  = render 'layouts/primary_header'
.wow{ng: {controller: 'HomeIndexCtrl'}}
  .home 
    .attention-getter
      #home-carousel.carousel.slide.hidden-phone
        -all_events=Event.all
        -i=0
        .carousel-inner
          -for event in all_events
            -if i==0
              .active.item
                =render 'home/sampleevent', :event => event
            -else
              .item
                =render 'home/sampleevent', :event => event
            -i=i+1
      %a.carousel-control.left.hidden-phone{"data-slide" => "prev", :href => "#home-carousel"} ‹
      %a.carousel-control.right.hidden-phone{"data-slide" => "next", :href => "#home-carousel"} ›
      .container
        .copy.row
          .span1
          .span10.copy-content
            %h2 We want to make you <br> <h1> more than a customer </h1> 
            %hr
            %h3 by connecting you more meaningfully with your fave food businesses <br> and  helping you be the first to discover new ones
            .buttons
              %a.btn.how-it-works-button{:href => "#how-it-works", "data-target" => "#how-it-works-detail", :type => "button"} How Does It Work?
              %br
              -if user_signed_in? == false
                %a.btn.btn-warning.foodiesignup{:href => "#sign_up_foodie", :"data-toggle" =>"modal"} Sign Up as a Foodie
                %a.btn.btn-warning.bizsignup{:href => "#sign_up_business", :"data-toggle" =>"modal"} Sign Up as a Business
                %p Already a member? &nbsp <a href = "#sign_in" class = "sign-in-link" data-toggle = "modal"> Sign In </a>
              -if user_signed_in?
                %a.btn.btn-warning.view-events-button{:href => "/events"} Upcoming Events
                %p
                  = link_to "Sign Out", destroy_user_session_path, :method => :delete, :confirm => "Are you sure you want to sign out?", :class => 'sign-out-link'
            -#
              .logo
                = link_to image_tag("logo_final_white.png", :border=>0), '/events', :class => "logo"
            .span1
    .container
      .row.section-header
        .span12#how-it-works
          %h1 How It Works
          -#
            .logo
              =image_tag "logo_final.png"
          %ul.user-type
            %li{'ng-click' => 'type = "foodie"', 'ng-hide' => "type == 'business'"}
              %a{:href => '#how'}
                .foodie
                  =image_tag "Foodie-Default-Profile-Image.png"
                %p I'm a Foodie

            %li{'ng-click' => 'type="business"', 'ng-hide' => 'type == "foodie"'}
              %a{:href => '#how-chef'}
                .chef
                  =image_tag "Chef-Default-Profile-Image.png"
                %p I'm a Business
            %a{'ng-click' => 'type = ""', 'ng-show' => "type == 'foodie' || type == 'business'"} I changed my mind!
              
    .section
      .container
        .row
          .span2
          .span8.how-it-works#how{'ng-show' => 'type == "foodie"'}
            .row.how-it-works-event-infographic
              .span4.offset1.step.browse
                .step-description
                  %h1 browse
                  %p We work with new and established food businesses to bring you events and experiences that are different from the typical restaurant visit. 
            .row.how-it-works-event-infographic
              .span4.offset3.step.register
                .step-description
                  %h1 register
                  %p See something you like? Book it! But wait - the event doesn't happen until the minimum number of tickets is sold. Help make this happen by inviting your favorite people! We won't charge anyone until the event "tilts".
            .row.how-it-works-event-infographic
              .span4.offset1.step.tilt
                .step-description
                  %h1 tilt
                  %p Woohoo, party time! At this point, we charge your card, so all you have to do is show up and enjoy.
            .row.how-it-works-event-infographic
              .span4.offset2.step.return
                .step-description
                  %h1 return
                  %p Did you have an awesome time? Businesses depend on loyal customers like you who return and help spread the word. We work with businesses to make sure your support is rewarded with further involvement and unique experiences. 
            .row.how-it-works-event-infographic
              .span4.offset3.step.get-started
                .step-description
                  %a{:href => "#sign_up_foodie", :"data-toggle" =>"modal"} get started
          

          .span8.how-it-works#how-chef{'ng-show' => 'type == "business"'}
            .row.how-it-works-event-infographic
              .span4.step.attract
                .step-description
                  %h1 attract
                  %p It's hard to find and attract high quality, long-term customers. Even today, most small businesses do so with discounts. We help you find quality customers who are interested in building deeper relationships. Without discounts.
            .row.how-it-works-event-infographic
              .span4.offset4.step.engage
                .step-description
                  %h1 engage
                  %p We help you engage your customers to become more loyal by helping you track, engage, and reward them in unique, thoughtful ways. 
            .row.how-it-works-event-infographic
              .span4.offset1.step.club
                .step-description
                  %h1 start a club
                  %p Your biggest fans want a deeper relationship and what better way than as a member in your club? You get regular, predictable cash flow and they get the chance to be more than a customer for a business they really care about!
            .row.how-it-works-event-infographic
              .span4.offset3.step.get-started
                .step-description
                  %a{:href => "#sign_up_business", :"data-toggle" =>"modal"} get started

  = render 'layouts/footer'

  #sign_up_business.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .signup
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3#myModalLabel Sign Up for simmr
      .modal-body
        %h3 Expand your client base through memorable events.
        %p Leverage your existing fanbase and allow new customers to easily find you on Facebook / Twitter. We'll never share your info or post without your permission. 
        %p.strong.sign-up-text
          Sign up with
          %p
            = render "shared/business_signup"
      .modal-footer
        %button.usersignup.btn.btn-warning Sign Up

  #sign_up_foodie.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .signup
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3#myModalLabel Sign Up for simmr
      .modal-body
        %h3 Experiences recommended by your friends.
        %p See what events friends have attended and their thoughts. We'll never share your info or post without your permission. 
        %p.strong.sign-up-text
          Sign up with
          %p
            = render "shared/foodie_signup"
      .modal-footer
        %button.usersignup.btn.btn-warning Sign Up

  #sign_in.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h3#myModalLabel Log In
    .modal-body
      %h3 Experiences recommended by your friends.
      %p See what events friends have attended and their thoughts. We'll never share your info or post without your permission. 
      %p.strong.sign-up-text
        Log in with
        %p
          = render "shared/login"
    .modal-footer
      %button.userlogin.btn.btn-warning Log In


-# Uncomment the below to have the log in credential form rendered into this page
-# =render "shared/login"

-#  %form.navbar-search.pull-left.clearfix
-#    %input.search-query{:placeholder => "Find a Chef or Restaurant", :type => "text"}