= simple_form_for(@event) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :people_limit
    = f.input :description
    = f.input :menu_pdf
    = f.input :menu_text
    = f.input :date
    = f.input :when
    = f.input :cost
    = f.input :length
    = f.input :other_info

  .fields
    %a{:class => "GetFilepicker"} Load picture

  .the-images


  -#%script{:id => 'image-template'}
  -#  Hahaha wahaha

  .form-actions
    = f.button :submit
