.row
  .event-time-and-date
    #{event.date.strftime("%b %e")}
  .span5.event-image
    -if event.images.present?
      =link_to (filepicker_image_tag event.images.first.image), event_path(event)
    -else
      =link_to image_tag("Food 17.jpg"), event_path(event)
.row.event-first-row
  .span1.event-host-image
    =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Host Name", "class" => "event-card-host-name"
  .span3.event-title
    %a{:href => event_path(event)} #{event.title} 
  .span1.event-price
    %p $#{"%.2f" % event.cost}
.row.event-second-row
  .span4.event-progress
    %table
      %tr
        %td.event-seats-left #{event.seats_left} seats left
    .progress.progress-warning
      .bar{:style => "width: #{event.percent_full}%;"}
  .span1.go-button
    %a.btn.btn-warning{:href => event_path(event)} Go
    -# TODO: How to make this go directly to that view with 'payment=1' (angular thingie)
    