.row
  .span5.single-event
    .row
      .event-time-and-date
        #{event.date.strftime("%b %e")}
      .span5.event-image
        -if event.images.present?
          =link_to (image_tag event.images.first.image), event_path(event)
        -else
          =link_to image_tag("Food 26.jpg"), event_path(event)
    .row.event-first-row
      %table
        %tr
          %td.span1.event-host-image
            =link_to image_tag("Chef-Default-Profile-Image.png"), "#", "data-toggle" => "tooltip", "title" => "Host Name", "class" => "event-card-host-name"
          %td.event-title.span3
            %a{:href => event_path(event)} #{event.title} 
          %td.event-price.span1
            %p $#{"%.2f" % event.cost}
    .row.event-second-row
      %table
        %tr
          %td.span4.event-progress
            #{event.seats_left} seats left
            .progress.progress-warning
              .bar{:style => "width: #{event.percent_full}%;"}
          %td.span1.go-button
            %a.btn.btn-warning{:href => event_path(event)} Go
  .span5.single-event-dashboard
    .row
      .span4
        %table.single-event-stats
          %tr.single-event-numbers
            %td 
              %a{:href => "#"} 20
            -if current_user.chef == true
              %td
                %a{:href => "#"} $200
            -else
              %td
                %a{:href => "#"} 2
            %td
              %a{:href => "#"} 20
            %td
              %a{:href => "#"} 20
          %tr.single-event-labels
            %td Guests
            -if current_user.chef == true
              %td Sales
            -else
              %td Friends
            %td Followers
            %td Shared
      .span1
    .row
      -if current_user.chef == true
        .span2.single-event-actions
          %a.action Edit <br> Event
        .span2.single-event-actions
          %a.action Event Communications
      -else
        .span2.single-event-actions
          %a.action Edit <br> Ticket Info
        .span2.single-event-actions
          %a.action Event <br> Feedback
      .span1