.events
  .event-profile
    #event-carousel.carousel.slide         
      .carousel-inner
        .active.item
          -if @event.images.present?
            -@event.images.each_with_index do |i, index|
              -if index == 0
                .item.active
                  = image_tag i.image
              -else
                .item
                  = image_tag i.image
          -else
            =image_tag "Food 26.jpg"
    -if @event.images.count > 1
      %a.carousel-control.left.hidden-phone{"data-slide" => "prev", :href => "#event-carousel"} ‹
      %a.carousel-control.right.hidden-phone{"data-slide" => "next", :href => "#event-carousel"} ›  

    .container
      .event-feedback.row{'ng-controller' => 'EventFeedbackCtrl', 'ng-init' => "address1='#{@event.location.address1}';city='#{@event.location.city}';state='#{@event.location.state}';zipcode='#{@event.location.zipcode}';event.date='#{@event.date}';event.length='#{@event.length}';event.time='#{@event.time}';appear='survey'"}
        .span5
          .event-summary.clearfix
            %h1
              =@event.title
            -if @event.host.profile.biz_name != nil
              %h2.host Hosted by 
              %a.host{:href => 'http://www.simmr.co/profiles/host_id'}
                =' ' + @event.host.profile.biz_name
                -#TODO: use titleize
                -#TODO: FIX
            %h3 
              =@event.blurb
            %hr
            %table.feedback-actions
              %tr
                %td
                  %a.point-action{'ng-click' => 'appear="points"'} Claim your points for attending!
                %td.points
                  +
                  =link_to image_tag 'Ten_Point.png', 'ng-click' => 'appear="points"', :href => ""
            %table.feedback-actions
              %tr
                %td
                  %a.point-action{'ng-click' => 'appear="survey"'} Fill out a quick survey
                %td.points
                  +
                  =link_to image_tag 'Fifteen_Point.png', 'ng-click' => 'appear="survey"', :href => ""
              %tr
                %td
                  %a.point-action{'ng-click' => 'appear="yelp"'} Write a Yelp Review
                %td.points
                  +
                  =link_to image_tag 'Twenty_Point.png', 'ng-click' => 'appear="yelp"', :href => ""

            .event-summary-logistics-container
              .event-summary-logistics

                %h3#event-date
                  {{eventDate()}}, from {{eventTime()}} to {{eventEndTime()}}
                %a{:href => "{{mapUrl()}}"} 123 Mission Street <br> San Francisco, CA 94107
                %ul.nav.event-button-group
                  %li
                    %button.btn{'data-toggle' => 'pill', 'ng-click' => 'appear = "details"'} Details
                  %li
                    %button.btn{'data-toggle' => 'pill', 'ng-click' => 'appear = "menu"'} Menu
                  %li
                    %button.btn{'data-toggle' => 'pill', 'ng-click' => 'appear = "chatter"'} Attendees
                  %li
                    %button.btn{'data-toggle' => 'pill', 'ng-click' => 'appear = "story"'} Host Story


            %table.event-sharing
              %tr.icons
                %td{'ng-click'=>'appear = "followers"'}
                  %a.sb.heart.circle.no-border.no-shadow.follow{'ng-controller'=>'HeartCtrl', 'ng-init' => "wah='#{'yomomma'}'", 'ng-click' => 'follow()'} #follow
                %td
                  %a.sb.star.circle.no-border.no-shadow{:href=>"#"} #yelp
                %td
                  %a.sb.facebook.circle.no-border.no-shadow{:href=>"#", :onclick => "window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 'facebook-share-dialog', 'width=626,height=436'); return false;"}
              %tr.host-stats
                %td 190
                %td 190
                %td{:rowspan => "2"} share
              %tr.host-stat-labels
                %td followers
                %td reviews
        .span1
        .span6 
          .event-details#details{'ng-show' => 'appear=="details"'}
            %h3 Event Description
            %h3
              =@event.description
          .event-menu#menu{'ng-show' => 'appear=="menu"'}
            %h3 Event Menu
            %p
              =@event.menu_text
          .event-attendees-and-chatter{'ng-show' => 'appear=="chatter"'}
            .attendees
              =link_to image_tag("Foodie-Default-Profile-Image.png"), "#", "data-toggle" => "tooltip", "title" => "Wendy Lin", "class" => "one-attendee", "data-placement" => "bottom"
              =link_to image_tag("Foodie-Default-Profile-Image.png"), "#", "data-toggle" => "tooltip", "title" => "Neeharika Bharitya", "class" => "one-attendee", "data-placement" => "bottom"
              =link_to image_tag("Foodie-Default-Profile-Image.png"), "#", "data-toggle" => "tooltip", "title" => "Ziyan Chu", "class" => "one-attendee", "data-placement" => "bottom"
              =link_to image_tag("Foodie-Default-Profile-Image.png"), "#", "data-toggle" => "tooltip", "title" => "Christine Lee", "class" => "one-attendee", "data-placement" => "bottom"
              =link_to image_tag("Foodie-Default-Profile-Image.png"), "#", "data-toggle" => "tooltip", "title" => "Michael Makarov", "class" => "one-attendee", "data-placement" => "bottom"
              %p 
                -for guest in @event.guests
                  = guest.first_name + " " + guest.last_name
            .row.comments
              .fb-comments{"data-colorscheme" => "dark", "data-href" => "#{request.url[0..-10]}", "data-num-posts" => "5", "data-width" => "500"}
          .event-host-story{'ng-show' => 'appear=="story"'}
            %h3
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait
              =@event.host.profile.story
          .host-followers{'ng-show' => 'appear == "followers"'}
            .followers
              =link_to image_tag("Foodie-Default-Profile-Image.png"), "#", "data-toggle" => "tooltip", "title" => "Wendy Lin", "class" => "one-attendee", "data-placement" => "bottom"
              =link_to image_tag("Foodie-Default-Profile-Image.png"), "#", "data-toggle" => "tooltip", "title" => "Neeharika Bharitya", "class" => "one-attendee", "data-placement" => "bottom"
              =link_to image_tag("Foodie-Default-Profile-Image.png"), "#", "data-toggle" => "tooltip", "title" => "Ziyan Chu", "class" => "one-attendee", "data-placement" => "bottom"
              =link_to image_tag("Foodie-Default-Profile-Image.png"), "#", "data-toggle" => "tooltip", "title" => "Christine Lee", "class" => "one-attendee", "data-placement" => "bottom"
              =link_to image_tag("Foodie-Default-Profile-Image.png"), "#", "data-toggle" => "tooltip", "title" => "Michael Makarov", "class" => "one-attendee", "data-placement" => "bottom"

          %form.event-survey.clearfix{'ng-show' => 'appear=="survey"', :name => "feedback_survey"}
            %h1 Survey
            %input.survey-question-1{:type=>'text', :placeholder =>"Custom Survey Question 1", :name => "question_1", :required => "required", 'ng-model' => 'survey.question1', 'ng-class' => "{error: feedback_survey.question_1.$invalid}"}
            .help-block-white{'ng-show' => 'feedback_survey.question_1.$error.required'} Required
            %button.btn.btn-warning.standalone-button{'ng-click' => 'appear="points"', 'ng-disabled' => 'feedback_survey.$invalid'} Get Points!

          .event-yelp.clearfix{'ng-show' => 'appear=="yelp"'}
            %h1 Yelp Review
            %form{:name => "yelp_review"}
              %input.yelp-review-link{:type=>'url', :required => "required", :placeholder =>"Paste Yelp Review Link Here", :name => "yelp_link", 'ng-model' => "yelplink", 'ng-class' => "{error: yelp_review.yelp_link.$invalid}"}
              .help-block-white{'ng-show' => 'yelp_review.yelp_link.$error.required'} Required
              .help-block-white{'ng-show' => 'yelp_review.yelp_link.$error.url'} Please enter a valid URL
              %button.btn.btn-warning.standalone-button{'ng-click' => 'appear="points"', 'ng-disabled' => 'yelp_review.$invalid'} Get Points!


          .point-ranking.clearfix{'ng-show' => 'appear=="points"'}
            %h1 Leader Boards
            %ul.nav.nav-tabs
              %li.active
                %a{"data-toggle" => "tab", :href => "#friends-ranking"} Friends
              %li
                %a{"data-toggle" => "tab", :href => "#city-ranking"} City
              %li
                %a{"data-toggle" => "tab", :href => "#global-ranking"} Global
            #myTabContent.tab-content
              #friends-ranking.tab-pane.fade.active.in
                %table.point-ranking-table
                  %tr 
                    %td 1
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td Wendy
                    %td 5000
                  %tr.current-user-rank
                    %td 2
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td Wendy
                    %td 4000
                  %tr 
                    %td 3
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td Wendy
                    %td 3000
              #city-ranking.tab-pane.fade
                %table.point-ranking-table
                  %tr 
                    %td 1
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td SF Citizen
                    %td 5000
                  %tr 
                    %td 2
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td SF Citizen
                    %td 4000
                  %tr 
                    %td 3
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td SF Citizen
                    %td 3000
              #global-ranking.tab-pane.fade
                %table.point-ranking-table
                  %tr 
                    %td 1
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td Random Guy
                    %td 5000
                  %tr 
                    %td 2
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td Random Guy
                    %td 4000
                  %tr 
                    %td 3
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td Random Guy
                    %td 3000
            %button.btn.btn-warning.standalone-button{'ng-click' => 'appear="more_points"'} Get More Points
              
          .more-points.clearfix{'ng-show' => 'appear=="more_points"'}
            %h1 Get More Points
            %table.feedback-actions.clearfix
              %tr
                %td.point-action-cell
                  %a.point-action{:href=>"#", :onclick => "window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 'facebook-share-dialog', 'width=626,height=436'); return false;"} Tell a Friend About Simmr (you'll get more points when they sign up and attend an event!)
                %td.points
                  +
                  =link_to image_tag('Ten_Point.png'), ""
              %tr
                %td.point-action-cell
                  %a.point-action{:href => '/events'} Attend Another Event
                %td.points
                  +
                  =link_to image_tag('Ten_Point.png'), "/events"
              %tr
                %td.point-action-cell
                  %a.point-action{:href => '/campaigns/new'} Don't see your favorite business? Start a campaign to get them on Simmr! 
                %td.points
                  +
                  =link_to image_tag('Ten_Point.png'), "/campaigns/new"
            .clearfix
              %button.btn.btn-warning.standalone-button{'ng-click' => 'appear="points"'} Back to Leader Boards


