.events
  .event-profile
    #event-carousel.carousel.slide         
      .carousel-inner
        -@event.images.each_with_index do |i, index|
          -if index == 0
            .item.active
              = filepicker_image_tag i.image
          -else
            .item
              = filepicker_image_tag i.image
    %ol.carousel-indicators
      -@event.images.each_with_index do |i, index|         
        -if index == 0
          %li.active{"data-target" => "#event-carousel", "data-slide-to" => index}
        -else
          %li{"data-target" => "#event-carousel", "data-slide-to" => index}
    .container
      .event-feedback.row{'ng-controller' => 'EventFeedbackCtrl', 'ng-init' => "address1='#{@event.location.address1}';city='#{@event.location.city}';state='#{@event.location.state}';zipcode='#{@event.location.zipcode}'"}
        .span1
        .span4
          .event-summary.clearfix
            %h1
              =@event.title
            %h2 
              =@event.description
            %h3#event-date
              =@event.date.strftime("%A %B %d, %I:%M%p")
              =@event.time
            %a{:href => "{{mapUrl()}}"} 123 Mission Street <br> San Francisco, CA 94107
            %table.feedback-actions
              %tr
                %td
                  %h3.point-action Thank you for attending!
                %td.points
                  =link_to image_tag 'Ten_Point.png', :href => ""
            %hr
            %table.feedback-actions
              %tr
                %td
                  %h3.point-action Fill out a quick survey
                %td.points
                  =link_to image_tag 'Fifteen_Point.png', 'ng-click' => 'feedback=1', :href => ""
              %tr
                %td
                  %h3.point-action Write a Yelp Review
                %td.points
                  =link_to image_tag 'Twenty_Point.png', 'ng-click' => 'feedback=2', :href => ""

            %table.event-sharing
              %tr
                %td
                  %a.sb.heart.circle.no-border.no-shadow.orange{:href=>"#"}
                %td
                  %a.sb.star.circle.no-border.no-shadow.orange{:href=>"#"}
                %td
                  %a.sb.facebook.circle.no-border.no-shadow.orange{:href=>"#", :onclick => "window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 'facebook-share-dialog', 'width=626,height=436'); return false;"}
                %td
                  %a.addthisevent{:href => "#", :title => "Add to Calendar"}
                    Add
              %tr.host-stats
                %td 190
                %td 190
                %td{:rowspan => "2"} share
                %td to
              %tr.host-stat-labels
                %td followers
                %td reviews
                %td calendar
        .span1.heart_this
          %a.sb.heart.circle.no-border.no-shadow.black
        .span1
        .span4 
          -#this needs to happen only when tickets >1
          %form.event-survey.clearfix{'ng-hide' => 'feedback!=1', :name => "feedback_survey"}
            %h1 Survey
            %input.survey-question-1{:type=>'text', :placeholder =>"Custom Survey Question 1", :name => "question_1", :required => "required", 'ng-model' => 'survey.question1'}
            .help-block-white{'ng-show' => 'feedback_survey.question_1.$error.required'} Required
            %button.btn.btn-warning.standalone-button{'ng-click' => 'feedback=3'} Get Points!
            %button.btn.standalone-button{'ng-click' => 'feedback=0', 'ng-hide' => 'feedback==0'} Never Mind

          .event-yelp.clearfix{'ng-show' => 'feedback==2'}
            %h1 Yelp Review
            %form{:name => "yelp_review"}
              %input.yelp-review-link{:type=>'url', :required => "required", :placeholder =>"Paste Yelp Review Link Here", :name => "yelp_link", 'ng-model' => "yelplink"}
              .help-block-white{'ng-show' => 'yelp_review.yelp_link.$error.required'} Required
              .help-block-white{'ng-show' => 'yelp_review.yelp_link.$error.url'} Please enter a valid URL
              %button.btn.btn-warning.standalone-button{'ng-click' => 'feedback=3'} Get Points!
              %button.btn.standalone-button{'ng-click' => 'feedback=0', 'ng-hide' => 'feedback==0'} Never Mind

          .point-ranking.clearfix{'ng-show' => 'feedback==3'}
            %h1 Leader Boards
            %ul.nav.nav-tabs
              %li.active
                %a{"data-toggle" => "tab", :href => "#friends-ranking"} Friends
              %li
                %a{"data-toggle" => "tab", :href => "#city-ranking"} City
              %li
                %a{"data-toggle" => "tab", :href => "#global-ranking"} Global
            #myTabContent.tab-content
              #friends-ranking.tab-pane.fade.active.in
                %table.point-ranking-table
                  %tr 
                    %td 1
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td Wendy
                    %td 5000
                  %tr.current-user-rank
                    %td 2
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td Wendy
                    %td 4000
                  %tr 
                    %td 3
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td Wendy
                    %td 3000
              #city-ranking.tab-pane.fade
                %table.point-ranking-table
                  %tr 
                    %td 1
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td SF Citizen
                    %td 5000
                  %tr 
                    %td 2
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td SF Citizen
                    %td 4000
                  %tr 
                    %td 3
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td SF Citizen
                    %td 3000
              #global-ranking.tab-pane.fade
                %table.point-ranking-table
                  %tr 
                    %td 1
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td Random Guy
                    %td 5000
                  %tr 
                    %td 2
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td Random Guy
                    %td 4000
                  %tr 
                    %td 3
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td Random Guy
                    %td 3000
            %button.btn.btn-warning.standalone-button{'ng-click' => 'feedback=4'} Get More Points
            %button.btn.standalone-button{'ng-click' => 'feedback=0', 'ng-hide' => 'feedback==0'} Done
              
          .more-points.clearfix{'ng-show' => 'feedback==4'}
            %h1 Get More Points
            %table.feedback-actions
              %tr
                %td
                  %h3.point-action Tell a Friend About Simmr (you'll get more points when they sign up and attend an event!)
                %td.points
                  =link_to image_tag('Ten_Point.png'), ""
              %tr
                %td
                  %h3.point-action Attend Another Event
                %td
                  =link_to image_tag('Ten_Point.png'), "/events"
              %tr
                %td
                  %h3.point-action Start a Campaign
                %td
                  =link_to image_tag('Ten_Point.png'), "/campaigns/new"
            %button.btn.standalone-button{'ng-click' => 'feedback=0', 'ng-hide' => 'feedback==0'} Done
            %button.btn.btn-warning.standalone-button{'ng-click' => 'feedback=3'} Back to Leader Boards



        .span1
  .container
    .row
      .span2.scroll-menu.event
        %ul.nav.nav-list.scroll-menu-items{"data-spy" => "affix", "data-offset-top" => "710", "data-offset-bottom"=> "300"}
          %li 
            %a{:href=>"#about"} Host Story
          %li 
            %a{:href=>"#menu"} Menu
          %li   
            %a{:href=>"#chatter"} Chatter
      .span10
        .row.section-header#about
          .span10#host-story
            %a{:href => "#host-story", 'data-target'=>"#host-story-detail", 'data-toggle'=>"collapse"} Our Story <span class="caret"></span>
        .row.host-story
          .span10
            #host-story-accordion.accordion
              #host-story-detail.accordion-body.collapse
                .accordion-inner
                  %p
                    -#=@event.host.profile.story
              -#=@event.host.profile.story
              -# Need to make sure a host story exists for that host before they can create the event...
      .row
        .span10.offset2
          .row.section-header#menu
            .span10#event-menu
              %a{:href => "#event-menu", 'data-target'=>"#event-menu-detail", 'data-toggle'=>"collapse"} The Menu <span class="caret"></span>
          .row.event-menu
            .span10
              #event-menu-accordion.accordion
                #event-menu-detail.accordion-body.collapse
                  .accordion-inner
                    %p
                      =@event.menu_text
          .row.section-header#chatter
            .span10#event-chatter
              %a{:href => "#event-chatter", 'data-target'=>"#event-chatter-detail", 'data-toggle'=>"collapse"} Chatter <span class="caret"></span>
          .row.event-chatter
            .span10
              #event-chatter-accordion.accordion
                #event-chatter-detail.accordion-body.collapse.in
                  .accordion-inner
                    .row.attendees
                      .span10
                        =link_to image_tag("Foodie-Default-Profile-Image.png"), "#", "data-toggle" => "tooltip", "title" => "Wendy Lin", "class" => "one-attendee", "data-placement" => "bottom"
                        =link_to image_tag("Foodie-Default-Profile-Image.png"), "#", "data-toggle" => "tooltip", "title" => "Neeharika Bharitya", "class" => "one-attendee", "data-placement" => "bottom"
                        =link_to image_tag("Foodie-Default-Profile-Image.png"), "#", "data-toggle" => "tooltip", "title" => "Ziyan Chu", "class" => "one-attendee", "data-placement" => "bottom"
                        =link_to image_tag("Foodie-Default-Profile-Image.png"), "#", "data-toggle" => "tooltip", "title" => "Christine Lee", "class" => "one-attendee", "data-placement" => "bottom"
                        =link_to image_tag("Foodie-Default-Profile-Image.png"), "#", "data-toggle" => "tooltip", "title" => "Michael Makarov", "class" => "one-attendee", "data-placement" => "bottom"
                        -#
                          %p 
                            -for guest in @event.guests
                              = guest.first_name + " " + guest.last_name
                              %p
                    .row.comments
                      .span10
                        .fb-comments{"data-href" => "#{request.url[0..-10]}", "data-num-posts" => "10", "data-width" => "910"}
        .span1