.events
  .event-profile
    #event-carousel.carousel.slide         
      .carousel-inner
        .active.item
          -if @event.images.present?
            -@event.images.each_with_index do |i, index|
              -if index == 0
                .item.active
                  = image_tag i.image
              -else
                .item
                  = image_tag i.image
          -else
            =image_tag "Food 26.jpg"
    -if @event.images.count > 1
      %a.carousel-control.left.hidden-phone{"data-slide" => "prev", :href => "#event-carousel"} ‹
      %a.carousel-control.right.hidden-phone{"data-slide" => "next", :href => "#event-carousel"} ›  

    .container
      .event-feedback.row{'ng-controller' => 'EventFeedbackCtrl', 'ng-init' => "address1='#{@event.location.address1}';city='#{@event.location.city}';state='#{@event.location.state}';zipcode='#{@event.location.zipcode}';event.date='#{@event.date}';event.length='#{@event.length}';event.time='#{@event.time}'"}
        .span5
          .event-summary.clearfix
            %h1
              =@event.title
            -if @event.host.profile.biz_name != nil
              %h2.host Hosted by 
              %a.host{:href => 'http://www.simmr.co/profiles/host_id'}
                =' ' + @event.host.profile.biz_name
                -#TODO: use titleize
                -#TODO: FIX
            %h3 
              =@event.blurb
            %hr
            %table.feedback-actions
              %tr
                %td
                  %h3 Thank you for attending!
                %td.points
                  +
                  =image_tag 'Ten_Point.png'
            %table.feedback-actions
              %tr
                %td
                  %a.point-action{'ng-click' => 'feedback=1'} Fill out a quick survey
                %td.points
                  +
                  =link_to image_tag 'Fifteen_Point.png', 'ng-click' => 'feedback=1', :href => ""
              %tr
                %td
                  %a.point-action{'ng-click' => 'feedback=2'} Write a Yelp Review
                %td.points
                  +
                  =link_to image_tag 'Twenty_Point.png', 'ng-click' => 'feedback=2', :href => ""

            .event-summary-logistics-container
              .event-summary-logistics

                %h3#event-date
                  {{eventDate()}}, from {{eventTime()}} to {{eventEndTime()}}
                %a{:href => "{{mapUrl()}}"} 123 Mission Street <br> San Francisco, CA 94107
                %ul.nav.event-button-group
                  %li
                    %button.btn{'data-toggle' => 'pill', 'ng-click' => 'appear = "details"'} Details
                  %li
                    %button.btn{'data-toggle' => 'pill', 'ng-click' => 'appear = "menu"'} Menu
                  %li
                    %button.btn{'data-toggle' => 'pill', 'ng-click' => 'appear = "chatter"'} Attendees
                  %li
                    %button.btn{'data-toggle' => 'pill', 'ng-click' => 'appear = "story"'} Host Story


            %table.event-sharing
              %tr
                %td
                  %a.sb.heart.circle.no-border.no-shadow.orange{:href=>"#"}
                %td
                  %a.sb.star.circle.no-border.no-shadow.orange{:href=>"#"}
                %td
                  %a.sb.facebook.circle.no-border.no-shadow.orange{:href=>"#", :onclick => "window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 'facebook-share-dialog', 'width=626,height=436'); return false;"}
                %td
                  %a.addthisevent{:href => "#", :title => "Add to Calendar"}
                    Add
              %tr.host-stats
                %td 190
                %td 190
                %td{:rowspan => "2"} share
                %td to
              %tr.host-stat-labels
                %td followers
                %td reviews
                %td calendar
        .span1.heart_this
          -# Fix 
          -# %a.sb.heart.circle.no-border.no-shadow.black{title: 'Heart This'}
          %heart{'ng-controller'=>'HeartCtrl', 'ng-init' => "wah='#{'yomomma'}'"}
        .span1
        .span4 
          -#this needs to happen only when tickets >1
          %form.event-survey.clearfix{'ng-hide' => 'feedback!=1', :name => "feedback_survey"}
            %h1 Survey
            %input.survey-question-1{:type=>'text', :placeholder =>"Custom Survey Question 1", :name => "question_1", :required => "required", 'ng-model' => 'survey.question1', 'ng-class' => "{error: feedback_survey.question_1.$invalid}"}
            .help-block-white{'ng-show' => 'feedback_survey.question_1.$error.required'} Required
            %button.btn.btn-warning.standalone-button{'ng-click' => 'feedback=3', 'ng-disabled' => 'feedback_survey.$invalid'} Get Points!
            %button.btn.standalone-button{'ng-click' => 'feedback=0', 'ng-hide' => 'feedback==0'} Never Mind

          .event-yelp.clearfix{'ng-show' => 'feedback==2'}
            %h1 Yelp Review
            %form{:name => "yelp_review"}
              %input.yelp-review-link{:type=>'url', :required => "required", :placeholder =>"Paste Yelp Review Link Here", :name => "yelp_link", 'ng-model' => "yelplink", 'ng-class' => "{error: yelp_review.yelp_link.$invalid}"}
              .help-block-white{'ng-show' => 'yelp_review.yelp_link.$error.required'} Required
              .help-block-white{'ng-show' => 'yelp_review.yelp_link.$error.url'} Please enter a valid URL
              %button.btn.btn-warning.standalone-button{'ng-click' => 'feedback=3', 'ng-disabled' => 'yelp_review.$invalid'} Get Points!
              %button.btn.standalone-button{'ng-click' => 'feedback=0', 'ng-hide' => 'feedback==0'} Never Mind

          .point-ranking.clearfix{'ng-show' => 'feedback==3'}
            %h1 Leader Boards
            %ul.nav.nav-tabs
              %li.active
                %a{"data-toggle" => "tab", :href => "#friends-ranking"} Friends
              %li
                %a{"data-toggle" => "tab", :href => "#city-ranking"} City
              %li
                %a{"data-toggle" => "tab", :href => "#global-ranking"} Global
            #myTabContent.tab-content
              #friends-ranking.tab-pane.fade.active.in
                %table.point-ranking-table
                  %tr 
                    %td 1
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td Wendy
                    %td 5000
                  %tr.current-user-rank
                    %td 2
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td Wendy
                    %td 4000
                  %tr 
                    %td 3
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td Wendy
                    %td 3000
              #city-ranking.tab-pane.fade
                %table.point-ranking-table
                  %tr 
                    %td 1
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td SF Citizen
                    %td 5000
                  %tr 
                    %td 2
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td SF Citizen
                    %td 4000
                  %tr 
                    %td 3
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td SF Citizen
                    %td 3000
              #global-ranking.tab-pane.fade
                %table.point-ranking-table
                  %tr 
                    %td 1
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td Random Guy
                    %td 5000
                  %tr 
                    %td 2
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td Random Guy
                    %td 4000
                  %tr 
                    %td 3
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td Random Guy
                    %td 3000
            %button.btn.btn-warning.standalone-button{'ng-click' => 'feedback=4'} Get More Points
            %button.btn.standalone-button{'ng-click' => 'feedback=0', 'ng-hide' => 'feedback==0'} Done
              
          .more-points.clearfix{'ng-show' => 'feedback==4'}
            %h1 Get More Points
            %table.feedback-actions.clearfix
              %tr
                %td.point-action-cell
                  %a.point-action{:href=>"#", :onclick => "window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 'facebook-share-dialog', 'width=626,height=436'); return false;"} Tell a Friend About Simmr (you'll get more points when they sign up and attend an event!)
                %td.points
                  +
                  =link_to image_tag('Ten_Point.png'), ""
              %tr
                %td.point-action-cell
                  %a.point-action{:href => '/events'} Attend Another Event
                %td.points
                  +
                  =link_to image_tag('Ten_Point.png'), "/events"
              %tr
                %td.point-action-cell
                  %a.point-action{:href => '/campaigns/new'} Start a Campaign
                %td.points
                  +
                  =link_to image_tag('Ten_Point.png'), "/campaigns/new"
            .clearfix
              %button.btn.standalone-button{'ng-click' => 'feedback=0', 'ng-hide' => 'feedback==0'} Done
              %button.btn.btn-warning.standalone-button{'ng-click' => 'feedback=3'} Back to Leader Boards


-#
  .fb-comments{"data-href" => "#{request.url[0..-10]}", "data-num-posts" => "10", "data-width" => "910"}