=content_for :title, "simmr | #{@event.title} post event page"

.events{'ng-controller' => 'EventFeedbackCtrl', 'ng-init' => "address1='#{@event.location.address1}';city='#{@event.location.city}';state='#{@event.location.state}';zipcode='#{@event.location.zipcode}';event.date='#{@event.date}';event.length='#{@event.length}';event.time='#{@event.time}';appear='details';event.menuPdf='#{@event.menu_pdf}'"}
  .event-profile
    #event-carousel.carousel.slide         
      .carousel-inner
        -if @event.covers.present?
          -@event.covers.each_with_index do |i, index|
            -if index == 0
              .item.active
                = image_tag i.image
            -else
              .item
                = image_tag i.image
        -else
          .item.active
            =image_tag "Food 26.jpg"
    -if @event.covers.count > 1
      %a.carousel-control.left.hidden-phone{"data-slide" => "prev", :href => "#event-carousel"} ‹
      %a.carousel-control.right.hidden-phone{"data-slide" => "next", :href => "#event-carousel"} ›  

    .container
      .event-feedback.row
        .span5
          .event-summary.clearfix
            %h1
              =@event.title
            -if @event.host.profile.biz_name != nil
              %h2.host Hosted by 
              %a.host{:href => "/profiles/#{@event.host.profile.id}"}
                =' ' + @event.host.profile.biz_name
                -#TODO: use titleize
                -#TODO: FIX
            %h3 
              =@event.blurb
              -if user_signed_in?
                -if current_user.attending?(@event.id)
                  %hr
                  %table.feedback-actions
                    %tr
                      %td
                        %a.point-action{'ng-click' => 'appear="points"'} Claim your points for attending!
                      %td.points
                        +
                        =link_to image_tag 'Ten_Point.png', 'ng-click' => 'appear="points"', :href => ""
                  %table.feedback-actions
                    %tr
                      %td
                        %a.point-action{'ng-click' => 'appear="survey"'} Fill out a quick survey
                      %td.points
                        +
                        =link_to image_tag 'Fifteen_Point.png', 'ng-click' => 'appear="survey"', :href => ""
                    %tr
                      %td
                        %a.point-action{'ng-click' => 'appear="yelp"'} Write a Yelp Review
                      %td.points
                        +
                        =link_to image_tag 'Twenty_Point.png', 'ng-click' => 'appear="yelp"', :href => ""

            .event-summary-logistics-container
              .event-summary-logistics

                %h3#event-date
                  {{eventDate()}}, from {{eventTime()}} to {{eventEndTime()}}
                %a{:href => "{{mapUrl()}}", :target=>"_blank"}
                  ="#{@event.location.address1}, #{@event.location.city}, #{@event.location.state} #{@event.location.zipcode}"
                %ul.nav.event-button-group
                  %li
                    %button.btn{'data-toggle' => 'pill', 'ng-click' => 'appear = "details"'} Recap
                  %li
                    %button.btn{'data-toggle' => 'pill', 'ng-click' => 'appear = "menu"'} Menu
                  %li
                    %button.btn.attendees{'data-toggle' => 'pill', 'ng-click' => 'appear = "chatter"'} Attendees & Chatter
                  %li
                    %button.btn{'data-toggle' => 'pill', 'ng-click' => 'appear = "story"'} Story
                  %li
                    %button.btn{'data-toggle' => 'pill', 'ng-click' => 'appear = "followers"'} Followers
            .following{'ng-controller' => 'HeartCtrl', 'ng-init' => "follows=#{@event.follows.count}; following = '#{is_user_there_and_following('Event', @event.id)}'"}
              -if user_signed_in? == false
                .btn.btn-warning.standalone-button{:"data-toggle" => "modal", :href=>"#sign_up_foodie"} Sign Up
                .btn.btn-warning.standalone-button{:"data-toggle" =>"modal", :href=>"#sign_in"} Sign In
              -if user_signed_in?
                .btn.btn-warning.event-follow-button.clearfix{'ng-click' => "addFollower('Event',#{@event.id},#{user_signed_in?},follows)", 'ng-class'=>'{true: "hidden", false: "show"}[following]'} Follow to Hear About More Events with #{@event.host.profile.biz_name}

              %table.event-sharing
                %tr.icons
                  %td
                    -if user_signed_in?
                      %a.sb.heart.circle.no-border.no-shadow{'ng-click' => "addFollower('Event',#{@event.id},#{user_signed_in?},follows)", "data-toggle" => "tooltip", :title => "Click to follow and stay up to date on latest event details!", "data-placement" => "right",'ng-class' => '{true: "orange", false: "white"}[following]'}
                    -else
                      %a.sb.heart.circle.no-border.no-shadow.follow.foodiesignup{:href => "#sign_up_foodie", "data-toggle" => "tooltip", :"data-toggle" =>"modal", :title => "Please sign in or sign up in order to follow!", "data-placement" => "right"}
                  -if @event.host.profile.yelp_id.present?
                    %td
                      %a.sb.yelp.circle.no-border.no-shadow{:href=>"#{get_yelp_link(@event.host.profile)}",:target=>"_blank"} 
                  %td
                    %a.sb.facebook.circle.no-border.no-shadow{:href => "#"}
                %tr.host-stats
                  %td
                    %a.followers {{follows}}
                  -if @event.host.profile.yelp_id.present?
                    %td
                      %img.yelp-rating{:src => "#{get_yelp_rating_img_url(@event.host.profile)}"}
                  %td{:rowspan => "2"} share
                %tr.host-stat-labels
                  %td
                    %a.followers followers
                  -if @event.host.profile.yelp_id.present?
                    %td
                      %a{:href=>"#{get_yelp_link(@event.host.profile)}",:target=>"_blank"} #{get_review_count(@event.host.profile)} reviews

        -if current_user
          -if current_user.id == @event.host_id
            .span1.edit-button-event
              %a.button.btn{:href=>"/events/#{@event.id}/edit"} Edit
          -else
            .span1
        -else
          .span1
        .span6 
          .event-recap#details{'ng-show' => 'appear=="details"'}
            %button.close{"ng-click" => "appear=''", :type => "button"} close
            %h1 Event Recap
            %ul
              -if @event.post_event_images.present?
                %li
                  -@event.post_event_images.each_with_index do |i, index|
                    -if index == 0
                      %a.fancybox{:href => i.image, :rel => "group", :title => i.title} Event Photo Gallery
                    -else
                      %a.fancybox{:href => i.image, :rel => "group", :title => i.title}
              -if @event.post_event_media.present?
                %li
                  -for media in @event.post_event_media
                    -if user_signed_in?
                      -if current_user.attending?(@event.id)
                        %a.fancybox{:href => media.image, :"data-fancybox-type" => 'iframe'} #{media.title}
                      -else
                        %a.recipe{"data-toggle" => "tooltip", :title => "only people who attended the event can see this!", "data-placement" => "right"} #{media.title}
                    - else
                      %a.recipe{"data-toggle" => "tooltip", :title => "only people who attended the event can see this! if you attended the event, log in to see!", "data-placement" => "right"} #{media.title}
              -if @event.blog_link.present?
                %li
                  %a{:href=>"#{@event.blog_link}",:target=>"_blank"} Blog Post
              -#%li
                %a Event Case Study
            -#if user_signed_in?
              -if current_user.attending?(@event.id)
                %br
                  %button.btn.btn-warning.add-quote{'ng-click' => 'edit = "quote"', 'ng-hide' => 'edit == "quote"'} Add Comment              
                  .edit-form{'ng-show' => 'edit == "quote"'}
                    %form{:name => 'add_quote'}
                      %textarea.clearfix{:rows => 3, :placeholder => 'Leave a comment about the event!', :name => 'quote', :required => "required", 'ng-model' => 'event.post_event_comment', 'ng-class' => "{error: add_quote.quote.$invalid}"}
                      .help-block-white{'ng-show' => 'add_quote.quote.$error.required'} Required
                      %button.btn.btn-warning.edit{'ng-disabled' => 'add_quote.$invalid'} Add!
            -if @event.post_event_comments.present?
              %table.quotes
                -for comment in @event.post_event_comments
                  %tr
                    %td.quoter-image
                      -if comment.user.profile.avatar.present?
                        %img.quoter{:src => comment.user.profile.avatar.image, "data-toggle" => "tooltip", :title => "#{comment.user.first_name} #{comment.user.last_name}", "data-placement" => "right"}
                      -else
                        %img.quoter{:src => "/assets/Foodie-Default-Profile-Image.png", "data-toggle" => "tooltip", :title => "#{comment.user.first_name} #{comment.user.last_name}", "data-placement" => "right"}
                    %td.quoter-quote
                      %p "#{comment.content}"
                -#
                      %p "I was very impressed by Vijay's knowledge…The glass jar was the best thing ever. Getting a high quality, physical thing to take home meant a lot."
                  %tr
                    %td
                      %img.quoter{:src => "/assets/Foodie-Default-Profile-Image.png", "data-toggle" => "tooltip", :title => "name", "data-placement" => "right"}
                    %td
                      %p "The…demo was great. I thought the owner gave a really thorough explanation, and I was happy o learn about chai, get to try theirs, get my own JAR (I freakin' loved that jar), and then get a spiked chai. The whole progression [of the event] was the best part of the evening."
                  %tr
                    %td
                      %img.quoter{:src => "/assets/Foodie-Default-Profile-Image.png", "data-toggle" => "tooltip", :title => "name", "data-placement" => "right"}
                    %td
                      %p "[I am] more likely to go there now because I've … met the owner. [I] feel more of an emotional connection. [It was] good that Vijay was available to talk before and after. He had the right personality to be running that kind of event. He had good charisma."
                  %tr
                    %td
                      %img.quoter{:src => "/assets/Foodie-Default-Profile-Image.png", "data-toggle" => "tooltip", :title => "name", "data-placement" => "right"}
                    %td
                      %p "[The event] was a great way to get a new intro to a place I didn't know about."
                  %tr
                    %td
                      %img.quoter{:src => "/assets/Foodie-Default-Profile-Image.png", "data-toggle" => "tooltip", :title => "name", "data-placement" => "right"}
                    %td
                      %p "I don’t like hot drinks, and, believe it or not, I’ve never had tea before, but now I’m hooked in chai!"
                  %tr
                    %td
                      %img.quoter{:src => "/assets/Foodie-Default-Profile-Image.png", "data-toggle" => "tooltip", :title => "name", "data-placement" => "right"}
                    %td
                      %p "After this, I fully trust Vijay can put on a great event, so I would definitely go to another Tava event."
          .event-menu#menu{'ng-show' => 'appear=="menu"'}
            %button.close{"ng-click" => "appear=''", :type => "button"} close
            %h1 Menu
            -if @event.menu_pdf.present?
              %a.fancybox{:href => "#{@event.menu_pdf}", :"data-fancybox-type" => 'iframe'}  Expand
              %iframe.menu{:src => "#{@event.menu_pdf}", :width => '510px', :height => '420px'}
            -else
              %h3 No menu available.
          .event-attendees-and-chatter{'ng-show' => 'appear=="chatter"'}
            %button.close{"ng-click" => "appear=''", :type => "button"} close
            %h1 Attendees
            .attendees
              -if @event.guests_count > 0
                %table.following-table
                  -for guest in @event.guests_going
                    %tr 
                      %td
                        -if guest.user.present?
                          -if guest.user.profile.avatar.present?
                            =link_to image_tag(guest.user.profile.avatar.image), "/profiles/#{guest.user.profile.id}"
                          -else
                            =image_tag("Foodie-Default-Profile-Image.png")
                        -else
                          =image_tag("Foodie-Default-Profile-Image.png")
                      %td
                        -if guest.user.present?
                          %a{:href=>"/profiles/#{guest.user.profile.id}"}
                            ="#{guest.first_name} #{guest.last_name}"
                        -else
                          %h3
                            ="#{guest.first_name} #{guest.last_name}"
                      -#%td Number of Followers
                      %td
                        -if guest.user.present?
                          -if user_signed_in?
                            %a.sb.heart.circle.no-border.no-shadow{'ng-controller'=>'HeartCtrl', 'ng-click' => "follow('Profile',#{guest.user.profile.id},#{user_signed_in?})", 'ng-init' => "following = '#{is_user_there_and_following('Profile', guest.user.profile.id)}'", 'ng-class' => '{true: "orange", false: "white"}[following]'}
                          -else
                            %a.sb.heart.circle.no-border.no-shadow.foodiesignup{:href => "#sign_up_foodie", "data-toggle" => "tooltip", :"data-toggle" =>"modal", :title => "Please sign in or sign up in order to follow!", "data-placement" => "right"}
              -else
                %h3 There are currently no attendees. Be the first to grab a spot!
            .row.comments
              .fb-comments{"data-colorscheme" => "dark", "data-href" => "http://www.simmr.co/events/#{@event.id}", "data-num-posts" => "5", "data-width" => "500"}
          .event-host-story{'ng-show' => 'appear=="story"'}
            %button.close{"ng-click" => "appear=''", :type => "button"} close
            %h1 #{@event.host.profile.biz_name}'s Story
            %h3
              - if @event.host.profile.story != nil
                - n = @event.host.profile.story.split("\n")
                -for i in 0..n.length-1
                  = simple_format n[i]
              -if current_user
                -if (current_user.id == @event.host_id) && @event.host.profile.story == nil
                  ="Hey #{@event.host.profile.biz_name}, looks like you didn't add a 'story' in your profile. Be sure to add a story by clicking on 'Dashboard' above!"
          .host-followers{'ng-show' => 'appear == "followers"'}
            %button.close{"ng-click" => "appear=''", :type => "button"} close
            %h1 Followers
            %ul.nav.nav-tabs
              %li.active
                %a{"data-toggle" => "tab", :href => "#foodie-following"} Foodies
              %li
                %a{"data-toggle" => "tab", :href => "#business-following"} Businesses
            #myTabContent.tab-content
              #foodie-following.tab-pane.fade.active.in
                -if @event.follows.count > 0
                  %table.following-table
                    -for follow in @event.follows
                      -if follow.user.chef == false
                        %tr 
                          %td
                            -if follow.user.profile.avatar.present?
                              =link_to image_tag(follow.user.profile.avatar.image), "#"
                            -else
                              =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                          %td
                            %a{:href=>"/profiles/#{follow.user.profile.id}"}
                              ="#{follow.user.first_name} #{follow.user.last_name}"
                          -#%td Number of Followers..may want to add later
                          %td
                            -if user_signed_in?
                              %a.sb.heart.circle.no-border.no-shadow{'ng-controller'=>'HeartCtrl', 'ng-init' => "following='#{is_user_there_and_following('Profile', follow.user.profile.id)}'", 'ng-click' => "follow('Profile',#{follow.user.profile.id},#{user_signed_in?})", 'ng-class' => '{true: "orange", false: "white"}[following]'} 
                            -else
                              %a.sb.heart.circle.no-border.no-shadow.foodiesignup{:href => "#sign_up_foodie", "data-toggle" => "tooltip", :"data-toggle" =>"modal", :title => "Please sign in or sign up in order to follow!", "data-placement" => "right"}
                -else
                  %h3 No current followers. Click the heart to stay updated about this event!
              #business-following.tab-pane.fade
                -if @event.follows.count > 0
                  %table.following-table
                    -for follow in @event.follows
                      -if follow.user.chef == true
                        %tr 
                          %td
                            -if follow.user.profile.avatar.present?
                              =image_tag(follow.user.profile.avatar.image)
                            -else
                              =link_to image_tag("Chef-Default-Profile-Image.png"), "#"
                          %td
                            %a{:href=>"/profiles/#{follow.user.profile.id}"}
                              ="#{follow.user.profile.biz_name}"
                          -#%td Number of Followers..may want to add later
                          %td
                            -if user_signed_in?
                              %a.sb.heart.circle.no-border.no-shadow{'ng-controller'=>'HeartCtrl', 'ng-init' => "following = '#{is_user_there_and_following('Profile', follow.user.profile.id)}'", 'ng-click' => "follow('Profile',#{follow.user.profile.id},#{user_signed_in?})", 'ng-class' => '{true: "orange", false: "white"}[following]'} 
                                %p {{following}}
                            -else
                              %a.sb.heart.circle.no-border.no-shadow.foodiesignup{:href => "#sign_up_foodie", "data-toggle" => "tooltip", :"data-toggle" =>"modal", :title => "Please sign in or sign up in order to follow!", "data-placement" => "right"}
                -else
                  %h3 No current followers. Click the heart to stay updated about this event!
          
          %form.event-survey.clearfix{'ng-show' => 'appear=="survey"', :name => "feedback_survey"}
            %button.close{"ng-click" => "appear=''", :type => "button"} close
            %h1 Survey
            %input.survey-question-1{:type=>'text', :placeholder =>"Custom Survey Question 1", :name => "question_1", :required => "required", 'ng-model' => 'survey.question1', 'ng-class' => "{error: feedback_survey.question_1.$invalid}"}
            .help-block-white{'ng-show' => 'feedback_survey.question_1.$error.required'} Required
            %button.btn.btn-warning.standalone-button{'ng-click' => 'appear="points"', 'ng-disabled' => 'feedback_survey.$invalid'} Get Points!

          .event-yelp.clearfix{'ng-show' => 'appear=="yelp"'}
            %button.close{"ng-click" => "appear=''", :type => "button"} close
            %h1 Yelp Review
            %form{:name => "yelp_review"}
              %input.yelp-review-link{:type=>'url', :required => "required", :placeholder =>"Paste Yelp Review Link Here", :name => "yelp_link", 'ng-model' => "yelplink", 'ng-class' => "{error: yelp_review.yelp_link.$invalid}"}
              .help-block-white{'ng-show' => 'yelp_review.yelp_link.$error.required'} Required
              .help-block-white{'ng-show' => 'yelp_review.yelp_link.$error.url'} Please enter a valid URL
              %button.btn.btn-warning.standalone-button{'ng-click' => 'appear="points"', 'ng-disabled' => 'yelp_review.$invalid'} Get Points!


          .point-ranking.clearfix{'ng-show' => 'appear=="points"'}
            %button.close{"ng-click" => "appear=''", :type => "button"} close
            %h1 Leader Boards
            %ul.nav.nav-tabs
              %li.active
                %a{"data-toggle" => "tab", :href => "#friends-ranking"} Friends
              %li
                %a{"data-toggle" => "tab", :href => "#city-ranking"} City
              %li
                %a{"data-toggle" => "tab", :href => "#global-ranking"} Global
            #myTabContent.tab-content
              #friends-ranking.tab-pane.fade.active.in
                %table.point-ranking-table
                  %tr 
                    %td 1
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td Wendy
                    %td 5000
                  %tr.current-user-rank
                    %td 2
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td Wendy
                    %td 4000
                  %tr 
                    %td 3
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td Wendy
                    %td 3000
              #city-ranking.tab-pane.fade
                %table.point-ranking-table
                  %tr 
                    %td 1
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td SF Citizen
                    %td 5000
                  %tr 
                    %td 2
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td SF Citizen
                    %td 4000
                  %tr 
                    %td 3
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td SF Citizen
                    %td 3000
              #global-ranking.tab-pane.fade
                %table.point-ranking-table
                  %tr 
                    %td 1
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td Random Guy
                    %td 5000
                  %tr 
                    %td 2
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td Random Guy
                    %td 4000
                  %tr 
                    %td 3
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td Random Guy
                    %td 3000
            %button.btn.btn-warning.standalone-button{'ng-click' => 'appear="more_points"'} Get More Points
              
          .more-points.clearfix{'ng-show' => 'appear=="more_points"'}
            %button.close{"ng-click" => "appear=''", :type => "button"} close
            %h1 Get More Points
            %table.feedback-actions.clearfix
              %tr
                %td.point-action-cell
                  %a.point-action{:href=>"#", :onclick => "window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 'facebook-share-dialog', 'width=626,height=436'); return false;"} Tell a Friend About Simmr (you'll get more points when they sign up and attend an event!)
                %td.points
                  +
                  =link_to image_tag('Ten_Point.png'), ""
              %tr
                %td.point-action-cell
                  %a.point-action{:href => '/events'} Attend Another Event
                %td.points
                  +
                  =link_to image_tag('Ten_Point.png'), "/events"
              %tr
                %td.point-action-cell
                  %a.point-action{:href => '/campaigns/new'} Don't see your favorite business? Start a campaign to get them on Simmr! 
                %td.points
                  +
                  =link_to image_tag('Ten_Point.png'), "/campaigns/new"
            .clearfix
              %button.btn.btn-warning.standalone-button{'ng-click' => 'appear="points"'} Back to Leader Boards


