.events
  .event-profile
    #event-carousel.carousel.slide         
      .carousel-inner
        -@event.images.each_with_index do |i, index|
          -if index == 0
            .item.active
              = filepicker_image_tag i.image
          -else
            .item
              = filepicker_image_tag i.image
    %ol.carousel-indicators
      -@event.images.each_with_index do |i, index|     
        - if index == 0
          %li.active{"data-target" => "#event-carousel", "data-slide-to" => index}
        - else
          %li{"data-target" => "#event-carousel", "data-slide-to" => index}
        
    .container{'ng-controller' => 'EventRegisterCtrl', 'ng-init' => "address1=#{@event.location.address1}; city = #{@event.location.city}; state = #{@event.location.state}; zipcode = #{@event.location.zipcode}"}
      .event-registration.row
        .span1
        .span4
          .event-summary
            %h1
              =@event.title
            %h2 
              =@event.description
            -if @event.host.first_name != nil
              %h2
                =@event.host.first_name.split(' ').map(&:capitalize).join(' ') + " " + @event.host.last_name.split(' ').map(&:capitalize).join(' ')
                -#TODO: use titleize
                -#TODO: FIX
            %h2#event-cost
              =number_to_currency(@event.cost, :unit => "$")
            %hr
            %h3#event-date
              =@event.date.strftime("%A, %B %d, %l:%M%p")
            %h3 Mission
            -# upon registration show
              %a{:href => "{{mapURL}}"} 123 Mission Street <br> San Francisco, CA 94107
            %p 
              -# pull out and make this a method somewhere...
              =@event.seats_left
              seats left
            .progress.progress-warning
              -#probably want to pull this arithmetic out too
              .bar{:style => "width: #{@event.percent_full}%"}
            -if user_signed_in? == false
              .btn.btn-warning.standalone-button{:"data-toggle" => "modal", :href=>"#sign_up"} Sign Up
              %a.btn.btn-warning.standalone-button{:"data-toggle" =>"modal", :href=>"#sign_in"} Sign In
            -if user_signed_in?
              %select.number-of-seats{'ng-model' => 'num_guests'}
                %option{:value => 1} 1 seat
                - (@event.seats_left).times do |s|
                  %option{:value => s+2} #{s+2} seats
              .btn.btn-warning.event-go-button{'ng-click' => 'showPayment()', 'ng-disabled' => 'num_guests == 0 || num_guests == nil'} Go
            %table.event-sharing
              %tr
                %td
                  %a.sb.heart.circle.no-border.no-shadow.orange{:href=>"#"}
                %td
                  %a.sb.star.circle.no-border.no-shadow.orange{:href=>"#"}
                %td
                  %a.sb.facebook.circle.no-border.no-shadow.orange{:href=>"#", :onclick => "window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 'facebook-share-dialog', 'width=626,height=436'); return false;"}
                %td
                  %a.addthisevent{:href => "http://example.com/link-to-your-event", :title => "Add to Calendar"}
                    Add
                    %span._start 10-05-2012 11:38:46
                    %span._end 11-05-2012 11:38:46
                    %span._zonecode 6
                    %span._summary Summary of the event
                    %span._description Description of the event
                    %span._location Location of the event
                    %span._organizer Organizer
                    %span._organizer_email Organizer e-mail
                    %span._facebook_event http://www.facebook.com/events/160427380695693
                    %span._all_day_event false
                    %span._date_format DD/MM/YYYY
              %tr.host-stats
                %td 190
                %td 190
                %td{:rowspan => "2"} share
                %td to
              %tr.host-stat-labels
                %td followers
                %td reviews
                %td calendar
        .span1.heart_this
          %a.sb.heart.circle.no-border.no-shadow.black{title: 'Heart This'}
        .span1
        .span4 
          .event-guests.clearfix{'ng-show' => 'payment==1', 'ng-init'=> "cost=#{@event.cost}"}
            %h1 Total: ${{total()}}
            %hr
            %h2 Who all are coming?
            %form.guests{:name => "guest_registration", 'ng-repeat' => 'guest in guests'}
              %input.guest-name{'ng-disabled' => 'guest.id > 0','ng-model' => 'guest.name', :type=>'text', :placeholder =>"Guest Full Name", :required => "required", :name => "guest", 'ng-class' => "{error: guest_registration.guest.$invalid}"}
              %input.guest-email{'ng-disabled' => 'guest.id > 0','ng-model' => 'guest.email',:type=>'email', :placeholder =>"Guest Email", :required => "required", :name => "guest_email", 'ng-class' => "{error: guest_registration.guest_email.$invalid}"}
              .help-block-white{'ng-show' => 'guest_registration.guest_email.$error.email'} Please enter a valid email
              .help-block-white{'ng-show' => 'guest_registration.guest_email.$error.required || guest_registration.guest.$error.required'} All fields are required
            %button.btn.btn-warning.standalone-button#enter-payment-info{'ng-click' => 'gotoPayment()', 'ng-disabled' => "error=0"} Enter Payment Info

          -# TODO: May want to not pass user like this...
          .event-purchase.clearfix{'ng-show' => 'payment==2', 'ng-init'=> "cost=#{@event.cost};currentUser=#{current_user.to_json}"}
            %h1 Total: ${{total()}}
            %hr
            = render 'charges/stripe'
            %button.btn.btn-warning#ticket-purchase{'ng-click' => 'submitPayment()'} Purchase
            %button.btn#previous-button{'ng-click' => 'payment=1'} Previous

          .event-purchase.clearfix{'ng-show' => 'payment==3'}
            %h2 Thank you for your reservation! You will receive an email confirmation shortly.
            %button.btn.btn-warning#ok-button{'ng-click' => "payment=0", 'ng-hide' => 'payment==0'} Great!
        .span1
  .container
    .row
      .span2.scroll-menu.event
        %ul.nav.nav-list.scroll-menu-items{"data-spy" => "affix", "data-offset-top" => "680", "data-offset-bottom"=> "150"}
          %li 
            %a{:href=>"#about"} Host Story
          %li 
            %a{:href=>"#menu"} Menu
          %li   
            %a{:href=>"#chatter"} Chatter
      .span10
        .row.section-header#about
          .span10#host-story
            %a{:href => "#host-story", 'data-target'=>"#host-story-detail", 'data-toggle'=>"collapse"} Our Story <span class="caret"></span>
        .row.host-story
          .span10
            #host-story-accordion.accordion
              #host-story-detail.accordion-body.collapse.in
                .accordion-inner
                  %p
                    =@event.host.last_name
              -#=@event.host.profile.story
              -# Need to make sure a host story exists for that host before they can create the event...
      .row
        .span10.offset2
          .row.section-header#menu
            .span10#event-menu
              %a{:href => "#event-menu", 'data-target'=>"#event-menu-detail", 'data-toggle'=>"collapse"} The Menu <span class="caret"></span>
          .row.event-menu
            .span10
              #event-menu-accordion.accordion
                #event-menu-detail.accordion-body.collapse.in
                  .accordion-inner
                    %p
                      =@event.menu_text
          .row.section-header#chatter
            .span10#event-chatter
              %a{:href => "#event-chatter", 'data-target'=>"#event-chatter-detail", 'data-toggle'=>"collapse"} Chatter <span class="caret"></span>
          .row.event-chatter
            .span10
              #event-chatter-accordion.accordion
                #event-chatter-detail.accordion-body.collapse.in
                  .accordion-inner
                    .row.attendees
                      .span10
                        =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Wendy Lin", "class" => "one-attendee", "data-placement" => "bottom"
                        =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Neeharika Bharitya", "class" => "one-attendee", "data-placement" => "bottom"
                        =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Ziyan Chu", "class" => "one-attendee", "data-placement" => "bottom"
                        =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Christine Lee", "class" => "one-attendee", "data-placement" => "bottom"
                        =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Michael Makarov", "class" => "one-attendee", "data-placement" => "bottom"
                        -#
                          %p 
                            -for guest in @event.guests
                              = guest.first_name + " " + guest.last_name
                              %p
                    .row.comments
                      .span10
                        .fb-comments{"data-href" => "{{currentURL}}", "data-num-posts" => "10", "data-width" => "910"}

-#
  %p#notice= notice

  %p
    %b Title:
    = @event.title
  %p
    %b Location:
    = @event.location_title
  %p
    %b People limit:
    = @event.people_limit
  %p
    %b Description:
    = @event.description
  %p
    %b Menu pdf:
    = @event.menu_pdf
  %p
    %b Menu text:
    = @event.menu_text
  %p
    %b Date:
    = @event.date
  %p
    %b Cost:
    = @event.cost
  %p
    %b Length:
    = @event.length
  %p
    %b Other Information:
    = @event.other_info
  %p
    %b Host:
    = @event.host.first_name.split(' ').map(&:capitalize).join(' ') + " " + @event.host.last_name.split(' ').map(&:capitalize).join(' ')
  -for image in @event.images
    %p
      %b Title:
      = image.title
    %p
      = filepicker_image_tag image.image, w: 160, h: 160, fit: 'clip'
    %p
      %b Caption:
      = image.description

  = link_to 'Edit', edit_event_path(@event)
  \|
  = link_to 'Back', events_path