.events

  .eventProfile.row
    .event-overview.span12
      .eventImages
        #eventCarousel.carousel.slide
          %ol.carousel-indicators
            %li.active{"data-target" => "#eventCarousel", "data-slide-to" => "0"}
            %li{"data-target" => "#eventCarousel", "data-slide-to" => "1"} 
            %li{"data-target" => "#eventCarousel", "data-slide-to" => "2"}
          .carousel-inner
            .item.active
              =image_tag "Food 17.jpg", :width => '100%'
            .item
              =image_tag "Food 18.jpg"
            .item
              =image_tag "Food 22.jpg"
          %a.carousel-control.left{"data-slide" => "prev", :href => "#eventCarousel"} ‹
          %a.carousel-control.right{"data-slide" => "next", :href => "#eventCarousel"} ›
      .event-registration.row{'ng-controller' => 'EventRegisterCtrl'}
        .span1
        .span4
          .event-info
            %h1 The Silk Road {{nene}}
            %h2 Tea Tasting with Samovar
            %h2 Saturday, June 28
            %p 2 seats left
            .progress
              .bar{:style => "width: 60%;"}
            %select
              %option{:disabled => "disabled", :selected => "selected", :value => ""} Please select a name
              - @event.people_limit.times do |o|
                %option{:value => o+1} #{o+1} seats
            .btn.btn-warning{'ng-click' => 'payment=true'} Go
            %ul
              %li Facebook
              %li Twitter
              %li Yelp
              %li Email
        .span2
        .span4
          .event-purchase{'ng-show' => 'payment'}
            %h2 Total: $120
            %h3 You will not be charged until the event tilts
            %h2 Billing Information
            %label Address
            %input{:type=>'text'}
            %label City/State
            %input{:type=>'text'}
            %h2 Payment
            %label CC#
            %input{:type=>'text'}
            %label Expiration / CSC
            %input{:type=>'text'}
        .span1

  .eventProfile.row    
    %table.eventInfo.span4
      %tr
        %td.eventTitle
          %h1 4 Course "Liberty Duck" Dinner with Chefs
        %td.socialProof{:rowspan => "2"}
          %p 198 Followers
          %p 224 reviews
          %p Share Buttons
      %tr
        %td.eventHostDate
          %h3 Jonathan Sutton and Tony Ferrari          
          %h3 5/31/2013
      %tr.eventProgress
        %td.seatsleft{:colspan => "2"}
          5 seats left
          .progress.progress-warning
            .bar{:style => "width: 60%;"}
      %tr.purchase
        %td.tickets
          select number of tickets
        %td.action
          .btn.btn-warning Buy
    .location.span11
      123 Hillside Road <br>
      San Francisco, CA 94109
      .map.span4 Map
    .hostStory.span11
      host story
    .eventMenu.span11
      menu
    .eventAttendees.span11
      attendees
      .chatter.span4
        chattering


-#
  %p#notice= notice

  %p
    %b Title:
    = @event.title
  %p
    %b Location:
    = @event.location_title
  %p
    %b People limit:
    = @event.people_limit
  %p
    %b Description:
    = @event.description
  %p
    %b Menu pdf:
    = @event.menu_pdf
  %p
    %b Menu text:
    = @event.menu_text
  %p
    %b Date:
    = @event.date
  %p
    %b Cost:
    = @event.cost
  %p
    %b Length:
    = @event.length
  %p
    %b Other Information:
    = @event.other_info
  %p
    %b Host:
    = @event.host.first_name.split(' ').map(&:capitalize).join(' ') + " " + @event.host.last_name.split(' ').map(&:capitalize).join(' ')
  -for image in @event.images
    %p
      %b Title:
      = image.title
    %p
      = filepicker_image_tag image.image, w: 160, h: 160, fit: 'clip'
    %p
      %b Caption:
      = image.description

  = link_to 'Edit', edit_event_path(@event)
  \|
  = link_to 'Back', events_path