.events
  .event-profile.row
    .event-stats.span12
      #event-carousel.carousel.slide
        %ol.carousel-indicators
          %li.active{"data-target" => "#event-carousel", "data-slide-to" => "0"}
          %li{"data-target" => "#event-carousel", "data-slide-to" => "1"} 
          %li{"data-target" => "#event-carousel", "data-slide-to" => "2"}
        .carousel-inner
          .item.active
            =image_tag "Food 17.jpg", :width => '100%'
          .item
            =image_tag "Food 18.jpg"
          .item
            =image_tag "Food 22.jpg"
      .event-registration.row{'ng-controller' => 'EventRegisterCtrl'}
        .span1
        .span4
          .event-summary
            %h1 The Silk Road
            -# {{nene}}
            %h2 Tea Tasting with Samovar
            %h2 Saturday, June 28
            %p 2 seats left
            .progress.progress-warning
              .bar{:style => "width: 60%;"}
            %select.number-of-seats
              %option{:disabled => "disabled", :selected => "selected", :value => ""} Number of Seats
              - @event.people_limit.times do |o|
                %option{:value => o+1} #{o+1} seats
            .btn.btn-warning{'ng-click' => 'payment=true'} Go
            %table.event-sharing
              %tr
                %td FB
                %td TWT
                %td YLP
                %td MAIL
              %tr
                %td 190 likes
                %td 190 followers
                %td 190 reviews
                %td Mail a friend
        .span2
        .span4
          .event-purchase{'ng-show' => 'payment'}
            %h2 Total: $120
            %h3 You will not be charged until the event tilts
            %h3 Billing Information
            %input.address{:type=>'text', :placeholder =>"Address"}
            %input.city{:type=>'text', :placeholder =>"City"}
            %select.state
              %option{:disabled => "disabled", :selected => "selected", :value => ""} State
            %h3 Payment
            %input.cc-number{:type=>'text', :placeholder => "Credit Card Number"}
            %input.cc-expiration{:type=>'text', :placeholder => "Expiration"}
            %input.cc-csc{:type=>'text', :placeholder => "CSC"}
        .span1
    .row
    .row.section-header-first-child
      .span1
      .span10
        %h1 Our Story
      .span1
    .host-story.row
      .span1
      .span10
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
      .span1 
    .row.section-header
      .span1
      .span10
        %h1 The Menu
      .span1
    .event-menu.row
      .span1
      .span10
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
      .span1
    .row.section-header
      .span1
      .span10
        %h1 Chatter
      .span1
    .event-attendees.row
      .span1
      .attendees.span10
        %p attendees
      .span1
    .event-chatter.row
      .span1
      .chatter.span10
        %p threaded comments
      .span1


-#
  %p#notice= notice

  %p
    %b Title:
    = @event.title
  %p
    %b Location:
    = @event.location_title
  %p
    %b People limit:
    = @event.people_limit
  %p
    %b Description:
    = @event.description
  %p
    %b Menu pdf:
    = @event.menu_pdf
  %p
    %b Menu text:
    = @event.menu_text
  %p
    %b Date:
    = @event.date
  %p
    %b Cost:
    = @event.cost
  %p
    %b Length:
    = @event.length
  %p
    %b Other Information:
    = @event.other_info
  %p
    %b Host:
    = @event.host.first_name.split(' ').map(&:capitalize).join(' ') + " " + @event.host.last_name.split(' ').map(&:capitalize).join(' ')
  -for image in @event.images
    %p
      %b Title:
      = image.title
    %p
      = filepicker_image_tag image.image, w: 160, h: 160, fit: 'clip'
    %p
      %b Caption:
      = image.description

  = link_to 'Edit', edit_event_path(@event)
  \|
  = link_to 'Back', events_path