=content_for :title, "simmr | #{@event.title}"

.events{'ng-controller' => 'EventRegisterCtrl', 'ng-init' => "address1='#{@event.location.address1}';city='#{@event.location.city}';state='#{@event.location.state}';zipcode='#{@event.location.zipcode}';eventId='#{@event.id}';event.date='#{@event.date}';event.length='#{@event.length}';event.time='#{@event.time}';appear='';event.menuPdf='#{@event.menu_pdf}'"}
  .event-profile
    #event-carousel.carousel.slide.hidden-phone 
      .carousel-inner
        -if @event.covers.present?
          -@event.covers.each_with_index do |i, index|
            -if index == 0
              .item.active
                = image_tag i.image
            -else
              .item
                = image_tag i.image
        -else
          .item.active
            =image_tag "Food 26.jpg"
    -if @event.covers.count > 1
      %a.carousel-control.left.hidden-phone{"data-slide" => "prev", :href => "#event-carousel"} ‹
      %a.carousel-control.right.hidden-phone{"data-slide" => "next", :href => "#event-carousel"} ›   
    .container
      .event-registration.row
        .span5
          .event-summary
            #ribbon
              .container
                .base
                  %h3
                    =number_to_currency(@event.cost, :unit => "$", :precision => 0)
                .left_corner
                .right_corner
            .event-summary-top
              %h1
                =@event.title
              -if @event.host.profile.biz_name != nil
                %h2.host Hosted by 
                %a.host{:href => "/profiles/#{@event.host.profile.id}"}
                  =' ' + @event.host.profile.biz_name
                  -#TODO: use titleize
                  -#TODO: FIX
            %h3 
              =@event.blurb

            .event-summary-logistics-container
              .event-summary-logistics

                %h3
                  {{eventDate()}}, from {{eventTime()}} to {{eventEndTime()}}
                %h3 
                  =@event.location.neighborhood
                %a{:href => "{{mapUrl()}}",:target=>"_blank"} 
                  ="#{@event.location.address1}, #{@event.location.city}, #{@event.location.state} #{@event.location.zipcode}"
                %table.accommodations
                  %tr
                    -if @event.vegetarian
                      %td
                        Vegetarian-friendly
                    - if @event.vegan
                      %td
                        Vegan-friendly
                    - if @event.gluten_free
                      %td
                        Gluten Free-friendly
                %ul.nav.event-button-group
                  %li
                    %button.btn{'data-toggle' => 'pill', 'ng-click' => 'appear = "details"'} Details
                  %li
                    %button.btn{'data-toggle' => 'pill', 'ng-click' => 'appear = "menu"'} Menu
                  %li
                    %button.btn.attendees{'data-toggle' => 'pill', 'ng-click' => 'appear = "chatter"'} Attendees & Chatter
                  %li
                    %button.btn{'data-toggle' => 'pill', 'ng-click' => 'appear = "story"'} Story
                  %li
                    %button.btn{'data-toggle' => 'pill', 'ng-click' => 'appear = "followers"'} Followers

            %p 
              =@event.seats_left
              seats left!
            .progress.progress-warning
              .bar{:style => "width: #{@event.percent_full}%"}
            - if @event.seats_left > 0
              .btn.btn-warning.grab-seats-button{'ng-click' => 'showSeats = true', 'ng-hide' => 'showSeats'} Book It
            -else
              .btn.grab-seats-button Sold Out! 
            -#PRETTY SURE THE CODE BELOW IS RIGHT BUT NOT WORKING AS EXPECTED
            -if user_signed_in?
              -# Create a method in your model for
              -for guest in @event.guests
                -if guest.user_id.present?
                  -if current_user.id == guest.user_id
                    %a.btn.btn-warning.grab-seats-button{:href => "/events/#{@event.id}/post_event"} Leave Feedback!
            -#=render 'shared/signup_modals', :modal_class => '.eventshowsignup'
            .seats{'ng-show'=> 'showSeats'}
              -if user_signed_in? == false
                %a.btn.btn-warning.standalone-button.foodiesignup{:"data-toggle" => "modal", :href=>"#sign_up_foodie"} Sign Up
                %a.btn.btn-warning.standalone-button.foodiesignup{:"data-toggle" =>"modal", :href=>"#sign_in"} Sign In
              -if user_signed_in?
                %select.number-of-seats{'ng-model' => 'num_guests'}
                  %option{:value => ''} Number of Seats
                  %option{:value => 1} 1 seat
                  -# (@event.seats_left).times do |s|
                    %option{:value => s+2} #{s+2} seats
                .btn.btn-warning.event-go-button{'ng-click' => 'showPayment()', 'ng-disabled' => "num_guests==nil || num_guests == 0"} Go
            
            %table.event-sharing{'ng-controller' => 'HeartCtrl', 'ng-init' => "follows=#{@event.follows.count}"}
              %tr.icons
                %td
                  -if user_signed_in?
                    -if @current_user.follows_this?('Event', @event.id) == true
                      %a.sb.heart.circle.no-border.no-shadow.orange.follow{'ng-click' => "addFollower('Event',#{@event.id},#{user_signed_in?},follows)", :href => "#", "data-toggle" => "tooltip", :title => "Click to follow and stay up to date!", "data-placement" => "right"}
                    -else
                      %a.sb.heart.circle.no-border.no-shadow.follow{'ng-click' => "addFollower('Event',#{@event.id},#{user_signed_in?},follows)", :href => "#", "data-toggle" => "tooltip", :title => "Click to follow and stay up to date!", "data-placement" => "right"}
                  -else
                    %a.sb.heart.circle.no-border.no-shadow.follow.foodiesignup{:href => "#sign_up_foodie", "data-toggle" => "tooltip", :"data-toggle" =>"modal", :title => "Please sign in or sign up in order to follow!", "data-placement" => "right"}
                %td
                  %a.sb.yelp.circle.no-border.no-shadow{:href=>"#{@event.host.profile.yelp_id}",:target=>"_blank"} 
                %td
                  %a.sb.facebook.circle.no-border.no-shadow{:href => "#"}
                %td
                  %a.addthisevent{:href => "", :title => "Add to Calendar"}
                    +
                    %span._start
                      =DateTime.new(@event.date.year,@event.date.month,@event.date.day,@event.time.hour,@event.time.min,@event.time.sec).strftime('%m-%d-%Y %H:%M:%S')
                    %span._end
                      =(DateTime.new(@event.date.year,@event.date.month,@event.date.day,@event.time.hour,@event.time.min,@event.time.sec)+@event.length.minutes).strftime('%m-%d-%Y %H:%M:%S')
                    %span._zonecode 6
                    %span._summary="Simmr Event: #{@event.title}"
                    %span._description=@event.blurb
                    %span._location
                      ="#{@event.location.address1}, #{@event.location.neighborhood}, #{@event.location.city}, #{@event.location.zipcode}"
                    %span._organizer Simmr
                    %span._organizer_email
                      -#Add email to link here
                      hello@simmr.co
                    -#not sure what fb event this is
                    -#%span._facebook_event http://www.facebook.com/events/160427380695693
                    %span._all_day_event false
                    %span._date_format DD/MM/YYYY
              %tr.host-stats
                %td
                  %a.followers {{follows}}
                %td
                  %a{:href=>"#{@event.host.profile.yelp_id}",:target=>"_blank"} 113
                %td{:rowspan => "2"} share 
                %td to
              %tr.host-stat-labels
                %td
                  %a.followers followers
                %td 
                  %a{:href=>"#{@event.host.profile.yelp_id}",:target=>"_blank"} reviews
                %td calendar
        -if current_user
          -if current_user.id == @event.host_id
            .span1.edit-button-event
              %a.button.btn{:href=>"/events/#{@event.id}/edit"} Edit
          -else
            .span1
        .span6
          .event-details#details{'ng-show' => 'appear=="details"'}
            %button.close{"ng-click" => "appear=''", :type => "button"} close
            %h1 Details
            %h3
              - if @event.description != nil
                - n = @event.description.split("\n")
                -for i in 0..n.length-1
                  = simple_format n[i]
          .event-menu#menu{'ng-show' => 'appear=="menu"'}
            %button.close{"ng-click" => "appear=''", :type => "button"} close
            %h1 Menu
            -if @event.menu_pdf.present?
              %a.fancybox{:href => "#{@event.menu_pdf}", :"data-fancybox-type" => 'iframe'}  Expand
              %iframe.menu{:src => "#{@event.menu_pdf}", :width => '510px', :height => '420px'}
            -else
              %h3 Coming Soon!
          .event-attendees-and-chatter{'ng-show' => 'appear=="chatter"'}
            %button.close{"ng-click" => "appear=''", :type => "button"} close
            %h1 Attendees
            .attendees
              -if @event.guests_count > 0
                %table.following-table
                  -for guest in @event.guests
                    %tr 
                      %td
                        -if guest.user.present?
                          -if guest.user.profile.avatar.present?
                            =link_to image_tag(guest.user.profile.avatar.image), "/profiles/#{guest.user.profile.id}"
                          -else
                            =image_tag("Foodie-Default-Profile-Image.png")
                        -else
                          =image_tag("Foodie-Default-Profile-Image.png")
                      %td
                        -if guest.user.present?
                          %a{:href=>"/profiles/#{guest.user.profile.id}"}
                            ="#{guest.first_name} #{guest.last_name}"
                        -else
                          %h3
                            ="#{guest.first_name} #{guest.last_name}"
                      -#%td Number of Followers
                      %td
                        -if guest.user.present?
                          -if user_signed_in?
                            -if @current_user.follows_this?('Profile', guest.user.profile.id) == true
                              %a.sb.heart.circle.no-border.no-shadow.orange{'ng-controller'=>'HeartCtrl', 'ng-click' => "follow('Profile',#{guest.user.profile.id},#{user_signed_in?})"}
                            -else
                              %a.sb.heart.circle.no-border.no-shadow{'ng-controller'=>'HeartCtrl', 'ng-click' => "follow('Profile',#{guest.user.profile.id},#{user_signed_in?})"}
                          -else
                            %a.sb.heart.circle.no-border.no-shadow.follow.foodiesignup{:href => "#sign_up_foodie", "data-toggle" => "tooltip", :"data-toggle" =>"modal", :title => "Please sign in or sign up in order to follow!", "data-placement" => "right"}
              -else
                %h3 There are currently no attendees. Be the first to grab a spot!
            .row.comments
              .fb-comments{"data-colorscheme" => "dark", "data-href" => "#{request.url}", "data-num-posts" => "5", "data-width" => "500"}
          .event-host-story{'ng-show' => 'appear=="story"'}
            %button.close{"ng-click" => "appear=''", :type => "button"} close
            %h1 #{@event.host.profile.biz_name}'s Story
            %h3
              -if @event.host.profile.story != nil
                - n = @event.host.profile.story.split("\n")
                -for i in 0..n.length-1
                  = simple_format n[i]
              -if current_user
                -if (current_user.id == @event.host_id) && @event.host.profile.story == nil
                  ="Hey #{@event.host.profile.biz_name}, looks like you didn't add a 'story' in your profile. Be sure to add a story by clicking on 'Dashboard' above!"
          .host-followers{'ng-show' => 'appear == "followers"'}
            %button.close{"ng-click" => "appear=''", :type => "button"} close
            %h1 Followers
            %ul.nav.nav-tabs
              %li.active
                %a{"data-toggle" => "tab", :href => "#foodie-following"} Foodies
              %li
                %a{"data-toggle" => "tab", :href => "#business-following"} Businesses
            #myTabContent.tab-content
              #foodie-following.tab-pane.fade.active.in
                -if @event.follows.count > 0
                  %table.following-table
                    -for follow in @event.follows
                      -if follow.user.chef == false
                        %tr 
                          %td
                            -if follow.user.profile.avatar.present?
                              =link_to image_tag(follow.user.profile.avatar.image), "#"
                            -else
                              =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                          %td
                            %a{:href=>"/profiles/#{follow.user.profile.id}"}
                              ="#{follow.user.first_name} #{follow.user.last_name}"
                          -#%td Number of Followers..may want to add later
                          %td
                            -if user_signed_in?
                              -if @current_user.follows_this?('Profile', follow.user.profile.id) == true
                                %a.sb.heart.circle.no-border.no-shadow.orange{'ng-controller'=>'HeartCtrl', 'ng-click' => "follow('Profile',#{follow.user.profile.id},#{user_signed_in?})"}
                              -else
                                %a.sb.heart.circle.no-border.no-shadow{'ng-controller'=>'HeartCtrl', 'ng-click' => "follow('Profile',#{follow.user.profile.id},#{user_signed_in?})"}
                            -else
                              %a.sb.heart.circle.no-border.no-shadow.follow.foodiesignup{:href => "#sign_up_foodie", "data-toggle" => "tooltip", :"data-toggle" =>"modal", :title => "Please sign in or sign up in order to follow!", "data-placement" => "right"}

                -else
                  %h3 No current followers. Click the heart to stay updated about this event!
              #business-following.tab-pane.fade
                -if @event.follows.count > 0
                  %table.following-table
                    -for follow in @event.follows
                      -if follow.user.chef == true
                        %tr 
                          %td
                            -if follow.user.profile.avatar.present?
                              =image_tag(follow.user.profile.avatar.image)
                            -else
                              =link_to image_tag("Chef-Default-Profile-Image.png"), "#"
                          %td
                            %a{:href=>"/profiles/#{follow.user.profile.id}"}
                              ="#{follow.user.profile.biz_name}"
                          -#%td Number of Followers..may want to add later
                          %td
                            -if user_signed_in?
                              -if @current_user.follows_this?('Profile', follow.user.profile.id) == true
                                %a.sb.heart.circle.no-border.no-shadow.orange{'ng-controller'=>'HeartCtrl', 'ng-click' => "follow('Profile',#{follow.user.profile.id},#{user_signed_in?})"}
                              -else
                                %a.sb.heart.circle.no-border.no-shadow{'ng-controller'=>'HeartCtrl', 'ng-click' => "follow('Profile',#{follow.user.profile.id},#{user_signed_in?})"}
                            -else
                              %a.sb.heart.circle.no-border.no-shadow.follow.foodiesignup{:href => "#sign_up_foodie", "data-toggle" => "tooltip", :"data-toggle" =>"modal", :title => "Please sign in or sign up in order to follow!", "data-placement" => "right"}
                -else
                  %h3 No current followers. Click the heart to stay updated about this event!

          .event-guests.clearfix{'ng-show' => 'appear=="payment1"', 'ng-init'=> "cost='#{@event.cost}'"}
            %h1 Total: ${{total()}}
            %hr
            %h2 Who all are coming?
            %form.guests{:name => "guest_registration", 'ng-repeat' => 'guest in guests'}
              -#Make first email say "YOUR EMAIL" not guest email, send confirmation email, have note on every event someone has registered for that they've registered and should have gotten an email.
              %input.guest-name{'ng-disabled' => 'guest.id > 0','ng-model' => 'guest.first_name', :type=>'text', :placeholder =>"Guest First Name", :required => "required", :name => "guest_first", 'ng-class' => "{error: guest_registration.guest_first.$invalid}"}
              %input.guest-name{'ng-disabled' => 'guest.id > 0','ng-model' => 'guest.last_name', :type=>'text', :placeholder =>"Guest Last Name", :required => "required", :name => "guest_last", 'ng-class' => "{error: guest_registration.guest_last.$invalid}"}
              %input.guest-email{'ng-disabled' => 'guest.id > 0','ng-model' => 'guest.email',:type=>'email', :placeholder =>"Guest Email", :required => "required", :name => "guest_email", 'ng-class' => "{error: guest_registration.guest_email.$invalid}"}
              .help-block-white{'ng-show' => 'guest_registration.guest_email.$error.email'} Please enter a valid email
              .help-block-white{'ng-show' => 'guest_registration.guest_email.$error.required || guest_registration.guest_first.$error.required || guest_registration.guest_last.$error.required'} All fields are required
            %button.btn.btn-warning.standalone-button#enter-payment-info{'ng-click' => 'gotoPayment()', 'ng-disabled' => "error=0"} Enter Payment Info

          .event-purchase.clearfix{'ng-show' => 'appear=="payment2"', 'ng-init'=> "cost=#{@event.cost};currentUser=#{current_user.to_json}"}
            %h1 Total: ${{total()}}
            %hr
            = render 'charges/stripe'
            %h2{'ng-hide' => 'cardErrorMessages[0]=="" || cardErrorMessages[0]==nil'} {{cardErrorMessages[0]}} Try again!

            %button.btn.btn-warning#ticket-purchase{'ng-click' => 'submitPayment()', 'ng-disabled'=> 'stripe.$invalid'} Purchase
            %button.btn#previous-button{'ng-click' => 'appear="payment1"'} Previous

          .event-purchase-confirmation.clearfix{'ng-show' => 'appear=="payment3"'}
            %h2 Thank you for your reservation! You will receive an email confirmation shortly.

            %a.btn.btn-warning#ok-button{:href => "/events"} Check Out More Cool Events!
