.events
  .event-profile
    .event-stats
      #event-carousel.carousel.slide
        %ol.carousel-indicators
          -@event.images.each_with_index do |i, index|         
            -if index == 0
              %li.active{"data-target" => "#event-carousel", "data-slide-to" => index}
            -else
              %li{"data-target" => "#event-carousel", "data-slide-to" => index}
           
        .carousel-inner
          -@event.images.each_with_index do |i, index|
            -if index == 0
              .item.active
                = filepicker_image_tag i.image, w: 1000, h: 500
            -else
              .item
                = filepicker_image_tag i.image, w: 1000, h: 500
      .container
        .event-registration.row{'ng-controller' => 'EventRegisterCtrl'}
          .span1
          .span4
            .event-summary
              %h1
                =@event.title
              -# {{nene}}
              %h2 
                =@event.description
              %h2 
                =@event.date.strftime("%A %B %d, %I:%M%p")
              %h2 Mission
              %p 
                -# pull out and make this a method somewhere...
                =@event.people_limit - @event.guests.count
                seats left
              .progress.progress-warning
                -#probably want to pull this arithmetic out too
                .bar{:style => "width: #{(@event.guests.count/@event.people_limit.to_f)*100}%"}
              %select.number-of-seats{'ng-model' => 'num_guests'}
                %option{:disabled => "disabled", :selected => "selected", :value => ""} Number of Seats
                - (@event.people_limit - @event.guests.count).times do |s|
                  %option{:value => s+1} #{s+1} seats
              .btn.btn-warning{'ng-click' => 'payment=1'} Go
              %table.event-sharing
                %tr
                  %td FB
                  %td TWT
                  %td YLP
                  %td MAIL
                %tr
                  %td 190 likes
                  %td 190 followers
                  %td 190 reviews
                  %td Mail a friend
          .span2
          .span4
            .event-purchase{'ng-show' => 'payment==1', 'ng-init'=> "cost=#{@event.cost}"}
              %h2 Total: ${{total()}}
              %h3 You will not be charged until the event tilts
              %h3 Billing Information
              -# Need to hook up to user.charges.new
              %input.address{:type=>'text', :placeholder =>"Address"}
              %input.city{:type=>'text', :placeholder =>"City"}
              %select.state
                %option{:disabled => "disabled", :selected => "selected", :value => ""} State
              %h3 Payment
              %input.cc-number{:type=>'text', :placeholder => "Credit Card Number"}
              %input.cc-expiration{:type=>'text', :placeholder => "Expiration"}
              %input.cc-csc{:type=>'text', :placeholder => "CSC"}
              .btn.btn-warning{'ng-click' =>'payment=2'} Next

            .event-purchase{'ng-show' => 'payment==2'}
              %h2 Total: $80
              %h3 You will not be charged until the event tilts
              %h3 Billing Information
              -# Need to hook up to user.charges.new
              %input.address{:type=>'text', :placeholder =>"Address"}
              %input.city{:type=>'text', :placeholder =>"City"}
              %select.state
                %option{:disabled => "disabled", :selected => "selected", :value => ""} State
              %h3 Payment
              %input.cc-number{:type=>'text', :placeholder => "Credit Card Number"}
              %input.cc-expiration{:type=>'text', :placeholder => "Expiration"}
              %input.cc-csc{:type=>'text', :placeholder => "CSC"}
              .btn.btn-warning{'ng-click' =>'payment=2'} Next
          .span1
  .container
    .row
    .row.section-header-first-child
      .span1
      .span10
        %h1 Our Story
      .span1
    .host-story.row
      .span1
      .span10
        %p
          =@event.host.last_name
      .span1 
    .row.section-header
      .span1
      .span10
        %h1 The Menu
      .span1
    .event-menu.row
      .span1
      .span10
        %p 
          =@event.menu_text
      .span1
    .row.section-header
      .span1
      .span10
        %h1 Chatter
      .span1
    .event-attendees.row
      .span1
      .attendees.span10
        %p
          -for guest in @event.guests
            = guest.first_name + " " + guest.last_name
            %p
      .span1
    .event-chatter.row
      .span1
      .chatter.span10
        %p threaded comments
      .span1


-#
  %p#notice= notice

  %p
    %b Title:
    = @event.title
  %p
    %b Location:
    = @event.location_title
  %p
    %b People limit:
    = @event.people_limit
  %p
    %b Description:
    = @event.description
  %p
    %b Menu pdf:
    = @event.menu_pdf
  %p
    %b Menu text:
    = @event.menu_text
  %p
    %b Date:
    = @event.date
  %p
    %b Cost:
    = @event.cost
  %p
    %b Length:
    = @event.length
  %p
    %b Other Information:
    = @event.other_info
  %p
    %b Host:
    = @event.host.first_name.split(' ').map(&:capitalize).join(' ') + " " + @event.host.last_name.split(' ').map(&:capitalize).join(' ')
  -for image in @event.images
    %p
      %b Title:
      = image.title
    %p
      = filepicker_image_tag image.image, w: 160, h: 160, fit: 'clip'
    %p
      %b Caption:
      = image.description

  = link_to 'Edit', edit_event_path(@event)
  \|
  = link_to 'Back', events_path