.events
  .event-profile
    #event-carousel.carousel.slide         
      .carousel-inner
        -@event.images.each_with_index do |i, index|
          -if index == 0
            .item.active
              = filepicker_image_tag i.image
          -else
            .item
              = filepicker_image_tag i.image
    %ol.carousel-indicators
      -@event.images.each_with_index do |i, index|     
        - if index == 0
          %li.active{"data-target" => "#event-carousel", "data-slide-to" => index}
        - else
          %li{"data-target" => "#event-carousel", "data-slide-to" => index}
        
    .container
      .event-registration.row{'ng-controller' => 'EventRegisterCtrl'}
        .span1
        .span4
          .event-summary
            %h1
              =@event.title
            %h2 
              =@event.description
            %h2
              =@event.host.first_name.split(' ').map(&:capitalize).join(' ') + " " + @event.host.last_name.split(' ').map(&:capitalize).join(' ')
              -#TODO: use titleize
              -#TODO: FIX
            %h2#event-cost
              =number_to_currency(@event.cost, :unit => "$")
            %hr
            %h3#event-date
              =@event.date.strftime("%A %B %d, %l:%M%p")
            %h3 Mission
            %p 
              -# pull out and make this a method somewhere...
              =@event.people_limit - @event.guests.count
              seats left
            .progress.progress-warning
              -#probably want to pull this arithmetic out too
              .bar{:style => "width: #{(@event.guests.count/@event.people_limit.to_f)*100}%"}
            %select.number-of-seats{'ng-model' => 'num_guests'}
              %option{:value => 1} 1 seat
              - (@event.people_limit - @event.guests.count).times do |s|
                %option{:value => s+2} #{s+2} seats
            -if user_signed_in? == false
              .btn.btn-warning.event-go-button#sign_up{:"data-toggle" => "modal"} Sign Up
              .btn.btn-warning.event-go-button#sign_in{:"data-toggle" =>"modal"} Sign In
            -if user_signed_in?
              .btn.btn-warning.event-go-button{'ng-click' => 'showPayment()'} Go
            %table.event-sharing
              %tr
                %td
                  %a.sb.heart.circle.no-border.no-shadow.orange{:href=>"#"}
                %td
                  %a.sb.star.circle.no-border.no-shadow.orange{:href=>"#"}
                %td
                  %a.sb.share_this.circle.no-border.no-shadow.orange{:href=>"#"}
              %tr.host-stats
                %td 190
                %td 190
                %td Tell
              %tr.host-stat-labels
                %td followers
                %td reviews
                %td a friend
        .span1.heart_this
          %a.sb.heart.circle.no-border.no-shadow.black{title: 'Heart This'}
        .span1
        .span4 
          -#this needs to happen only when tickets >1
          .event-guests.clearfix{'ng-show' => 'payment==1', 'ng-init'=> "cost=#{@event.cost}"}
            %h1 Total: ${{total()}}
            %hr
            %h2 Who are you bringing?
            -#this needs to show fields for however many guests there are (ideally just 2-3 at a time if there's a TON)
            %h3 Guest
            .guests{'ng-repeat' => 'guest in guests'}
              %input.guest-name{'ng-disabled' => 'guest.id > 0','ng-model' => 'guest.name', :type=>'text', :placeholder =>"Guest Full Name", :class => "error-{{guest.nameError}}"}
              %input.guest-email{'ng-disabled' => 'guest.id > 0','ng-model' => 'guest.email',:type=>'email', :placeholder =>"Guest Email", :class => "error-{{guest.emailError}}"}
            %button.btn.btn-warning.standalone-button{'ng-click' => 'gotoPayment()'} Next

          -# TODO: May want to not pass user like this...
          .event-purchase.clearfix{'ng-show' => 'payment==2', 'ng-init'=> "cost=#{@event.cost};currentUser=#{current_user.to_json}"}
            %h1 Total: ${{total()}}
            %hr
            = render 'charges/stripe'
            %button.btn.btn-warning#ticket_purchase{'ng-click' => 'submitPayment()'} Submit
            %button.btn.btn-warning{'ng-click' => 'payment=1'} Previous

          .event-purchase.clearfix{'ng-show' => 'payment==3'}
            %h2 Thank you for your purchase! You will receive an email confirmation shortly.
            %button.btn.btn-warning{'ng-click' => "payment=0", 'ng-hide' => 'payment==0'} Done
        .span1
  .container
    .row.section-header
      .span12#host-story
        %a{:href => "#host-story", 'data-target'=>"#host-story-detail", 'data-toggle'=>"collapse"} Host Story <span class="caret collapsed"></span>
  .host-story
    .container
      .row
        .span1
        .span10
          #host-story-accordion.accordion
            #host-story-detail.accordion-body.collapse.in
              .accordion-inner
                %p
                  =@event.host.last_name
            -#=@event.host.profile.story
            -# Need to make sure a host story exists for that host before they can create the event...
        .span1 
  .container
    .row.section-header
      .span12#event-menu
        %a{:href => "#event-menu", 'data-target'=>"#event-menu-detail", 'data-toggle'=>"collapse"} The Menu <span class="caret collapsed"></span>
  .event-menu
    .container
      .row
        .span1
        .span10
          #event-menu-accordion.accordion
            #event-menu-detail.accordion-body.collapse.in
              .accordion-inner
                %p
                  =@event.menu_text
        .span1
  .container
    .row.section-header
      .span12#event-chatter
        %a{:href => "#event-chatter", 'data-target'=>"#event-chatter-detail", 'data-toggle'=>"collapse"} Chatter <span class="caret collapsed"></span>
  .event-chatter
    .container
      .row
        .span1
        .span10
          #event-chatter-accordion.accordion
            #event-chatter-detail.accordion-body.collapse.in
              .accordion-inner
                .row.attendees
                  .span12
                    =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Wendy Lin", "class" => "one-attendee", "data-placement" => "bottom"
                    =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Neeharika Bharitya", "class" => "one-attendee", "data-placement" => "bottom"
                    =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Ziyan Chu", "class" => "one-attendee", "data-placement" => "bottom"
                    =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Christine Lee", "class" => "one-attendee", "data-placement" => "bottom"
                    =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Michael Makarov", "class" => "one-attendee", "data-placement" => "bottom"
                    -#
                      %p 
                        -for guest in @event.guests
                          = guest.first_name + " " + guest.last_name
                          %p
                .row.comments
                  .span12
                    %table
                      %tr
                        %td
                          =link_to image_tag("Favicon.png"), "#"
                        %td
                          Comment blahblahblahblah
                      %tr
                        %td
                          =link_to image_tag("Favicon.png"), "#"
                        %td
                          Comment blahblahblahblah
                    %table.response-level1.offset1
                      %tr
                        %td
                          =link_to image_tag("Favicon.png"), "#"
                        %td
                          Comment blahblahblahblah
                    %table.response-level2.offset2
                      %tr
                        %td
                          =link_to image_tag("Favicon.png"), "#"
                        %td
                          Comment blahblahblahblah
        .span1



-#
  %p#notice= notice

  %p
    %b Title:
    = @event.title
  %p
    %b Location:
    = @event.location_title
  %p
    %b People limit:
    = @event.people_limit
  %p
    %b Description:
    = @event.description
  %p
    %b Menu pdf:
    = @event.menu_pdf
  %p
    %b Menu text:
    = @event.menu_text
  %p
    %b Date:
    = @event.date
  %p
    %b Cost:
    = @event.cost
  %p
    %b Length:
    = @event.length
  %p
    %b Other Information:
    = @event.other_info
  %p
    %b Host:
    = @event.host.first_name.split(' ').map(&:capitalize).join(' ') + " " + @event.host.last_name.split(' ').map(&:capitalize).join(' ')
  -for image in @event.images
    %p
      %b Title:
      = image.title
    %p
      = filepicker_image_tag image.image, w: 160, h: 160, fit: 'clip'
    %p
      %b Caption:
      = image.description

  = link_to 'Edit', edit_event_path(@event)
  \|
  = link_to 'Back', events_path