.events
  .event-profile
    .event-stats
      #event-carousel.carousel.slide
        %ol.carousel-indicators
          -@event.images.each_with_index do |i, index|         
            -if index == 0
              %li.active{"data-target" => "#event-carousel", "data-slide-to" => index}
            -else
              %li{"data-target" => "#event-carousel", "data-slide-to" => index}
           
        .carousel-inner
          -@event.images.each_with_index do |i, index|
            -if index == 0
              .item.active
                = filepicker_image_tag i.image
            -else
              .item
                = filepicker_image_tag i.image
      .container
        .event-registration.row{'ng-controller' => 'EventRegisterCtrl'}
          .span1
          .span4
            .event-summary
              %h1
                =@event.title
              -# {{nene}}
              %h2 
                =@event.description
              %h2 Host Name
              %hr
              %h3 
                =@event.date.strftime("%A %B %d, %I:%M%p")
              %h3 Mission
              %p 
                -# pull out and make this a method somewhere...
                =@event.people_limit - @event.guests.count
                seats left
              .progress.progress-warning
                -#probably want to pull this arithmetic out too
                .bar{:style => "width: #{(@event.guests.count/@event.people_limit.to_f)*100}%"}
              %select.number-of-seats
                %option{:disabled => "disabled", :selected => "selected", :value => ""} Number of Seats
                - (@event.people_limit - @event.guests.count).times do |s|
                  %option{:value => s+1} #{s+1} seats
              .btn.btn-warning{'ng-click' => 'payment=1'} Go
              %table.event-sharing
                %tr
                  %td
                    %a.sb.facebook.circle.no-border.no-shadow.orange{:href=>"#"}
                  %td
                    %a.sb.twitter.circle.no-border.no-shadow.orange{:href=>"#"}
                  %td
                    %a.sb.star.circle.no-border.no-shadow.orange{:href=>"#"}
                  %td
                    %a.sb.share_this.circle.no-border.no-shadow.orange{:href=>"#"}
                %tr.host-stats
                  %td 190
                  %td 190
                  %td 190
                  %td Email
                %tr.host-stat-labels
                  %td likes
                  %td followers
                  %td reviews
                  %td a friend
          .span1.heart_this
            %a.sb.heart.circle.no-border.no-shadow.black
          .span1
          .span4 
            -#this needs to happen only when tickets >1
            .event-guests.clearfix{'ng-show' => 'payment==1'}
              %h1 Total: $120
              %hr
              %h2 Who are you bringing?
              -#this needs to show fields for however many guests there are (ideally just 2-3 at a time if there's a TON)
              %h3 Guest
              -# Need to hook up to user.charges.new
              %input.guest-name{:type=>'text', :placeholder =>"Guest Full Name"}
              %input.guest-email{:type=>'text', :placeholder =>"Guest Email"}
              .btn.btn-warning.standalone-button{'ng-click' =>'payment=2'} Next

            .event-purchase.clearfix{'ng-show' => 'payment==2'}
              %h1 Total: $120
              %hr
              = render 'charges/stripe'
              .btn.btn-warning#ticket_purchase{'ng-click' =>'payment=2'} Submit
              .btn.btn-warning{'ng-click'=>'payment=1'} Previous
          .span1
  .container
    .row.section-header
      .span1
      .span10
        %h1 Our Story
      .span1
  .host-story.row
    .span1
    .span10
      %p
        =@event.host.last_name
    .span1 
  .container
    .row.section-header
      .span1
      .span10
        %h1 The Menu
      .span1
  .event-menu.row
    .span1
    .span10
      %p 
        =@event.menu_text
    .span1
  .container
    .row.section-header
      .span1
      .span10
        %h1 Chatter
      .span1
  .event-attendees.row
    .span1
    .attendees.span10
      %p
        -for guest in @event.guests
          = guest.first_name + " " + guest.last_name
          %p
    .span1
  .event-chatter.row
    .span1
    .chatter.span10
      %p threaded comments
    .span1


-#
  %p#notice= notice

  %p
    %b Title:
    = @event.title
  %p
    %b Location:
    = @event.location_title
  %p
    %b People limit:
    = @event.people_limit
  %p
    %b Description:
    = @event.description
  %p
    %b Menu pdf:
    = @event.menu_pdf
  %p
    %b Menu text:
    = @event.menu_text
  %p
    %b Date:
    = @event.date
  %p
    %b Cost:
    = @event.cost
  %p
    %b Length:
    = @event.length
  %p
    %b Other Information:
    = @event.other_info
  %p
    %b Host:
    = @event.host.first_name.split(' ').map(&:capitalize).join(' ') + " " + @event.host.last_name.split(' ').map(&:capitalize).join(' ')
  -for image in @event.images
    %p
      %b Title:
      = image.title
    %p
      = filepicker_image_tag image.image, w: 160, h: 160, fit: 'clip'
    %p
      %b Caption:
      = image.description

  = link_to 'Edit', edit_event_path(@event)
  \|
  = link_to 'Back', events_path