
%h1 Listing tickets

%table
  %tr
    %th User
    %th Event
    %th Num guests
    %th
    %th
    %th

  - @tickets.each do |ticket|
    %tr
      %td= ticket.user_id
      %td= ticket.event_id
      %td= ticket.num_guests
      %td= link_to 'Show', event_ticket_path(ticket.event_id, ticket.id)
      %td= link_to 'Edit', edit_event_ticket_path(ticket.event_id, ticket)
      %td= link_to 'Destroy', event_ticket_path(ticket.event_id, ticket), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Ticket', new_event_ticket_path
