%p#notice= notice

%p
  %b Foodie:
  = @ticket.user_id
%p
  %b Event:
  = @ticket.event_id
%p
  %b Num guests:
  = @ticket.num_guests
%p
  -for guest in @ticket.guests
    %p
      %b Name:
      = guest.first_name + " " + guest.last_name
    %p
      %b Email:
      = guest.email
      
= link_to 'Edit', edit_event_ticket_path
\|
= link_to 'Back', event_tickets_path