%h1 Listing survey_questions

%table
  %tr
    %th Kind
    %th Topic
    %th Question
    %th Low Extreme
    %th High Extreme
    %th Format
    %th Active
    %th
    %th
    %th

  - @survey_questions.each do |survey_question|
    %tr
      %td= survey_question.for_chef
      %td= survey_question.topic
      %td= survey_question.question
      %td= survey_question.low_extreme
      %td= survey_question.high_extreme
      %td= survey_question.format
      %td= survey_question.active
      %td= link_to 'Show', survey_question
      %td= link_to 'Edit', edit_survey_question_path(survey_question)
      %td= link_to 'Destroy', survey_question, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Survey question', new_survey_question_path
