%p#notice= notice

%p
  %b Kind:
  = @survey_question.kind
%p
  %b Topic:
  = @survey_question.topic
%p
  %b Question:
  = @survey_question.question
%p
  %b Low Extreme:
  = @survey_question.low_extreme
%p
  %b High Extreme:
  = @survey_question.high_extreme
%p
  %b Format:
  = @survey_question.format
%p
  %b Active:
  = @survey_question.active

= link_to 'Edit', edit_survey_question_path(@survey_question)
\|
= link_to 'Back', survey_questions_path
