-# multiple selection type question
.container	
  .row
    .span12
      .row
        .span12.question
          %h2 Which <strong>three</strong> cuisines do you like the most?
          .row
            .span4.single-visual-answer
              =render "layouts/visualanswer"
            .span4.single-visual-answer
              =render "layouts/visualanswer"
            .span4.single-visual-answer
              =render "layouts/visualanswer"
          .row
            .span4.single-visual-answer
              =render "layouts/visualanswer"
            .span4.single-visual-answer
              =render "layouts/visualanswer"
            .span4.single-visual-answer
              =render "layouts/visualanswer"

      {{meow}}
      %slider{:ceiling => "150", :floor => "0", "ng-model" => "meow", :precision => "0", :step => "10"}
      -# range type question
      .row{'ng-controller' => "SurveyCtrl"}
        .span12.question
          %h2 {{questions[currentQuestion].text}}
          .row
            .span4.single-visual-answer-range
              {{questions[currentQuestion].low_extreme}}
              %a{'ng-click' => 'currentQuestion = currentQuestion + 1'} NEXT GO

            .span4
              {{answers[currentQuestion]}}
              {{answers}}
              %slider{:ceiling => "50", :floor => "-50", "ng-model" => "answers[currentQuestion].level", :precision => "0", :step => "10"}
            .span4.single-visual-answer-range
              {{questions[currentQuestion].high_extreme}}



-#
  %p#notice= notice

  %p
    %b Kind:
    = @survey_question.kind
  %p
    %b Topic:
    = @survey_question.topic
  %p
    %b Question:
    = @survey_question.question

  = link_to 'Edit', edit_survey_question_path(@survey_question)
  \|
  = link_to 'Back', survey_questions_path