%h1 survey question show
  %p#notice= notice

  %p
    %b Kind:
    = @survey_question.kind
  %p
    %b Topic:
    = @survey_question.topic
  %p
    %b Question:
    = @survey_question.question

  = link_to 'Edit', edit_survey_question_path(@survey_question)
  \|
  = link_to 'Back', survey_questions_path