.container
  .row
    .span12
      %h1 Foodie Profile
      %p Take the quiz to discover your foodie profile in just a few minutes!
  .row
    .span4
      %input{:type => "text", :placeholder =>"Home Zip"}
      %input{:type => "text", :placeholder =>"Work Zip"}


-#
  %p#notice= notice

  %p
    %b Kind:
    = @survey_question.kind
  %p
    %b Topic:
    = @survey_question.topic
  %p
    %b Question:
    = @survey_question.question

  = link_to 'Edit', edit_survey_question_path(@survey_question)
  \|
  = link_to 'Back', survey_questions_path
