.profiles
  .container.foodie-quiz{'ng-controller' => "SurveyCtrl"}
    .row
      .span12.title
        -if current_user.chef?
          %h1 Give Simmr guests a sense of what you're all about. 
        -else
          %h1 What's Your Food Style
          %p Take the quiz to discover your foodie profile in just a few minutes!
    .row
      .span3
      .span3.profile-images
        -if current_user.chef?
          %p Logo
          .row.profile-image-row
            .span3.default
              =image_tag "Chef-Default-Profile-Image.png"
          %br
          %p Cover Image
          .row.cover-image-row
            .span3.default
              =image_tag "Food 9.jpg"
        -else
          .row.profile-image-row
            .span3.default
              =image_tag "Foodie-Default-Profile-Image.png"
          .clearfix
            %button.btn.btn-inverse#profile-image-button{'ng-click'=> 'uploadProfileImage()'} Upload Profile Picture
      .span3
        %form.create-profile{:name => "create_profile"}
          -if current_user.chef?
            %p
            %input#address1{'ng-model' => "profile.biz_name", :placeholder => "Business Name", :type => "text", :name => "biz_name", 'ng-class' => "{error: stripe.billing_address.$invalid}"}
            %p
            %textarea#profile-blurb{:rows => "2", 'ng-model'=>'profile.blurb', :type=>"text", :placeholder =>"You, in the length of a tweet", :maxlength => "140", :name => "profile_blurb", :required => "required", 'ng-class' => "{error: create_profile.profile_blurb.$invalid}"}
            %p
            %input#address1{'ng-model' => "profile.location.address1", :placeholder => "Address", :type => "text", :name => "billing_address", 'ng-class' => "{error: stripe.billing_address.$invalid}"}
            -#%input#address2{:placeholder => "Address Line 2", :type => "string"} 
            %select#neighborhoods{'ng-model'=>'profile.location.neighborhood', :name => "profile_neighborhood", :required => "required", 'ng-class' => "{error: create_profile.profile_neighborhood.$invalid}"}

            %input#city{'ng-model' => "profile.location.city", :placeholder => "City", :type => "text", :name => "billing_city", 'ng-class' => "{error: stripe.billing_city.$invalid}"}
              
            %select#state{'ng-model' => "profile.location.state", :name => "billing_state", 'ng-class' => "{error: stripe.billing_state.$invalid}"}
              
            %input#zipcode{'ng-model' => "profile.location.zipcode", :placeholder => "Zip Code", :type => "text", :name => "billing_zip", :maxlength => "5", 'ng-pattern' => '/^[0-9]+$/', 'ng-class' => "{error: stripe.billing_zip.$invalid}"}

            .clearfix
              %button.btn.btn-inverse#profile-image-button{'ng-click'=> 'uploadProfileImage()'} Upload Profile Picture
              %button.btn.btn-inverse#cover-image-button{'ng-click'=> 'uploadImages()'} Upload Cover Image
              %button.btn.btn-inverse#yelp-connect Connect Yelp
              %a#yelp-explanation{:href => "#", "data-toggle" => "tooltip", :title => "So guests know how great you already are and can easily leave you reviews!", "data-placement" => "right"} <sup> Why? </sup>
            .accordion-inner
              %textarea.textarea-section{:placeholder => "Type your story here.", "rows"=>'3', 'ng-model' => "profile.story"}

            %button.btn.btn-warning.pull-right{'ng-click'=>'createProfile(profile)'} Submit

          -else
            %textarea#profile-blurb{:rows => "2", 'ng-model'=>'profile.blurb', :type=>"text", :placeholder =>"You, in the length of a tweet", :maxlength => "140", :name => "profile_blurb", :required => "required", 'ng-class' => "{error: create_profile.profile_blurb.$invalid}"}
            %select#neighborhoods{'ng-model'=>'profile.neighborhood', :name => "profile_neighborhood", :required => "required", 'ng-class' => "{error: create_profile.profile_neighborhood.$invalid}"}

            %input{:type => "text", :name => "home_zip", "ng-model" => "profile.home_zip", :placeholder =>"Home Zip", :required => "required", :maxlength => "5", 'ng-pattern' => '/^[0-9]+$/', 'ng-class' => "{error: create_profile.home_zip.$invalid}"}
            .row
              .span6    
                %input{:type => "text", :name => "work_zip", 'ng-model' => 'profile.work_zip', :placeholder =>"Work Zip", :required => 'required', :maxlength => "5", 'ng-pattern' => '/^[0-9]+$/', 'ng-class' => "{error: create_profile.work_zip.$invalid}"}            
                %a.why-zip{:href => "#", "data-toggle" => "tooltip", :title => "So we can better recommend lunch and dinner events near you!", "data-placement" => "right"} <sup> Why? </sup>

            %input#vegetarian{:type => "checkbox", :name => "vegetarian", 'ng-model' => 'profile.vegetarian'} <p id="vegetarian"> I'm a vegetarian </p>

            .help-block{'ng-show' => 'create_profile.home_zip.$error.pattern'} Please enter a valid home zip code

            .help-block{'ng-show' => 'create_profile.work_zip.$error.pattern'} Please enter a valid work zip code

            .help-block{'ng-show' => 'create_profile.profile_blurb.$error.required || create_profile.profile_neighborhood.$error.required || create_profile.home_zip.$error.required || create_profile.work_zip.$error.required'} All fields are required
    .row
      -if !current_user.chef
        -for q in @questions
          -if q.format == "slider"
            .span12.question
              %h2 
                =q.question
              .row
                .span4.single-visual-answer-range
                  =render "survey_questions/visualanswerlow", :q => q
                .span4
                  %slider.answer-slider{:ceiling => "50", :floor => "-50", "ng-model" => "userAnswer.text", :precision => "0", :step => "10"}
                .span4.single-visual-answer-range
                  =render "survey_questions/visualanswerhigh", :q => q
          -else
            .span12.question
              %h2
                =q.question
            .row
            -answers=q.survey_answers
              -answers.each_with_index do |a, index| 
              - if index % 3 == 0
                .span4.single-visual-answer
                  .row
                    .span4.answer-image{'ng-click' => 'selectAns()', 'ng-init' => 'selection="#{a}"'}
                      = image_tag a.images.first.image
                  .row.answer
                    .span4.answer-caption
                      %h3
                        =a.text
              - else
                .span4.single-visual-answer
                  .row
                    .span4.answer-image{'ng-click' => 'selectAns("#{a}")', 'ng-init' => "selection='#{a}'"}
                      = image_tag a.images.first.image
                  .row.answer
                    .span4.answer-caption
                      %h3
                        =a.text
    .row
      .span12.navigation-buttons.clearfix
        %button.btn.btn-inverse{'ng-click' => 'prevQuestion()', 'ng-disabled'=>'beginning'} Previous
        %button.btn.btn-warning.pull-right{'ng-disabled'=>'!end || create_profile.$invalid', 'ng-click'=>'createProfile(profile)'} Submit
        %button.btn.btn-inverse.pull-right{'ng-click' => 'nextQuestion()', 'ng-disabled' => 'end'} Next
    .row
      .span2
      .span8.quiz-progress
        .progress.progress-warning
          <div class = "bar" style = "width: {{progress}}%"> </div>
      .span2

  -#
    .row
      .span12
        =form_for UserAnswer.new do
          -@questions.each do |q|
            .question
            -if q.survey_answers.empty?
              %b
                =q.topic
              %p
              %input{:type => 'checkbox', :name => "user_answers[#{q.id}]"}
              =q.question
              %p
            -else
              %b
                =q.topic
              %p
              =q.question
              %select{:name => "user_answers[#{q.id}]"}
                -q.survey_answers.each do |a|
                  %option
                    =a.text
              %p
          %button.secondary.button Send data

