= simple_form_for(@campaign) do |f|
  = f.error_notification

  .form-inputs
    = f.input :bus_name
    = f.input :blurb
    = f.input :about
    = f.input :why_join
    = f.input :location_id
    = f.input :foodie_id
    = f.input :host_id

  .form-actions
    = f.button :submit
