= simple_form_for(@campaign) do |f|
  = f.error_notification

  .form-inputs
    = f.input :biz_name
    = f.input :blurb
    = f.input :about
    = f.input :why_join
    = f.input :location_id
    = f.input :campaign_starter_id
    = f.input :host_id

  .form-actions
    = f.button :submit
