-if campaign.expired? == false
  .row{'ng-init' => "endDate='#{campaign.expires}';successful='#{campaign.successful}'"}
    .span6.campaign-image
      -if campaign.covers.present?
        =link_to (image_tag campaign.covers.first.image), campaign_path(campaign)
      -else
        =link_to image_tag("Food 9.jpg"), campaign_path(campaign)
  %a.row.campaign-info{:href => campaign_path(campaign)}
    %table
      %tr
        %td.campaign-title-progress.span5
          %h1 #{campaign.biz_name}
          %h2 #{campaign.follows_needed} more supporters to tilt | #{campaign.status}
        %td.span1{'ng-controller' => 'HeartCtrl', 'ng-init' => "following = '#{@current_user.follows_this?('Campaign', campaign.id)}'"}
          -if user_signed_in?
            %a.sb.heart.circle.no-border.no-shadow{'ng-click' => "follow('Campaign',#{campaign.id},#{user_signed_in?})", "data-toggle" => "tooltip", :title => "Click to join and stay updated on this campaign!", "data-placement" => "left", 'ng-class' => '{true: "orange", false: "black"}[following]'}
          -else
            %a.sb.heart.circle.no-border.no-shadow.black{:href => "#sign_up_foodie", "data-toggle" => "tooltip", :"data-toggle" =>"modal", :title => "Please sign in or sign up in order to follow!", "data-placement" => "left"}
-else
  .row.subdued{'ng-init' => "endDate='#{campaign.expires}';successful='#{campaign.successful}'"}
    .span6.campaign-image
      -if campaign.covers.present?
        =link_to (image_tag campaign.covers.first.image), campaign_path(campaign)
      -else
        =link_to image_tag("Food 9.jpg"), campaign_path(campaign)
  %a.row.campaign-info.subdued{:href => campaign_path(campaign)}
    %table
      %tr
        %td.campaign-title-progress.span5
          %h1 #{campaign.biz_name}
          %h2 #{campaign.follows_needed} more supporters to tilt | #{campaign.status}
        %td.span1{'ng-controller' => 'HeartCtrl', 'ng-init' => "following = '#{@current_user.follows_this?('Campaign', campaign.id)}'"}
          -if user_signed_in?
            %a.sb.heart.circle.no-border.no-shadow{'ng-click' => "follow('Campaign',#{campaign.id},#{user_signed_in?})", "data-toggle" => "tooltip", :title => "Click to join and stay updated on this campaign!", "data-placement" => "left", 'ng-class' => '{true: "orange", false: "black"}[following]'}
          -else
            %a.sb.heart.circle.no-border.no-shadow.black{:href => "#sign_up_foodie", "data-toggle" => "tooltip", :"data-toggle" =>"modal", :title => "Please sign in or sign up in order to follow!", "data-placement" => "left"}