=content_for :title, "Edit #{@campaign.biz_name} Campaign"

.campaigns{'ng-controller' => 'CampaignEditCtrl', 'ng-init' => "getCampaign(#{@campaign.id})"}
  -a=[]
  -@campaign.covers.each_with_index do |i, index|
    -a.push(i.image).to_json
  
  .campaign-profile{'ng-init' => 'campaignImagesArray = "#{@a}"'}
    -if @campaign.covers.present?
      -##remove-image.btn.edit{"ng-click" => "removeImages()"} remove image
    #remove-image.btn{"ng-click" => "removeImages()"} remove image
    #campaign-carousel.carousel.slide.hidden-phone 
      .carousel-inner
        -if @campaign.covers.present?
          -@campaign.covers.each_with_index do |i, index|
            -if index == 0
              .item.active
                = image_tag i.image
            -else
              .item
                = image_tag i.image
        -else
          .item.active
            %p We think this photo represents this host.<br> You can also upload your own!
          =image_tag "Food 9.jpg"
    -if @campaign.covers.count > 1
      %a.carousel-control.left.hidden-phone{"data-slide" => "prev", :href => "#campaign-carousel"} ‹
      %a.carousel-control.right.hidden-phone{"data-slide" => "next", :href => "#campaign-carousel"} ›

    .container
      .campaign-registration.row
        .span5
          %form.campaign-create-form.clearfix{:name => "campaign_edit", 'ng-hide' => "campaign==1"}
            %input{'ng-model' => 'campaign.bizName', :type=>"text", :placeholder =>"Business Name - who is the host you're suggesting?", :name => "campaign_name", :required => "required", 'ng-class' => "{error: campaign_edit.campaign_name.$invalid}"}
            
            %textarea.campaign-blurb{:rows => "4", 'ng-model' => 'campaign.blurb', :type=>"text", :placeholder =>"Business Description - you get the length of a tweet to describe this business - what is its tagline?", :name => "campaign_description", :maxlength => "140", :required => "required",'ng-class' => "{error: campaign_edit.campaign_description.$invalid}"}

            %textarea.campaign-why{:rows => "3", 'ng-model' => 'campaign.why_join', :type=>"text", :placeholder =>"Optional: Why should others support getting this host on Simmr?", :name => "campaign_why_join", 'ng-class' => "{error: campaign_edit.campaign_why_join.$invalid}"}

            .help-block{'ng-show' => "campaign_create.campaign_description.$error.required || campaign_create.campaign_name.$error.required"} Both fields are required!
            
            -#-if @campaign.covers.present?
              %button.btn#campaign-upload-more-images{'ng-click'=> 'uploadMoreImages()'} Upload More Images
              %button.btn#campaign-clear-and-upload-images{'ng-click'=> 'uploadImages()'} Clear All Images and Re-Upload
            
            %button.btn#campaign-clear-and-upload-images{'ng-click'=> 'uploadImages()'} Clear All Images and Re-Upload
            %button.btn#campaign-upload-more-images.disabled{'ng-click'=> 'uploadMoreImages()'} Upload More Images
            
            
            %button.btn.btn-warning.standalone-button#submit{'ng-click' => 'editCampaign(campaign)', 'ng-disabled'=> 'campaign_edit.$invalid'} Save Changes

          .campaign-create-confirmation.clearfix{'ng-show'=>"campaign==1"}
            %h2 Thanks! You'll get an email when your campaign is re-approved and public.
            %a.btn.btn-warning#ok-button{:href => "/events"} Check Out More Cool Events!
            %a.btn.btn-warning#ok-button{:href => "/campaigns"} Check Out Other Campaigns!
        .span5
          .campaign-summary.prev
            %a.campaign-days#ribbon.preview{:href => "#", "data-toggle" => "tooltip", :title => "All campaigns last a total of 30 days, so get people to join quickly!", "data-placement" => "right"}
              .container
                .base
                  %h3 30 days left
                .left_corner
                .right_corner
            .preview-label this is a preview
            .campaign-summary-top
              %h1#default-text{'ng-show'=>'campaign.bizName=="" || campaign.bizName==nil'}
                Business Name
              %h1
                {{campaign.bizName}}
              %h2#default-text{'ng-show'=>'campaign.blurb=="" || campaign.blurb==nil'}
                Business Description
              %h2 
                {{campaign.blurb}}
            .campaign-summary-logistics-container
              .campaign-summary-logistics
                %h3 Created by #{current_user.first_name} #{current_user.last_name}
            %a.campaign-tilt{:href => "#", "data-toggle" => "tooltip", :title => "All campaigns need at least 20 people to join to succeed!", "data-placement" => "right"} #{@campaign.follows_needed} more supporters needed to get this host on Simmr
            .progress.signed-in.progress-warning
              .bar{:style => "width: #{@campaign.percent_follows}%"}



