.campaigns{'ng-controller' => 'CampaignEditCtrl', 'ng-init' => "getCampaign(#{@campaign.id})"}
  .campaign-profile
    #campaign-carousel.carousel.slide.hidden-phone 
      .carousel-inner
        .active.item
          =image_tag "Food 9.jpg"
    .container
      .campaign-registration.row
        .span1
        .span4
          .campaign-summary
            %h1#default-text{'ng-show'=>'campaign.bizName=="" || campaign.bizName==nil'}
              Business Name
            %h1
              {{campaign.bizName}}
            %h2#default-text{'ng-show'=>'"#{@campaign.blurb}"=="" || "#{@campaign.blurb}"==nil'}
              Business Description
            %h2#default-text{'ng-show'=>'campaign.blurb=="" || campaign.blurb==nil'}
              #{@campaign.blurb}
            %h2
              {{campaign.blurb}}
            %h2 By #{current_user.first_name} #{current_user.last_name}
            %hr
            %h3 
              -if @campaign.expired?
                Expired #{@campaign.expires.strftime("%B %d, %Y")}
              -else
                Expires #{@campaign.expires.strftime("%B %d, %Y")}
            %p 
              #{@campaign.follows_needed} more needed to tilt this campaign
            .progress.signed-in.progress-warning
              .bar{:style => "width: #{@campaign.percent_follows}%"}
            %button.btn.btn-warning.campaign-join-button Join
            %table.campaign-social-stats
              %tr
                %td
                  %a.sb.heart.circle.no-border.no-shadow.orange{:href=>"#"}
                %td
                  %a.sb.star.circle.no-border.no-shadow.orange{:href=>"#"}
                %td
                  %a.sb.facebook.circle.no-border.no-shadow.orange{:href=>"#"}
              %tr.campaign-target-stats
                %td #{@campaign.follows.count}
                %td 190
                %td{:rowspan => "2"} share
              %tr.campaign-target-stat-labels
                %td followers
                %td reviews
        .span1.heart_this
          %a.sb.heart.circle.no-border.no-shadow.gray{title: 'Heart This'}
        .span1
        .span4 
          %form.campaign-create-form.clearfix{:name => "campaign_create", 'ng-hide' => "campaign==1"}
            %input{'ng-model' => 'campaign.bizName', :type=>"text", :placeholder =>"#{@campaign.biz_name}", :name => "campaign_name", :required => "required", 'ng-class' => "{error: campaign_create.campaign_name.$invalid}"}
            %textarea.campaign-blurb{:rows => "4", 'ng-model' => 'campaign.blurb', :type=>"text", :placeholder =>"#{@campaign.blurb}", :name => "campaign_description", :maxlength => "140", :required => "required",'ng-class' => "{error: campaign_create.campaign_description.$invalid}"}
            
            .clearfix
              %button.btn#campaign-upload-images{'ng-click'=> 'uploadImages()'} Upload Images
            
            %button.btn.btn-warning.standalone-button#submit{'ng-click' => 'editCampaign(campaign)', 'ng-disabled'=> 'campaign_create.$invalid'} Update

          .campaign-create-confirmation.clearfix{'ng-show'=>"campaign==1"}
            %h2 Thanks! You'll get an email when your campaign is approved and public. While you're waiting, fill out the 'why join' field below so others are more likely to join your campaign and make it happen!  

  .container
    .row
      .span12
        .row.section-header#why
          .span12#why-join
            %a{:href => "#why-join", 'data-target'=>"#why-join-detail", 'data-toggle'=>"collapse"} Why Join? <span class="caret"></span>
  .why-join
    .container
      .row
        .span12
          #why-join-accordion.accordion
            #why-join-detail.accordion-body.collapse.in
              .accordion-inner
                %textarea.textarea-section{:placeholder => "#{@campaign.why_join}", "rows"=>'3', 'ng-model' => "campaign.whyJoin"}
                %button.btn.btn-warning{'ng-disabled'=> 'campaign.whyJoin == "" || campaign.whyJoin == nil'} Update

-#
  = render 'form'
  = link_to 'Back', campaigns_path
