.campaigns-index
  .campaigns
    .container
      .row.section-header
        .span12.campaigns-index-header
          %h1 Campaigns in San Francisco
    .section
      .container
        .row.campaign-how-it-works
          .span1
          .span10
            %p How campaigns work
          .span1
    .container
      -all_campaigns = @campaigns
      -while all_campaigns.length > 0
        -campaign = all_campaigns.pop
        .row.campaigns-row
        .span1
        .span5.single-campaign
          =render "campaigns/singlecampaign", :campaign => campaign
        -if all_campaigns.length > 0
          -campaign = all_campaigns.pop
          .span5.single-campaign
            =render "campaigns/singlecampaign", :campaign => campaign
          .span1

-#
  %h1 Listing campaigns

  %table
    %tr
      %th Biz name
      %th Blurb
      %th About
      %th Why join
      %th Location
      %th Foodie
      %th Host
      %th
      %th
      %th

    - @campaigns.each do |campaign|
      %tr
        %td= campaign.biz_name
        %td= campaign.blurb
        %td= campaign.about
        %td= campaign.why_join
        %td= campaign.location_id
        %td= campaign.campaign_starter_id
        %td= campaign.host_id
        %td= link_to 'Show', campaign
        %td= link_to 'Edit', edit_campaign_path(campaign)
        %td= link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  = link_to 'New Campaign', new_campaign_path
