.campaigns
  .campaign-profile
    #campaign-carousel.carousel.slide           
      .carousel-inner
        .active.item
          =image_tag "Food 17.jpg"
    .container
      .campaign-registration.row{'ng-controller' => 'CampaignCreateCtrl'}
        .span1
        .span4
          .campaign-summary
            %h1.default-text{'ng-show'=>'campaign.biz_name=="" || campaign.biz_name==nil'}
              Campaign Title
            %h1
              {{campaign.biz_name}}
            %h2.default-text{'ng-show'=>'campaign.blurb=="" || campaign.blurb==nil'}
              Campaign Blurb
            %h2 
              {{campaign.blurb}}
            %h2 By #{current_user.first_name} #{current_user.last_name}
            %hr
            %h3 
              #{(Date.today + 30).strftime("%B %d, %Y")}
            %p 
              100 more needed to tilt this campaign
            .progress.signed-in.progress-warning
              .bar{:style => "width: 0%"}
            %button.btn.btn-warning.campaign-join-button Join
            %table.campaign-social-stats
              %tr
                %td
                  %a.sb.heart.circle.no-border.no-shadow.orange{:href=>"#"}
                %td
                  %a.sb.star.circle.no-border.no-shadow.orange{:href=>"#"}
                %td
                  %a.sb.share_this.circle.no-border.no-shadow.orange{:href=>"#"}
              %tr.campaign-target-stats
                %td 190
                %td 190
                %td Tell
              %tr.campaign-target-stat-labels
                %td followers
                %td reviews
                %td a friend
        .span1.heart_this
          %a.sb.heart.circle.no-border.no-shadow.black{title: 'Heart This'}
        .span1
        .span4 
          .campaign-create-form.clearfix
            %input{'ng-model' => 'campaign.biz_name', :type=>"text", :placeholder =>"Campaign / Business Name"}
            %input{'ng-model' => 'campaign.blurb', :type=>"text", :placeholder =>"Blurb"}
            %a.GetFilepicker.clearfix Upload Campaign Images
            %button.btn.btn-warning.standalone-button{'ng-click' => 'campaign=1', 'ng-click' => 'createCampaign(campaign)', 'ng-hide'=> "campaign==1"} Create
          .campaign-create-confirmation.clearfix{'ng-show'=>"campaign==1"}
            %h2 Thanks! You'll get an email when your campaign is approved and public!

  .container{'ng-init'=> "campaign.campaign_starter_id=#{current_user.id}"}
    .row
      .span2.scroll-menu.campaign
        %ul.nav.nav-list.scroll-menu-items{"data-spy" => "affix", "data-offset-top" => "680", "data-offset-bottom"=> "150"}
          %li 
            %a{:href=>"#about"} About
          %li 
            %a{:href=>"#why"} Why Join
      .span10
        .row.section-header#about
          .span10#campaign-target-story
            %a.default-text{:href => "#campaign-target-story", 'data-target'=>"#campaign-target-story-detail", 'data-toggle'=>"collapse", 'ng-show'=>'campaign.biz_name=="" || campaign.biz_name==nil'} About <i>Campaign Title</i> <span class="caret"></span>
            -# Need to make below BLACK
            %a{:href => "#campaign-target-story", 'data-target'=>"#campaign-target-story-detail", 'data-toggle'=>"collapse", 'ng-hide'=>'campaign.biz_name==nil || campaign.biz_name==""'} About {{campaign.biz_name}} <span class="caret"></span>
        .row.campaign-target-story
          .span10
            #campaign-target-story-accordion.accordion
              #campaign-target-story-detail.accordion-body.collapse.in
                .accordion-inner
                  %p
                    %textarea{:placeholder => "Tell others about your favorite business.", "rows"=>'3', 'ng-model' => 'campaign.about'}
      .row
        .span10.offset2
          .row.section-header#why
            .span10#why-join
              %a{:href => "#why-join", 'data-target'=>"#why-join-detail", 'data-toggle'=>"collapse"} Why Join? <span class="caret"></span>
          .row.why-join
            .span10
              #why-join-accordion.accordion
                #why-join-detail.accordion-body.collapse.in
                  .accordion-inner
                    %textarea{:placeholder => "Why should others join your campaign?", "rows"=>'3', 'ng-model' => 'campaign.why_join'}

-#
  = render 'form'
  = link_to 'Back', campaigns_path
