.campaigns
  .campaign-profile
    #campaign-carousel.carousel.slide.hidden-phone 
      .carousel-inner
        .active.item
          %p this is a stock image <br> (replace with your own!)
          =image_tag "Food 9.jpg"
    .btn#remove-image x
    .container
      .campaign-registration.row{'ng-controller' => 'CampaignCreateCtrl'}
        .span1
        .span4
          .campaign-summary
            %h1#default-text{'ng-show'=>'campaign.biz_name=="" || campaign.biz_name==nil'}
              Business Name
            %h1
              {{campaign.biz_name}}
            %h2#default-text{'ng-show'=>'campaign.blurb=="" || campaign.blurb==nil'}
              Business Description
            %h2 
              {{campaign.blurb}}
            %h2 By #{current_user.first_name} #{current_user.last_name}
            %hr
            %h3 
              #{(Date.today + 30).strftime("%B %d, %Y")}
            %p 
              100 more needed to tilt this campaign
            .progress.signed-in.progress-warning
              .bar{:style => "width: 0%"}
            %button.btn.btn-warning.campaign-join-button Join
            %table.campaign-social-stats
              %tr
                %td
                  %a.sb.heart.circle.no-border.no-shadow.orange{:href=>"#"}
                %td
                  %a.sb.star.circle.no-border.no-shadow.orange{:href=>"#"}
                %td
                  %a.sb.facebook.circle.no-border.no-shadow.orange{:href=>"#"}
              %tr.campaign-target-stats
                %td 190
                %td 190
                %td{:rowspan => "2"} share
              %tr.campaign-target-stat-labels
                %td followers
                %td reviews
        .span1.heart_this
          %a.sb.heart.circle.no-border.no-shadow.gray{title: 'Heart This'}
        .span1
        .span4 
          %form.campaign-create-form.clearfix{:name => "campaign_create", 'ng-hide' => "campaign==1"}
            %input{'ng-model' => 'campaign.biz_name', :type=>"text", :placeholder =>"Business Name - who is this campaign for?", :name => "campaign_name", :required => "required", 'ng-class' => "{error: campaign_create.campaign_name.$invalid}"}
            %textarea.campaign-blurb{:rows => "4", 'ng-model' => 'campaign.blurb', :type=>"text", :placeholder =>"Business Description - you get the length of a tweet to describe this business - what is its tagline?", :required => "required", :name => "campaign_description", :maxlength => "140", 'ng-class' => "{error: campaign_create.campaign_description.$invalid}"}

            .help-block{'ng-show' => "campaign_create.campaign_description.$error.required || campaign_create.campaign_name.$error.required"} Both fields are required!
            
            .clearfix
              %button.btn#campaign-upload-images{'ng-click'=> 'uploadImages()'} Upload Images
            
            %button.btn.btn-warning.standalone-button#submit{'ng-click' => 'createCampaign(campaign)', 'ng-disabled'=> 'campaign_create.$invalid'} Create

          .campaign-create-confirmation.clearfix{'ng-show'=>"campaign==1"}
            %h2 Thanks! You'll get an email when your campaign is approved and public. While you're waiting, fill out the 'why join' field below so others are more likely to join your campaign and make it happen!  

  .container{'ng-init'=> "campaign.campaign_starter_id=#{current_user.id}"}
    .row
      .span12
        .row.section-header#why
          .span12#why-join
            %a{:href => "#why-join", 'data-target'=>"#why-join-detail", 'data-toggle'=>"collapse"} Why Join? <span class="caret"></span>
  .why-join{'ng-controller'=>'CampaignEditCtrl'}
    .container
      .row
        .span12
          #why-join-accordion.accordion
            #why-join-detail.accordion-body.collapse.in
              .accordion-inner
                %textarea.textarea-section{:placeholder => "Why should others join your campaign?", "rows"=>'3', 'ng-model' => "campaign.why_join"}
                %button.btn.btn-warning{'ng-disabled'=> 'campaign.why_join == "" || campaign.why_join == nil', 'ng=click' => 'updateCampaign(campaign)'} Update

-#
  = render 'form'
  = link_to 'Back', campaigns_path
