.campaigns
  .campaign-profile
    #campaign-carousel.carousel.slide.hidden-phone       
      .carousel-inner
        .active.item
          =image_tag "Food 17.jpg"
        -#
          -@campaign.images.each_with_index do |i, index|
            -if index == 0
              .item.active
                = filepicker_image_tag i.image
            -else
              .item
                = filepicker_image_tag i.image
    -#
      %ol.carousel-indicators.hidden-phone
        -@campaign.images.each_with_index do |i, index|     
          - if index == 0
            %li.active{"data-target" => "#campaign-carousel", "data-slide-to" => index}
          - else
            %li{"data-target" => "#campaign-carousel", "data-slide-to" => index}
        
    .container
      .row.campaign-registration
        .span1
        .span4
          .campaign-summary.clearfix
            %h1
              #{@campaign.biz_name}
            %h2 
              #{@campaign.blurb}
            %h2
              by #{@campaign.campaign_starter.first_name} #{@campaign.campaign_starter.last_name}
            %hr
            %h3
              Campaign End Date ABC123
            %p 
              X more needed to tilt this campaign ABC123
            -if user_signed_in? == false
              .progress.progress-warning.clearfix.signed-out
                .bar{:style => "width: 80%"}
              %a.btn.btn-warning.standalone-button.clearfix{:"data-toggle" => "modal", :href=>"#sign_up"} Sign Up
              .btn.btn-warning.standalone-button.clearfix{:"data-toggle" =>"modal", :href=>"#sign_in"} Sign In
              %table.campaign-social-stats.clearfix.signed-out
                %tr
                  %td
                    %a.sb.heart.circle.no-border.no-shadow.orange{:href=>"#"}
                  %td
                    %a.sb.star.circle.no-border.no-shadow.orange{:href=>"#"}
                  %td
                    %a.sb.facebook.circle.no-border.no-shadow.orange{:href=>"#", :onclick => "window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 'facebook-share-dialog', 'width=626,height=436'); return false;"}
                %tr.campaign-target-stats 
                  %td 190
                  %td 190
                  %td{:rowspan => "2"} share
                %tr.campaign-target-stat-labels
                  %td followers
                  %td reviews
            -if user_signed_in?
              .progress.progress-warning.clearfix.signed-in
                .bar{:style => "width: 80%"}
              .btn.btn-warning.campaign-join-button.clearfix Join
              %table.campaign-social-stats.clearfix.signed-in
                %tr
                  %td
                    %a.sb.heart.circle.no-border.no-shadow.orange{:href=>"#"}
                  %td
                    %a.sb.star.circle.no-border.no-shadow.orange{:href=>"#"}
                  %td
                    %a.sb.facebook.circle.no-border.no-shadow.orange{:href=>"#", :onclick => "window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 'facebook-share-dialog', 'width=626,height=436'); return false;"}
                %tr.campaign-target-stats
                  %td 190
                  %td 190
                  %td{:rowspan => "2"} share
                %tr.campaign-target-stat-labels
                  %td followers
                  %td reviews
        .span1.heart_this
          %a.sb.heart.circle.no-border.no-shadow.gray{title: 'Heart This'}
        .span1
        .span4 
        .span1
  .container  
    .row.section-header#why
      .span12#why-join
        %a{:href => "#why-join", 'data-target'=>"#why-join-detail", 'data-toggle'=>"collapse"} Why Join? <span class="caret"></span>
  .why-join
    .container
      .row
        .span12
          #why-join-accordion.accordion
            #why-join-detail.accordion-body.collapse.in
              .accordion-inner
                %p
                  #{@campaign.why_join}
-#
  %p#notice= notice

  %p
    %b Biz name:
    = @campaign.biz_name
  %p
    %b Blurb:
    = @campaign.blurb
  %p
    %b About:
    = @campaign.about
  %p
    %b Why join:
    = @campaign.why_join
  %p
    %b Location:
    = @campaign.location_id
  %p
    %b Foodie:
    = @campaign.campaign_starter_id
  %p
    %b Host:
    = @campaign.host_id

  = link_to 'Edit', edit_campaign_path(@campaign)
  \|
  = link_to 'Back', campaigns_path
