=content_for :title, "simmr | #{@campaign.biz_name} campaign"

.campaigns{'ng-controller' => 'CampaignJoinCtrl', 'ng-init' => "endDate='#{@campaign.expires}';successful='#{@campaign.successful}'"}
  .campaign-profile
    #campaign-carousel.carousel.slide.hidden-phone       
      .carousel-inner
        -if @campaign.images.present?
          -@campaign.images.each_with_index do |i, index|
            -if index == 0
              .item.active
                = image_tag i.image
            -else
              .item
                = image_tag i.image
        -else
          .item.active
            =image_tag "Food 9.jpg"
    -if @campaign.images.count > 1
      %a.carousel-control.left.hidden-phone{"data-slide" => "prev", :href => "#campaign-carousel"} ‹
      %a.carousel-control.right.hidden-phone{"data-slide" => "next", :href => "#campaign-carousel"} ›
        
    .container
      
      .row.campaign-registration
        .span5
          .campaign-summary.clearfix
            #ribbon
              .container
                .base
                  %h3
                    {{daysLeft()}}
                  -#%p days left
                .left_corner
                .right_corner
            .campaign-summary-top
              %h1
                #{@campaign.biz_name}
              %h3
                #{@campaign.blurb}
            
            .campaign-summary-logistics-container
              .campaign-summary-logistics
                %h3
                  Created by #{@campaign.campaign_starter.first_name} #{@campaign.campaign_starter.last_name}
                %ul.nav.campaign-button-group
                  %li
                    %button.btn.btn-inverse{'data-toggle' => 'pill', 'ng-click' => 'appear = "why_join"'} Why Join

            %p 
              #{@campaign.follows_needed} more supporters needed to tilt this campaign
              .progress.progress-warning.clearfix
                .bar{:style => "width: 80%"}
            -if user_signed_in? == false
              .btn.btn-warning.standalone-button{:"data-toggle" => "modal", :href=>"#sign_up_foodie"} Sign Up
              .btn.btn-warning.standalone-button{:"data-toggle" =>"modal", :href=>"#sign_in"} Sign In
            -if user_signed_in?
              .btn.btn-warning.campaign-join-button.clearfix{'ng-controller'=>'HeartCtrl','ng-click' => "follow('Campaign',#{@campaign.id},#{user_signed_in?})", 'ng-hide'=>'join'} Join
            %table.campaign-social-stats.clearfix
              %tr
                %td
                  -# Make this such that it doesn't seem like clicking means joining...because there's a big seprate join button for that.
                  %a.sb.heart.circle.no-border.no-shadow.campaign-follow.black.orange{'ng-controller'=>'HeartCtrl', 'ng-click' => "follow('Campaign',#{@campaign.id},#{user_signed_in?})", :href => "#", "data-toggle" => "tooltip", :title => "Click to support and stay up to date!", "data-placement" => "right"}
                %td
                  %a.sb.star.circle.no-border.no-shadow.black{:href=>"#"} 
                %td
                  %a.sb.facebook.circle.no-border.no-shadow.black{:href => "#"}
              %tr.campaign-target-stats 
                %td{'ng-click'=>'appear = "followers"'}
                  %a.followers{:href => "#", "data-toggle" => "tooltip", :title => "Check out who's supporting this!", "data-placement" => "right"} 
                    #{@campaign.follows.count}
                %td 190
                %td{:rowspan => "2"} share
              %tr.campaign-target-stat-labels
                %td{'ng-click'=>'appear = "followers"'} 
                  %a.followers{:href => "#", "data-toggle" => "tooltip", :title => "Check out who's supporting this!", "data-placement" => "right"} supporters
                %td reviews
        -if user_signed_in?
          -if current_user.id == @campaign.campaign_starter_id
            .span1.edit-button
              %button.btn.btn-inverse{'ng-click' => 'appear="edit"'} Edit
        .span6
          .campaign-why-join{'ng-show' => 'appear=="why_join"'}
            %button.close{"ng-click" => "appear=''", :type => "button"} close
            %h1 Why Join
            %h3
              =@campaign.why_join
          .host-followers{'ng-show' => 'appear == "followers"'}
            %button.close{"ng-click" => "appear=''", :type => "button"} close
            %h1 Supporters
            %ul.nav.nav-tabs
              %li.active
                %a{"data-toggle" => "tab", :href => "#business-following"} Businesses
              %li
                %a{"data-toggle" => "tab", :href => "#foodie-following"} Foodies
            #myTabContent.tab-content
              #business-following.tab-pane.fade.active.in
                %table.following-table
                  %tr 
                    %td 
                      =link_to image_tag("Chef-Default-Profile-Image.png"), "#"
                    %td Name
                    %td Number of Followers
                    %td
                      %a.sb.heart.circle.no-border.no-shadow.black.orange.profile-follow{'ng-controller'=>'HeartCtrl', 'ng-init' => "wah='#{'yomomma'}'", 'ng-click' => 'follow()'}
                  %tr.current-user-rank
                    %td 
                      =link_to image_tag("Chef-Default-Profile-Image.png"), "#"
                    %td Name
                    %td Number of Followers
                    %td
                      %a.sb.heart.circle.no-border.no-shadow.black.orange.profile-follow{'ng-controller'=>'HeartCtrl', 'ng-init' => "wah='#{'yomomma'}'", 'ng-click' => 'follow()'}
                  %tr 
                    %td 
                      =link_to image_tag("Chef-Default-Profile-Image.png"), "#"
                    %td Name
                    %td Number of Followers
                    %td
                      %a.sb.heart.circle.no-border.no-shadow.black.orange.profile-follow{'ng-controller'=>'HeartCtrl', 'ng-init' => "wah='#{'yomomma'}'", 'ng-click' => 'follow()'}
              #foodie-following.tab-pane.fade
                %table.following-table
                  %tr 
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td Name
                    %td Number of Followers
                    %td
                      %a.sb.heart.circle.no-border.no-shadow.black.orange.profile-follow{'ng-controller'=>'HeartCtrl', 'ng-init' => "wah='#{'yomomma'}'", 'ng-click' => 'follow()'}
                  %tr 
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td Name
                    %td Number of Followers
                    %td
                      %a.sb.heart.circle.no-border.no-shadow.black.orange.profile-follow{'ng-controller'=>'HeartCtrl', 'ng-init' => "wah='#{'yomomma'}'", 'ng-click' => 'follow()'}
                  %tr 
                    %td 
                      =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td Name
                    %td Number of Followers
                    %td
                      %a.sb.heart.circle.no-border.no-shadow.black.orange.profile-follow{'ng-controller'=>'HeartCtrl', 'ng-init' => "wah='#{'yomomma'}'", 'ng-click' => 'follow()'}
