=content_for :title, "#{@campaign.biz_name}'s Campaign"

.campaigns{'ng-controller' => 'CampaignJoinCtrl', 'ng-init' => "endDate='#{@campaign.expires}';successful='#{@campaign.successful}'"}
  .campaign-profile
    #campaign-carousel.carousel.slide.hidden-phone       
      .carousel-inner
        -if @campaign.covers.present?
          -@campaign.covers.each_with_index do |i, index|
            -if index == 0
              .item.active
                = image_tag i.image
            -else
              .item
                = image_tag i.image
        -else
          .item.active
            =image_tag "Food 9.jpg"
    -if @campaign.covers.count > 1
      %a.carousel-control.left.hidden-phone{"data-slide" => "prev", :href => "#campaign-carousel"} ‹
      %a.carousel-control.right.hidden-phone{"data-slide" => "next", :href => "#campaign-carousel"} ›
        
    .container
      
      .row.campaign-registration
        .span5
          .campaign-summary.clearfix
            #ribbon
              .container
                .base
                  %h3
                    #{@campaign.status}
                  -#%p days left
                .left_corner
                .right_corner
            .campaign-summary-top
              %h1
                #{@campaign.biz_name}
              %h3
                #{@campaign.blurb}
            
            .campaign-summary-logistics-container
              .campaign-summary-logistics
                %table
                  %tr
                    %td
                      %h3
                        Created by #{@campaign.campaign_starter.first_name} #{@campaign.campaign_starter.last_name}
                    %td
                      %ul.nav.campaign-button-group
                        %li
                          %button.btn.btn-inverse{'data-toggle' => 'pill', 'ng-click' => 'appear = "why_join"'} Why Join
                  -#%li
                    %button.btn.btn-inverse{'data-toggle' => 'pill', 'ng-click' => 'appear = "followers"'} Supporters
          .following{'ng-controller' => 'HeartCtrl', 'ng-init' => "follows=#{@campaign.follows.count};endDate='#{@campaign.expires}';successful='#{@campaign.successful}'; following = '#{is_user_there_and_following('Campaign', @campaign.id)}'"}
            %p 
              {{20-follows}} more supporters needed to get this host onto Simmr
              .progress.progress-warning.clearfix
                .bar{:style => "width: {{follows/20*100}}%"}
            -if user_signed_in? == false
              .btn.btn-warning.standalone-button{:"data-toggle" => "modal", :href=>"#sign_up_foodie"} Sign Up
              .btn.btn-warning.standalone-button{:"data-toggle" =>"modal", :href=>"#sign_in"} Sign In
            -if user_signed_in?
              .btn.btn-warning.campaign-join-button.clearfix{'ng-click' => "addFollower('Campaign',#{@campaign.id},#{user_signed_in?},follows)", 'ng-class'=>'{true: "hidden", false: "show"}[following]'} Support
            %table.campaign-social-stats.clearfix
              %tr
                %td
                  -if user_signed_in?
                    %a.sb.heart.circle.no-border.no-shadow{'ng-click' => "addFollower('Campaign',#{@campaign.id},#{user_signed_in?},follows)", "data-toggle" => "tooltip", :title => "Click to support", "data-placement" => "right",'ng-class' => '{true: "red", false: "black"}[following]'}
                  -else
                    %a.sb.heart.circle.no-border.no-shadow.black{:href => "#sign_up_foodie", "data-toggle" => "tooltip", :"data-toggle" =>"modal", :title => "Please sign in or sign up in order to support!", "data-placement" => "right"}
                -#%td
                  %a.sb.yelp.circle.no-border.no-shadow.black
                %td
                  %a.sb.facebook.circle.no-border.no-shadow.black{:href => "#"}
              %tr.campaign-target-stats 
                %td
                  {{follows}}
                -#%td 190
                %td{:rowspan => "2"} share
              %tr.campaign-target-stat-labels
                %td 
                  supporters
                -#%td reviews
        -if user_signed_in?
          -if current_user.id == @campaign.campaign_starter_id
            .span1.edit-button
              %button.btn.btn-inverse{'ng-click' => 'appear="edit"'} Edit
          -else
            .span1
        -else
          .span1
        .span6
          .campaign-why-join{'ng-show' => 'appear=="why_join"'}
            %button.close{"ng-click" => "appear=''", :type => "button"} close
            %h1 Why Join
            %h3
              - if @campaign.why_join != nil
                - n = @campaign.why_join.split("\n")
                -for i in 0..n.length-1
                  = simple_format n[i]
          -#.host-followers{'ng-show' => 'appear == "followers"'}
            %button.close{"ng-click" => "appear=''", :type => "button"} close
            %h1 Supporters
            -#%ul.nav.nav-tabs
              %li.active
                %a{"data-toggle" => "tab", :href => "#foodie-following"} Foodies
              %li
                %a{"data-toggle" => "tab", :href => "#business-following"} Businesses
            -##myTabContent.tab-content
              #foodie-following.tab-pane.fade.active.in
            -if @campaign.follows.count > 0
              %table.following-table
                -for follow in @campaign.follows
                  -#-if follow.user.chef == false
                  %tr 
                    %td
                      -if follow.user.profile.avatar.present?
                        =link_to image_tag(follow.user.profile.avatar.image), "#"
                      -else
                        =link_to image_tag("Foodie-Default-Profile-Image.png"), "#"
                    %td
                      %a{:href=>"/profiles/#{follow.user.profile.id}"}
                        ="#{follow.user.first_name} #{follow.user.last_name}"
                    -#%td Number of Followers..may want to add later
                    %td
                      -if user_signed_in?
                        %a.sb.heart.circle.no-border.no-shadow{'ng-controller'=>'HeartCtrl','ng-init' => "following = '#{is_user_there_and_following('Profile', follow.user.profile.id)}'", 'ng-click' => "follow('Profile',#{follow.user.profile.id},#{user_signed_in?})", 'ng-class' => '{true: "red", false: "black"}[following]'}
                      -else
                        %a.sb.heart.circle.no-border.no-shadow.black{:href => "#sign_up_foodie", "data-toggle" => "tooltip", :"data-toggle" =>"modal", :title => "Please sign in or sign up in order to follow!", "data-placement" => "right"}

            -else
              %h3 No current supporters - click on the heart to get this host on Simmr!
              -##business-following.tab-pane.fade
                -if @campaign.follows.count > 0
                  %table.following-table
                    -for follow in @campaign.follows
                      -if follow.user.chef == true
                        %tr 
                          %td
                            -if follow.user.profile.avatar.present?
                              =image_tag(follow.user.profile.avatar.image)
                            -else
                              =link_to image_tag("Chef-Default-Profile-Image.png"), "#"
                          %td
                            %a{:href=>"/profiles/#{follow.user.profile.id}"}
                              ="#{follow.user.profile.biz_name}"
                          -#%td Number of Followers..may want to add later
                          %td
                            -if user_signed_in?
                              %a.sb.heart.circle.no-border.no-shadow{'ng-controller'=>'HeartCtrl','ng-init' => "following = '#{is_user_there_and_following('Profile', follow.user.profile.id)}'", 'ng-click' => "follow('Profile',#{follow.user.profile.id},#{user_signed_in?})", 'ng-class' => '{true: "red", false: "black"}[following]'}
                            -else
                              %a.sb.heart.circle.no-border.no-shadow.black{:href => "#sign_up_foodie", "data-toggle" => "tooltip", :"data-toggle" =>"modal", :title => "Please sign in or sign up in order to follow!", "data-placement" => "right"}
                -else
                  %h3 No current supporters - click on the heart to get this host on Simmr!

