.mastfoot.clearfix
  %ul.bottomnav
    %li
      %a{:href => "#"} FAQ
    %li
      %a{:href => "#"} About
    %li
      %a{:href => "#"} Jobs
    %li
      %a{:href => "#"} Press
    %li
      %a{:href => "#"} Privacy
    %li
      %a{:href => "#"} Terms
    %li.blog
      %a{:href => "#"} Blog

  .bottomnav.socialmedia
    = link_to image_tag( 'facebook.png'), '#'
    = link_to image_tag( 'twitter.png'), '#'
    = link_to image_tag( 'linkedin.png'), '#'
    = link_to image_tag( 'gplus.png'), '#'
    = link_to image_tag( 'email.png'), '#'
    %p Made in San Francisco | Copyright © 2013