.navbar-inner.clearfix
  = link_to image_tag("white_simmr.png", :border=>0), '../home/index', :class => 'brand'
  %ul.nav
    %li.dropdown
      %a{:href => "#", "data-toggle" => "dropdown"} San Francisco <span class="caret color=white"></span>
      %ul.dropdown-menu{"aria-labeledby" => "dLabel", :role => "menu"}
        %li.dropitem
          %a{:href => "#", :tabindex => "-1"} Other City 1
        %li.dropitem
          %a{:href => "#", :tabindex => "-1"} Other City 2
        %li.divider
        %li.dropitem 
          %p Don't see your city? Enter your zip code or city name
          %form.navbar-form
            %input.span2{:type => "text"}/
    -if user_signed_in? == false
      %li.pull-right
        = link_to "Sign Up", "#sign_up", :"data-toggle" => "modal"
      %li.pull-right
        = link_to "Log In", "#sign_in", :"data-toggle" =>"modal"
    -if user_signed_in?
      %li.pull-right
        = link_to "Sign Out", destroy_user_session_path, :method => :delete, :confirm => "Are you sure you want to sign out?"        
    %li.dropdown.pull-right
      %a{:href => "#", "data-toggle" => "dropdown"} Learn More <span class="caret color=white"></span>
      %ul.dropdown-menu{"aria-labeledby" => "dLabel", :role => "menu"}
        %li.dropitem
          %a{:href => "../home/howitworks", :tabindex => "-1"} How It Works
        %li.dropitem
          %a{:href => "../home/teamandjobs", :tabindex => "-1"} Team & Jobs
        %li.dropitem
          %a{:href => "../home/tos", :tabindex => "-1"} Terms of Service
        %li.dropitem
          %a{:href => "../home/contactus", :tabindex => "-1"} Contact Us 
        %li.dropitem
          %a{:href => "../home/blog", :tabindex => "-1"} Blog
    %li.pull-right
      %a{:href => "#"} Create an Event

  #sign_up.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-header
      %h3#myModalLabel Sign Up for simmr
    .modal-body
      %p<
        Find the best events to attend recommended by your friends.&nbsp
        %a.learn_more_link{"data-toggle"=>"tooltip", "data-placement"=>"right", :href=>"#", :title=>"See where friends have visited and their reviews"}> Learn More
      %p.strong.sign-up-text
        Sign up with
      %p
        -if user_signed_in? == false
          = render "shared/signup"
    .modal-footer
      %button.usersignup.btn.btn-warning Sign Up

  #sign_in.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-header
      %h3#myModalLabel Log In
    .modal-body
      %p<
        Find the best events to attend recommended by your friends.&nbsp
        %a.learn_more_link{"data-toggle"=>"tooltip", "data-placement"=>"right", :href=>"#", :title=>"See where friends have visited and their reviews"}> Learn More
      %p.strong.sign-up-text
        Log in with
      %p.modal_content
        -if user_signed_in? == false
          = render "shared/login"
    .modal-footer
      %button.userlogin.btn.btn-warning Log In