.container.nav-container{ng: {controller: 'HeaderCtrl'}}
  .row.nav
    .span3.logo-and-location
      = link_to image_tag("beta_logo_final.png", :border=>0), '/', :class => "logo"
      %ul
        %li
          %a.city{:href => "#", "data-toggle" => "tooltip", :title => "We're currently only in SF, but stay tuned for other cities!", "data-placement" => "right"} San Francisco

    .span9.nav-right
      %ul
        -#%li.pull-right.input-append
          %input#appendedInputButton{:type => 'text', :placeholder => "Search Experiences or Hosts", 'ng-model'=>'searchQuery', 'ui-keypress'=>"{13:'keypressCallback($event)'}"}
          %button.btn.search{'ng-click'=>'search(searchQuery)'} <i class = "icon-search"></i>
        -if user_signed_in? == false
          %li#sign-up-header-link.foodiesignup.pull-right{:href => "#sign_up_foodie", :"data-toggle" => "modal", :tabindex => "-1"}
            Request an Invite  
          %li.pull-right
            = link_to "Log In", "#sign_in", :"data-toggle" =>"modal"
          
        -if user_signed_in?
          %ul.user-nav-control.pull-right
            %li.dropdown
              %a{:href => "#", "data-toggle" => "dropdown"}
                #{current_user.first_name} #{current_user.last_name}
                %span.caret.header-caret
              %ul.dropdown-menu{"aria-labeledby" => "dLabel", :role => "menu"}
                -if current_user.profile.present?
                  %li.dropitem
                    %a{:href => "/edit_my_profile", :tabindex => "-1"} Dashboard
                -if current_user.chef?
                  %li.dropitem
                    %a{:href=>"/edit_my_profile?events", :tabindex => "-1"} My Experiences
                %li.dropitem
                  = link_to "Sign Out", destroy_user_session_path, :method => :delete, :confirm => "Are you sure you want to sign out?", :tabindex => "-1"
        %li.pull-right
          %a#simmr-credit{:href=>"#referral", :"data-toggle" => "modal", :tabindex => "-1"} Earn Simmr Credit!
        %li.pull-right
          %a.campaign{:href =>"/campaigns", "data-placement"=>'right'}Suggest an Experience
        %li.pull-right
          %a.host{:href=>"/hosts","data-placement"=>'right'}Hosts
        -if user_signed_in? && current_user.chef?
          %li.pull-right
            =link_to "Create an Experience", new_event_path
        %li.pull-right#browse-events
          %a{:href =>"/events"}Experiences
        %li.pull-right
          %a{:href => "/home/howitworks"} What're Simmr Experiences Like?
          
  = render 'shared/signup_modals'
  = render 'shared/signin_modal'



-#
  %a{:href => "#", "data-toggle" => "dropdown"}
    San Francisco
    %span.caret
    %ul.dropdown-menu{"aria-labeledby" => "dLabel", :role => "menu"}
      %li.dropitem
        %a{:href => "#", :tabindex => "-1"} Other City 1
      %li.dropitem
        %a{:href => "#", :tabindex => "-1"} Other City 2
      %li.divider
      %li.dropitem 
        %p Don't see your city? Enter your zip code or city name
        %form.navbar-form
          %input.span2{:type => "text", :placeholder => "City or Zip"}
