.container.nav-container{ng: {controller: 'HeaderCtrl'}}
  .row.nav
    .span4.logo-and-location
      = link_to image_tag("beta_logo_final.png", :border=>0), '/events', :class => "logo"
      %ul
        %li
          %a.city{:href => "#", "data-toggle" => "tooltip", :title => "We're currently only in SF, but stay tuned for other cities!", "data-placement" => "right"} San Francisco

    .span8.nav-right
      %ul
        %li.pull-right.input-append
          %input#appendedInputButton{:type => 'text', :placeholder => "Search Events or Businesses", 'ng-model'=>'searchQuery'}
          %button.btn.search{'ng-click'=>'search(searchQuery)'} <i class = "icon-search"></i>
        -if user_signed_in? == false
          %li.pull-right#sign-up-header-link
            %ul.user-nav-control.pull-right
              %li.dropdown
                %a{:href => "#", "data-toggle" => "dropdown"}
                  Sign Up  
                %ul.dropdown-menu{"aria-labeledby" => "dLabel", :role => "menu"}
                  %li.dropitem.foodiesignup
                    = link_to "Foodie", "#sign_up_foodie", :"data-toggle" => "modal", :tabindex => "-1" 
                  %li.dropitem.bizsignup
                    = link_to "Business", "#sign_up_business", :"data-toggle" => "modal", :tabindex => "-1" 
          -#
            %li.pull-right#sign-up-header-link
              = link_to "Sign Up as Business", "#sign_up_business", :"data-toggle" => "modal"
          %li.pull-right
            = link_to "Log In", "#sign_in", :"data-toggle" =>"modal"
        -if user_signed_in?
          %ul.user-nav-control.pull-right
            %li.dropdown
              %a{:href => "#", "data-toggle" => "dropdown"}
                #{current_user.first_name} #{current_user.last_name}
                %span.caret.header-caret
              %ul.dropdown-menu{"aria-labeledby" => "dLabel", :role => "menu"}
                -if current_user.profile.present?
                  %li.dropitem
                    %a{:href => "/profiles/#{current_user.profile.id}", :tabindex => "-1"} Dashboard
                %li.dropitem
                  = link_to "Sign Out", destroy_user_session_path, :method => :delete, :confirm => "Are you sure you want to sign out?", :tabindex => "-1"
        %li.pull-right
          %a.campaign{:href =>"/campaigns/new", "data-toggle" => 'tooltip', :title => "Don't see your favorite business? Start a campaign to get them to host events on Simmr!", "data-placement"=>'right'}Start a Campaign
        -if user_signed_in? && current_user.chef?
          %li.pull-right
            =link_to "Create an Event", new_event_path
        %li.pull-right
          %a{:href =>"/events"}Browse Events
          
  = render 'shared/signup_modals'
  = render 'shared/signin_modal'

-#
  %a{:href => "#", "data-toggle" => "dropdown"}
    San Francisco
    %span.caret
    %ul.dropdown-menu{"aria-labeledby" => "dLabel", :role => "menu"}
      %li.dropitem
        %a{:href => "#", :tabindex => "-1"} Other City 1
      %li.dropitem
        %a{:href => "#", :tabindex => "-1"} Other City 2
      %li.divider
      %li.dropitem 
        %p Don't see your city? Enter your zip code or city name
        %form.navbar-form
          %input.span2{:type => "text", :placeholder => "City or Zip"}
  
