!!!
%html
  %head
    %title MVP
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Dynalight|Merriweather+Sans", :rel => "stylesheet", :type => "text/css"}
  %body
    .container.main
      = yield

-# can add a closer alert x thingie later or tweak it later...
-if alert
  .alert
    %p.alert= alert
-elsif notice
  .alert
    %p.notice= notice

