!!!
%html
  %head
    %title simmr
    %link{:href => "http://thescenicroute0.files.wordpress.com/2013/03/favicon2.png", :rel => "icon", :type => "image/png"}/
    = stylesheet_link_tag    "application", :media => "all"
    = filepicker_js_include_tag
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Merriweather+Sans|Noto+Sans|Open+Sans|Satisfy", :rel => "stylesheet", :type => "text/css"}
  %body
    .container.main
      = yield

-# can add a closer alert x thingie later or tweak it later...
-if alert
  .alert
    %p.alert= alert
-elsif notice
  .alert
    %p.notice= notice

