!!!
%html{'ng-app' => 'Simmr'}
  %head
    %title simmr
    %meta{:content => "7961566", :property => "fb:admins"}
    %meta{:content => "279105668896629", :property => "fb:app_id"}
    %meta{:content => "Simmr", :property => "og:title"}
    %meta{:content => "Simmr", :property => "og:site_name"}
    %meta{:content => "http://www.simmr.co", :property => "og:url"}
    %meta{:content => "Connecting you more meaningfully with your fave food businesses and helping you be the first to discover new ones", :property => "og:description"}
    %meta{:content => "logo_orange_text.png", :property => "og:image"}
    %link{:href => "http://thescenicroute0.files.wordpress.com/2013/03/favicon2.png", :rel => "icon", :type => "image/png"}
    = stylesheet_link_tag    "application", :media => "all"
    = filepicker_js_include_tag
    = csrf_meta_tags
    = render 'layouts/google_analytics'
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet", :type => "text/css"}
  %body.ng-cloak{"data-spy"=>"scroll", "data-target" => ".scroll-menu"}
    = render 'layouts/primary_header'
    .main
      = yield
    #fb-root
      :javascript
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=141737092659629";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    = render 'layouts/footer'
    <script type="text/javascript" src="http://js.addthisevent.com/atemay.js"></script>
    = javascript_include_tag "application"
    = javascript_include_tag "https://js.stripe.com/v2/"
    = javascript_tag "Stripe.publishableKey = '#{STRIPE_PUBLISHABLE_KEY}';"
   
-# can add a closer alert x thingie later or tweak it later...
  -if alert
    .alert
      %p.alert= alert
  -elsif notice
    .alert
      %p.notice= notice
