!!!
%html{'ng-app' => 'Simmr'}
  %head
    
    %title
      =yield(:title)
    = render 'layouts/preload_data'
    = render 'layouts/google_analytics'
    = render 'layouts/segment_io'
    = render 'layouts/mixpanel'
    = csrf_meta_tags
    = stylesheet_link_tag    "application", :media => "all"
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://www.simmr.co/assets/logo_final.png", :rel => "image_src"}
    -#%meta{:content => "Life is too short to not make every day amazing. We curate unique experiences at the restaurants and bars you love, so you can experience them as no customer has ever before.", :name => "description"}
    %meta{content: "141737092659629", property: "fb:app_id"}
    %meta{content: "Simmr", property: "og:site_name"}
    - if content_for?(:head)
      = yield(:head)

  %body.ng-cloak{"data-spy"=>"scroll", "data-target" => ".scroll-menu"}
    = render 'layouts/primary_header'
    .main
      = yield
    #fb-root
      :javascript
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=141737092659629";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    = render 'layouts/footer'
    <script type="text/javascript" src="http://js.addthisevent.com/atemay.js"></script>
    :javascript
      addthisevent.settings({
          license   : "aao8iuet5zp9iqw5sm9z",
          mouse     : true,
          css       : true,
          outlook   : {show:true, text:"Outlook Calendar"},
          google    : {show:true, text:"Google Calendar"},
          yahoo     : {show:true, text:"Yahoo Calendar"},
          hotmail   : {show:false, text:"Hotmail Calendar"},
          ical      : {show:true, text:"iCal Calendar"},
          facebook  : {show:true, text:"Facebook Event"},
          callback  : ""
      }); 
    = javascript_include_tag "application", :defer => "defer"
    = javascript_include_tag "https://js.stripe.com/v2/", :defer => "defer"
    = javascript_tag "Stripe.publishableKey = '#{STRIPE_PUBLISHABLE_KEY}';", :defer => "defer"
    = filepicker_js_include_tag :defer => "defer"


   
-# can add a closer alert x thingie later or tweak it later...
  -if alert
    .alert
      %p.alert= alert
  -elsif notice
    .alert
      %p.notice= notice
